<!DOCTYPE html>
<html>

<head>
    <title name="sm_khgl">帮助中心</title>
    <% include ../../components/_head.art %>
    <style type="text/css">
        ul li {
            list-style-type: decimal;
            list-style-position: outside;
            font-size: 1.3rem;
            line-height: 23px;
            color: #999;
        }
    </style>
</head>

<body>
    <article class="wx_layout">
        <section class="wx_main" id="list">




        </section>
    </article>
    <% include ../../_foot.html %>
    <script src="../helpcenter/helpcenter.js"></script>
    <!--显示悬浮图标-->
    <script type="text/javascript">
        $(function () {
            initSuspendIcon();
        });
    </script>
    <script id="list_page" type="text/html">
            <div class="wx_functionbox">
                <p class="gntext i18n" name="sm_khglgnlb">热门问题</p>
                <ul class="gnlist " >
                     {{each hotlist as value i}}

                    <li onclick="findAnswar('{{value.pid}}');">
                        <p class="cont i18n" name="sm_jkhzjkd" >{{value.problem}}</p>
                        <i class="iconfont icon-rarrow"></i>
                    </li>
                 {{/each}}
            </ul>
            </div>
            <div class="wx_functionbox">
                <p class="gntext i18n" name="sm_khglgnlb">问题类型</p>
                <ul class="gnlist " >
                     {{each list as value i}}

                    <li onclick="findProblem({{value[0]}});">
                        <p class="cont i18n" name="sm_jkhzjkd" >{{value[1]}}</p>
                        <i class="iconfont icon-rarrow"></i>
                    </li>
                 {{/each}}
            </ul>
            </div>
        </script>
</body>

</html>