<!DOCTYPE html>
<html>

<head>
    <title name="sm_khgx">客户关系</title>
    <% include ../../components/_head.art %>
    <style>
        .wx_main {
            top: 44px;
            /*  同步客户关系数据按钮高度清空 bottom: 45px;*/
        }

        .wx_searchbox .searchbg {
            opacity: 1;
            border-radius: 4px;
        }

        .wx_searchbox .search_s {
            color: #3e7baf;
        }

        .wx_searchbox,
        .wx_searchboxbg {
            padding: 0px 0px;
        }
    </style>
    <link rel="stylesheet" href="../../css/weui-select.min.css">
</head>

<body>
    <header class="wx_searchbox">
        <div class="weui_search_bar">
            <form id="form" class="weui_search_outer">
                <div class="weui_search_inner">
                    <i class="weui_icon_search"></i>
                    <input type="search" class="weui_search_input i18n_ph" name="sm_qsrkhywycpxmc" id="querykey"
                        placeholder="请输入客户名称/业务员名称/产品线" value="" />
                    <input type="hidden" id="userid" value="" />
                    <a href="javascript:" class="weui_icon_clear"></a>
                </div>
                <label for="querykey" class="weui_search_text">
                    <i class="weui_icon_search"></i>
                    <span class="i18n" name="m_qsrgjz">请输入关键字</span>
                </label>
            </form>
            <a href="javascript:" class="weui_search_cancel i18n" name="com_cancel">取消</a>
        </div>
    </header>
    <article class="wx_layout">
        <section class="wx_main" id="infinitePage">
            <div class="wx_hyordermesbox">
                <ul class="wx_hycustomlist" id="list">
                </ul>
                <div class="weui-infinite-scroll">
                    <div class="infinite-preloader"></div>
                    <span class="i18n" name="sd_loading">正在加载</span>
                </div>
            </div>
        </section>
    </article>
    <!--    crm功能暂时屏蔽掉
        <footer class="wx_btnnext" id="wx_btnnextid" onclick="showMenberPopup();">同步客户关系数据</footer> 
    -->
    <% include ../../components/_foot.art %>
    <% include ../include/czyPopup.html %>
    <script src="../salesman/customerRelations.js"></script>
    <script id="list_page" type="text/html">
                {{each data as value i}}
                <li>
                    <p class="customlist_name">{{value.crmCustomerName}} ({{value.sapCustomerId}})</p>
                    <p class="customlist_detail"><span class="i18n" name="sm_ywy">业务员</span>：{{value.crmUserName}} <span>{{value.factoryName}}  {{value.pm}}</span></p>
                </li>
                {{/each}}
            </script>
</body>

</html>