<!DOCTYPE html>
<html>

<head>
    <title>我的二维码</title>
    <% include ../../components/_head.art %>
    <link rel="stylesheet" href="../../css/weui-select.min.css">
    <style>
        .wx_mainmesbox {
            margin-top: 30%;
        }
    </style>
</head>

<body>
    <article class="wx_layout">
        <input type="hidden" id="openid" value="" />
        <section class="wx_main">
            <div class="wx_mainmesbox" style="text-align: center;">
                <img src="" id="ewm" />
            </div>
        </section>
    </article>
    <% include ../../_foot.html %>
    <script src="../../js/oauth2.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        $(function () {
            wxconfig();
        });
    </script>
    <script src="../salesman/ewm.js"></script>
</body>

</html>