<!DOCTYPE html>
<html>

<head>
    <title name="sm_ddys">融资订单</title>
    <% include ../../components/_head.art %>
    <style>
        .wx_main {
            top: 89px;
        }

        .wx_searchbox .searchbg {
            opacity: 1;
            border-radius: 4px;
        }

        .wx_searchbox .search_s {
            color: #3e7baf;
        }

        .wx_searchbox,
        .wx_searchboxbg {
            padding: 0px 0px;
        }

        .size_a .price {
            color: #fe9311;
            margin-right: 10px;
        }

        .buybtn {
            position: absolute;
            right: 0px;
            bottom: 10px;
            border: 1px solid #fe9311;
            border-radius: 2px;
            color: #fe9311;
            padding: 0px 5px;
            font-size: 1.3rem;
            line-height: 22px;
        }

        .orderbtn .status {
            border: none;
            float: left;
            color: #3e7baf;
            padding: 0px;
            margin: 0px;
        }

        .wx_hyfilter li {
            width: 25%;
        }
    </style>
    <link rel="stylesheet" href="../../css/weui-select.min.css">
</head>

<body>
    <header class="wx_searchbox">
        <div class="weui_search_bar">
            <form id="form" class="weui_search_outer">
                <div class="weui_search_inner">
                    <i class="weui_icon_search"></i>
                    <input type="search" class="weui_search_input i18n_ph" name="sm_ssdd" id="querykey"
                        placeholder="搜索订单" value="" />
                    <a href="javascript:" class="weui_icon_clear"></a>
                </div>
                <label for="querykey" class="weui_search_text">
                    <i class="weui_icon_search"></i>
                    <span class="i18n" name="sm_ssdd">搜索订单</span>
                </label>
            </form>
            <a href="javascript:" class="weui_search_cancel i18n" name="com_cancel">取消</a>
        </div>
    </header>
    <article class="wx_layout">

        <ul class="wx_hyfilter">
            <input type="hidden" id="status01" value="3" />

            <li id="shStatus">
                <span class="i18n" name="com_kh">业务员审核中</span><span class="xl"></span>
            </li>

            <li style="position: relative;"><em id="dateli_start" name="com_ksrq" class="i18n">开始日期</em>
                <span class="xl"></span>
                <input type="text" id="date10Str_start" value=""
                    style="opacity: 0;top:0;position: absolute;left: 0px;width: 100%;" />
            </li>
            <li style="position: relative;"><em id="dateli_end" name="com_jsrq" class="i18n">结束日期</em>
                <span class="xl"></span>
                <input type="text" id="date10Str_end" value=""
                    style="opacity: 0;top:0;position: absolute;left: 0px;width: 100%;" />
            </li>
            <li id="sort">
                <span class="i18n" name="com_sorting">排序</span><span class="xl"></span>
            </li>
            <input type="hidden" id="start_date" value="" />
            <input type="hidden" id="end_date" value="" />

            <input type="hidden" id="orderName" value="" />
            <input type="hidden" id="order" value="" />
        </ul>

        <section class="wx_main" id="infinitePage">
            <div id="list"></div>
            <div class="weui-infinite-scroll">
                <div class="infinite-preloader"></div>
                <span class="i18n" name="sd_loading">正在加载</span>
            </div>
        </section>
    </article>
    <% include ../../components/_foot.art %>
    <script src="../salesman/financingList.js"></script>
    <script id="list_page" type="text/html">
            {{each data as value i}}
            {{if value.wbno01 != null }}
            <input type="hidden" value="{{value.wbno01}}" id="wbno01" />
            <div class="wx_hyordermesbox" id="{{value.fphm}}">
                <p class="ddnumber">{{value.fphm}}<span>（{{value.hyname}}）</span></p>
                <div class="ordermesbox">
                    <ul class="ordermes">
                        {{each value.mxlist as mx j}}
                        <li>
                            <p class="proname_a">
                                <em class="pm_{{i}}">{{mx.pm}}</em>
                                <span class="perty_a">{{mx.cz}}</span> {{if mx.pm == "DTY"}}
                                <span class="perty_a">{{mx.str02}}</span>
                                <span class="perty_a">{{mx.str03}}</span> {{else if (mx.pm == "切片" || mx.pm == "锦纶切片")}}
                                <span class="perty_a">{{mx.gg}}</span>
                                <span class="perty_a">{{mx.cd}}</span> {{else}}
                                <span class="perty_a">{{mx.wzlb}}</span> {{if mx.str04 != null}}
                                <span class="perty_a">{{mx.str04}}</span> {{/if}} {{if mx.str02 != null}}
                                <span class="perty_a">{{mx.str02}}</span> {{/if}} {{/if}}
                                &nbsp;
                                {{if mx.contractTypes == '1'}}
                                    <span class="i18n" name="sm_hya">合约A</span>
                                {{/if}}
                                {{if mx.contractTypes == '2'}}
                                    <span class="i18n" name="sm_hyb">合约B</span>
                                {{/if}}
                            </p>
                            {{if (mx.pm != "切片" && mx.pm != "锦纶切片")}}
                            <p class="size">{{mx.gg}}&nbsp;&nbsp;&nbsp;&nbsp;{{mx.cd}}</p>
                            {{/if}}
                            <p class="size_a">
                                <span class="price">￥<em>{{mx.price}}</em></span> <span class="i18n" name="sm_zl">重量</span>:{{mx.sl2}}{{mx.sldw2}}&nbsp;&nbsp;&nbsp;&nbsp;<span class="i18n" name="sm_xbs">箱包数</span>:{{mx.sl1}}
                            </p>
                            <div class="status">
                                {{if mx.shStatus == 0}} <span class="i18n" name="sm_dsh">已取消</span> 
                                {{else if mx.shStatus == 100}} <span class="i18n" name="sm_shz">待业务审核</span> 
                                {{else if mx.shStatus == 200}} <span class="i18n" name="sm_shz">待内勤审核</span> 
                                {{else if mx.shStatus == 300}} <span class="i18n" name="sm_yjj">业务员已拒绝</span> 
                                {{else if mx.shStatus == 400}} <span class="i18n" name="sm_ysh">内勤已审核</span> 
                                {{else if mx.shStatus == 500}} <span class="i18n" name="sm_yjj">内勤已拒绝</span>{{/if}}
                            </div>
                            <div class="buybtn" onclick="buyAgain('{{mx.hydm}}','{{value.hyname}}','{{mx.wzid}}','{{mx.depid2}}','{{mx.salesType}}','{{mx.contractTypes}}');"><span class="i18n" name="sm_zlyd">再来一单</span></div>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="time">{{#getDate(value.cdate,"yyyy-MM-dd HH:mm")}}
                        
                             <span class="xd i18n" name="com_promise"> 逸控代 </span>
                         
                        <div class="total"><span class="spnum i18n" name="sm_g">共</span><b>{{value.mxlist.length}}</b><span class="i18n" name="sm_jsp">件商品</span></span><span class="i18n" name="sm_hj">合计</span><span class="jg">￥<em>{{value.htamt}}</em></span></div>
                    </div>
                    {{if (value.couponType != null && value.couponAmt != null && value.couponAmt != 0)}}
                    <div class="time" style="border-top: 1px solid #ddd;">
                        {{value.couponName}}
                        <div class="total">
                            <span class="i18n" name="sm_yh">优惠</span><span class="jg">￥<em>{{value.couponAmt}}</em></span>
                        </div>
                    </div>
                    {{/if}} {{if (value.status == 100 || (value.htflag03 != null && value.htflag03 === 1))}}
                    <ul class="orderbtn">
                        {{if value.status01 == 0}}
                            <li class="status"><span class="i18n" name="sm_rzsqbjj">融资申请被拒绝</span></li>
                        {{/if}}
						{{if value.status01 == 3}}
                            <li class="status"><span class="i18n" name="sm_ywyshzj">业务员审核中(j)</span></li>
                        {{/if}}
                        {{if value.status01 == 4}}
                            <li class="status"><span class="i18n" name="sm_ywyshzj">内勤审核中</span></li>
                        {{/if}}
                        {{if value.status01 == 5}}
                            <li class="status"><span class="i18n" name="sm_drzsqsh">待融资申请审核</span></li>
                        {{/if}}
                        {{if value.status01 == 10}}
                            <li class="status"><span class="i18n" name="sm_drzhk">待融资还款</span></li>
                        {{/if}}
						{{if value.status01 == 11}}
                            <li class="status"><span class="i18n" name="sm_ywyshzh">业务员审核中(h)</span></li>
                        {{/if}}
                        {{if value.status01 == 12}}
                            <li class="status"><span class="i18n" name="sm_rzhkz">融资还款中</span></li>
                        {{/if}}
                        {{if value.status01 == 100}}
                            <li class="status"><span class="i18n" name="sm_rzhkwc">融资还款完成</span></li>
                        {{/if}}

                        {{if (value.htflag03 != null && value.htflag03 === 1)}}
                        <li onclick="qxOrder('{{value.fphm}}');"><span class="i18n" name="com_cancel">取消</span></li>
                        {{/if}} {{if (value.status == 100 && (value.status01 == null))}}
                        <li onclick="orderAuditView('{{value.fphm}}', '{{value.mxlist[0].pm}}')"><span class="i18n" name="sm_sh">审核</span></li>
                        {{/if}}
                        {{if (value.status == 100 && value.status01 != null && value.status01 == 3 )}}
                        <li onclick="orderAuditViewFc('{{value.fphm}}', '{{value.mxlist[0].pm}}','{{value.status01}}')"><span class="i18n" name="rzsm_sh">融资审核</span></li>
                        {{/if}}
                    </ul>
                    {{/if}}
                </div>
            </div>
            {{/if}}
            {{/each}}
        </script>
</body>

</html>