<!DOCTYPE html>
<html>

<head>
    <title name="sm_wldzgx">物料对照关系</title>
    <% include ../../components/_head.art %>
    <style>
        .wx_main {
            top: 44px;
            bottom: 45px;

        }

        .wx_searchbox .searchbg {
            opacity: 1;
            border-radius: 4px;
        }

        .wx_searchbox .search_s {
            color: #3e7baf;
        }

        .wx_searchbox,
        .wx_searchboxbg {
            padding: 0px 0px;
        }

        .customlist_detail span {
            margin-left: 10px;
        }

        .customlist_detail span:nth-child(1) {
            margin-left: 0px;
        }
    </style>
    <link rel="stylesheet" href="../../css/weui-select.min.css">
</head>

<body>
    <header class="wx_searchbox">
        <div class="weui_search_bar">
            <form id="form" class="weui_search_outer">
                <div class="weui_search_inner">
                    <i class="weui_icon_search"></i>
                    <input type="search" class="weui_search_input i18n_ph" name="m_qsrgjz" id="querykey"
                        placeholder="请输入关键字" value="" />
                    <a href="javascript:" class="weui_icon_clear"></a>
                </div>
                <label for="querykey" class="weui_search_text">
                    <i class="weui_icon_search"></i>
                    <span class="i18n" name="m_qsrgjz">请输入关键字</span>
                </label>
            </form>
            <a href="javascript:" class="weui_search_cancel i18n" name="com_cancel">取消</a>
        </div>
    </header>
    <article class="wx_layout">
        <section class="wx_main" id="infinitePage">
            <div class="wx_hyordermesbox">
                <ul class="wx_hycustomlist" id="list">
                </ul>
                <div class="weui-infinite-scroll">
                    <div class="infinite-preloader"></div>
                    <span class="i18n" name="sd_loading">正在加载</span>
                </div>
            </div>

        </section>
    </article>
    <footer class="wx_btnnext i18n" name="sm_xz" onclick="toAddPage();" id="wx_btnnextid">新增</footer>
    <% include ../../components/_foot.art %>
    <script src="../salesman/materialRelation.js"></script>
    <script id="list_page" type="text/html">
                {{each data as value i}}
                <li onclick="toEditPage('{{value.pkid}}');">
                    <p class="customlist_name">
                        {{value.pm}} {{value.cz}} {{value.gg}}  {{value.typ}}                   
                    </p>
                    <p class="customlist_detail">
                        {{if value.pm == "DTY"}}
                        <span><span class="i18n" name="sm_dysz">对应纱种</span>：{{value.szcode}}（{{value.sz}}）</span>
                        {{else if value.pm == "FDY"}}
                        <span><span class="i18n" name="sm_dsjz">单丝净重</span>：{{value.singleWeight}}  <span class="i18n" name="sm_xbjz">箱包净重</span>：{{value.bagWeight}}</span>
                        {{else if value.pm == "POY"}}
                        <span><span class="i18n" name="sm_xbjz">箱包净重</span>：{{value.bagWeight}}</span>
                        {{else}}
                        <span> <span class="i18n" name="sm_xbjz">箱包净重</span>：{{value.bagWeight}}</span>
                        {{/if}}
                    </p>
                    <i class="iconfont icon-rarrow"></i>
                </li>
                {{/each}}               
            </script>
</body>

</html>