<!DOCTYPE html>
<html>

<head>
  <title>自主注册客户</title>
  <% include ../../components/_head.art %>
  <script>
  </script>
  <style>
    .wx_main {
      top: 44px;
    }

    .wx_searchbox,
    .wx_searchboxbg {
      padding: 0px 0px;
    }
  </style>
</head>

<body>

  <header class="wx_searchbox">
    <div class="weui_search_bar">
      <form id="form" class="weui_search_outer">
        <div class="weui_search_inner">
          <i class="weui_icon_search"></i>
          <input type="search" class="weui_search_input noi18n_ph" name="sm_ssdd" id="querykey" placeholder="搜索客户"
            value="" />
          <a href="javascript:" class="weui_icon_clear"></a>
        </div>
        <label for="querykey" class="weui_search_text">
          <i class="weui_icon_search"></i>
          <span class="noi18n" name="sm_ssdd">搜索客户</span>
        </label>
      </form>
      <a href="javascript:" class="weui_search_cancel noi18n" name="com_cancel">取消</a>
    </div>
  </header>
  <article class="wx_layout">
    <section class="wx_main">
      <ul class="wx_hyfilter">
        <li class="current" onclick="setaction(0,1)" id="1">待操作<span class="xl"></span></li>
        <li onclick="setaction(1,2)" id="2">已分配<span class="xl"></span></li>
        <li onclick="setaction(2,3)" id="3">不分配<span class="xl"></span></li>
      </ul>
      <input type="hidden" name="repid" id="repid" value="">
      <input type="hidden" name="action" id="action" value="0">
      <br /><br />
      <div id="list">

      </div>
    </section>
  </article>
  <% include ../../components/_foot.art %>
  <% include ../include/ygPopup.html %>
  <script src="../salesman/menberManagerLeader.js"></script>

  <script id="list_page" type="text/html">
         {{each data as value i}}
        
        <div class="wx_allot">
          <div class="wx_allotitem">
            <div class="info">
              <div class="tit">
                <h3>{{value.mbname}}</h3>
                <span>{{value.coplxr}}/{{value.copmobile}}</span>
                <em>{{#getDate(value.optdate,"yyyy-MM-dd")}}</em>
              </div>
              <div class="cont"  >
                <div class="left">
                  <p >经营范围：{{value.jyfw}}</p>
                  <p>拿货渠道：{{value.gtjg}}</p>
                </div>
                <div class="btn">
                  <a class="allotbtn" onclick="dakaifp({{value.sendid}})" href="javascript:void(0);" >分配</a>
                  <a class="noallotbtn"  onclick="dakaibfp({{value.sendid}})" href="javascript:void(0);" >不分配</a>
                </div>
              </div>
            </div> 
      </div>
      <div class="box allot" id="{{value.sendid}}2" >
        <div class="flex">
          <span>分配给</span>
          <div class="sel">
           <div class="sel" id="yg{{value.sendid}}" onclick="showYgPopupById('{{value.repid}}','{{value.sendid}}')">请选择
              <span class="xl"></span></div>
          </div>
          <a class="btn" href="#" onclick="fenpei({{value.sendid}})">确定</a>
          <a class="btn cancel" href="#" onclick="guanbi({{value.sendid}})">取消</a>
        </div>
      </div>
      <div class="box noallot" id="{{value.sendid}}3" >
        <div class="flex">
          <span>理由</span>
          <div class="inp"><input type="text" name="jjly" id="jjly{{value.sendid}}"maxlength="50" placeholder="请输入你的理由（不超过50字）"></div>
          <a class="btn" href="#" onclick="jujue({{value.sendid}})">确定</a>
        </div>
      
    </div>
    </div>

    {{/each}}
      </script>

  <script id="fenpei" type="text/html">
         {{each data as value i}}
   
         <div class="wx_allot">
      <div class="wx_allotitem">
        <div class="info">
          <div class="tit">
            <h3>{{value.mbname}}</h3>
            <span>{{value.coplxr}}/{{value.copmobile}}</span>
            <em>{{#getDate(value.optdate,"yyyy-MM-dd")}}</em>
          </div>
          <div class="cont">
            <div class="left">
              <p>经营范围：{{value.jyfw}}</p>
              <p>拿货渠道：{{value.gtjg}}</p>
            </div>
          </div>
        </div> 
      </div>
    </div>
 
    {{/each}}
      </script>


</body>

</html>