<!DOCTYPE html>
<html>

<head>
  <title>信息反馈列表</title>
  <% include ../../components/_head.art %>
  <link rel="stylesheet" href="../../css/weui-select.min.css">
  <style>
    .wx_main {
      top: 89px;
    }

    .wx_searchbox .searchbg {
      opacity: 1;
      border-radius: 4px;
    }

    .wx_searchbox .search_s {
      color: #3e7baf;
    }
  </style>
</head>

<body>
  <header class="wx_searchbox">
    <div class="weui_search_bar"
      style="padding: 1px 2px;border-top: 0px solid #85deee;border-bottom: 0px solid #85deee;">
      <form id="form" class="weui_search_outer">
        <div class="weui_search_inner">
          <i class="weui_icon_search"></i>
          <input type="search" class="weui_search_input i18n_ph" name="sm_ssdd" id="querykey" placeholder="搜索"
            value="" />
          <a href="javascript:" class="weui_icon_clear"></a>
        </div>
        <label for="querykey" class="weui_search_text">
          <i class="weui_icon_search"></i>
          <span class="i18n" name="xxfk_ss">搜索</span>
        </label>
      </form>
      <a href="javascript:" class="weui_search_cancel i18n"
        style="border-top: 0px solid #85deee;border-bottom: 0px solid #85deee;" name="com_cancel">取消</a>
    </div>
  </header>
  <article class="wx_layout">



    <ul class="wx_hyfilter wx_hyfilter3" style="top:44px;z-index: 199;">
      <li class="current" id="whois">我收到的<span class="xl"></span></li>
      <li id="xxlx">类型<span class="xl"></span></li>
      <li id="xxzt">状态<span class="xl"></span></li>
    </ul>
    <section class="wx_main hy_main3" id="infinitePage">
      <input type='hidden' name='isReport' id='isReport' value='2' />
      <input type='hidden' name='whType' id='whType' value='' />
      <input type='hidden' name='isRead' id='isRead' value='' />

      <div id="list"></div>
      <div class="weui-infinite-scroll">
        <div class="infinite-preloader"></div>
        <span class="i18n" name="sd_loading">正在加载</span>
      </div>
    </section>
  </article>
  <script id="list_page1" type="text/html">
    <div class="sb_main">
      {{each data as value i}}
      <div class="sb_box" onclick="toInfo({{value.pkid}})">
        <div class="sb_info">
          <p class="sb_title">
          备注:{{value.sapReports.problem}}
          <span class="redMsg" isRead="{{value.isRead}}"></span>
          </p>
          <p class="sb_descript">
          <span>{{value.reportUserName}}</span><em>|</em>
          <span>
          {{if value.whType==1}}随手记{{/if}}
          {{if value.whType==2}}日报{{/if}}
          {{if value.whType==3}}周报{{/if}}
          </span>
          <em>|</em>
          <span>
          {{#getDate(value.cdate,"yyyy-MM-dd HH:mm:ss")}}
          </span>
          </p>
        </div>
      </div>
    {{/each}}
      </div>
</script>
  <script id="list_page2" type="text/html">
    <div class="sb_main">
      {{each data as value i}}
      <div class="sb_box" onclick="toInfo({{value.pkid}})">
        <div class="sb_info">
          <p class="sb_title">
          备注:{{value.sapReports.problem}}
          <span class="redMsg" isRead="{{value.isRead}}"></span>
          </p>
          <p class="sb_descript">
          <span>{{value.receiveUserName}}</span><em>|</em>
          <span>
          {{if value.whType==1}}随手记{{/if}}
          {{if value.whType==2}}日报{{/if}}
          {{if value.whType==3}}周报{{/if}}
          </span>
          <em>|</em>
          <span>
          {{#getDate(value.cdate,"yyyy-MM-dd HH:mm:ss")}}
          </span>
          </p>
        </div>
      </div>
    {{/each}}
      </div>
</script>

  <script type="text/javascript">
    window.onpageshow = function (event) {
      if (event.persisted) {
        window.location.reload();
      }
    };

  </script>

  <footer class="wx_btnnext i18n" name="xxfk_sbxx" onclick="goReportInformation();">上报信息</footer>
  <% include ../../components/_foot.art %>
  <script src="../salesman/messageSettingsList.js"></script>
</body>

</html>