<!DOCTYPE html>
<html>

<head>
    <title>订单预审</title>
    <% include ../../components/_head.art %>
        <link rel="stylesheet" href="../../css/weui-select.min.css">
        <style>
        .wx_main {
            bottom: 49px;
        }
        
        .wx_tasdelist {
            margin-bottom: 20px;
        }
        
        .selectbox {
            padding-right: 10px !important;
        }
        
        .selectbox em {
            border: 1px solid #ccc;
            border-radius: 2px;
            box-sizing: border-box;
            color: #333;
            display: block;
            float: right;
            font-size: 1.4rem;
            height: 26px;
            line-height: 24px;
            margin-left: 5px;
            text-align: center;
            width: 55px;
        }
        
        .selectbox em.curr {
            background: #3e7baf none repeat scroll 0 0;
            border: medium none;
            color: #fff;
            line-height: 26px;
        }
        </style>
</head>

<body>
    <article class="wx_layout">
        <input type="hidden" id="couponType" value=""/> 
        <section class="wx_main" id="list"></section>
    </article>
    <footer class="wx_audit" id="footer" style="display: none;">
        <div class="allsel current" onclick="doCheckAll(this)"><i class="iconfont icon-checkbox"></i><span class="noi18n" name="com_selectAll">全选</span></div>
        <ul class="auditbtn">
            <li onclick="doAgree();" class="noi18n" name="com_approve">审核通过</li>
            <li onclick="doReject();" class="noi18n" name="com_unapprove">审核拒绝</li>
        </ul>
    </footer>
    <% include ../../components/_foot.art %>
        <script src="../salesman/orderAuditView.js"></script>
        <script id="list_page" type="text/html">
            <div class="wx_ordernum">{{data.fphm}}<span>{{#getDate(data.cdate,"yyyy-MM-dd HH:mm")}}</span></div>
            <div class="wx_clientname">{{data.hyname}} {{if data.htstr03 != null}} ({{data.htstr03}}) {{/if}} {{if data.htstr04 != null}}
                <span onclick="doCall('{{data.htstr04}}')"></span> {{/if}}
            </div>
            <ul class="wx_tasdelist">
                {{each data.mxlist as mx i}} {{if mx.shStatus == 100}}
                <li class="current" id="{{mx.id.fphm}}_{{mx.id.htxh}}">
                    <input type="hidden" id="fphm_{{mx.id.fphm}}_{{mx.id.htxh}}" value="{{mx.id.fphm}}" />
                    <input type="hidden" id="htxh_{{mx.id.fphm}}_{{mx.id.htxh}}" value="{{mx.id.htxh}}" />
                    <div class="promes">
                        <i class="iconfont icon-checkbox isChecked" checkid="{{mx.id.fphm}}_{{mx.id.htxh}}" onclick="doCheck('{{mx.id.fphm}}_{{mx.id.htxh}}')"></i>
                        <p class="proname_a">
						    <input type="hidden" id="depid_{{mx.id.fphm}}_{{mx.id.htxh}}" value="{{mx.depid2}}" />
                            <input type="hidden" id="pm_{{mx.id.fphm}}_{{mx.id.htxh}}" value="{{mx.pm}}" /> {{mx.pm}}
                            <span class="perty_a">{{mx.cz}}</span> {{if mx.pm == "DTY"}}
                            <span class="perty_a">{{mx.str02}}</span>
                            <span class="perty_a">{{mx.str03}}</span> {{else}}
                            <span class="perty_a">{{mx.wzlb}}</span> {{if mx.str04 != null}}
                            <span class="perty_a">{{mx.str04}}</span> {{/if}} {{if mx.str02 != null}}
                            <span class="perty_a">{{mx.str02}}</span> {{/if}} {{/if}}
                        		&nbsp;
                            {{if mx.contractTypes == '1'}}
                                合约A
                            {{/if}}
                            {{if mx.contractTypes == '2'}}
                                合约B
                            {{/if}}
                            <input class="contractTypes" id="contractTypes_{{mx.id.fphm}}_{{mx.id.htxh}}" type="hidden" value="{{mx.contractTypes}}" />
                            <input id="price_{{mx.id.fphm}}_{{mx.id.htxh}}" type="hidden" value="{{mx.price}}" />
                        </p>
                        <p class="size_a">
                            {{if mx.pm != "切片" && mx.pm != "锦纶切片"}} {{mx.gg}}&nbsp;&nbsp; {{/if}} {{mx.cd}}
                        </p>
                        <div id="price_a_{{mx.id.fphm}}_{{mx.id.htxh}}" class="price_a">￥<em>{{mx.price}}</em></div>
                    </div>
                    <dl class="amendbox">
                        <dt {{if ((mx.isTp ==false)&&((data.couponType == null && mx.contractTypes != 1 && mx.contractTypes != 2) || (data.couponType != 2 && data.couponType != 3 && data.couponType != 4 && mx.contractTypes != 1 && mx.contractTypes != 2)))}} onclick="showGg('{{mx.pm}}','{{mx.id.fphm}}_{{mx.id.htxh}}')" {{/if}}>
                            <span class="noi18n" name="com_gg">规格：</span>
                            <input class="gg" id="gg_{{mx.id.fphm}}_{{mx.id.htxh}}" type="text" placeholder="请选择" readonly value="{{mx.gg}}" />
                            {{if ((mx.isTp ==false)&&((data.couponType == null && mx.contractTypes != 1 && mx.contractTypes != 2) || (data.couponType != 2 && data.couponType != 3 && data.couponType != 4 && mx.contractTypes != 1 && mx.contractTypes != 2)))}} <i class="iconfont icon-xiala"></i> {{/if}}
                        </dt>
                        <dt {{if ((mx.isTp ==false)&&((data.couponType == null && mx.contractTypes != 1 && mx.contractTypes != 2) || (data.couponType != 2 && data.couponType != 3 && data.couponType != 4 && mx.contractTypes != 1 && mx.contractTypes != 2)))}} onclick="showCz('{{mx.pm}}','{{mx.id.fphm}}_{{mx.id.htxh}}')" {{/if}}>
                            <span class="noi18n" name="com_ph">批号：</span>
                            <input class="cz" id="cz_{{mx.id.fphm}}_{{mx.id.htxh}}" type="text" placeholder="请选择" readonly value="{{mx.cz}}" />
                            {{if ((mx.isTp ==false)&&((data.couponType == null && mx.contractTypes != 1 && mx.contractTypes != 2) || (data.couponType != 2 && data.couponType != 3 && data.couponType != 4 && mx.contractTypes != 1 && mx.contractTypes != 2)))}} <i class="iconfont icon-xiala"></i> {{/if}}
                        </dt>
                        <dt {{if ((mx.isTp ==false)&&((data.couponType == null && mx.contractTypes != 1 && mx.contractTypes != 2) || (data.couponType != 2 && data.couponType != 3 && data.couponType != 4 && mx.contractTypes != 1 && mx.contractTypes != 2)))}} onclick="showCdPopupById('{{mx.id.fphm}}_{{mx.id.htxh}}')" {{/if}}>
                            <span class="noi18n" name="mi_cd">等级：</span>
                            <input class="cd noi18n_ph" id="cd_{{mx.id.fphm}}_{{mx.id.htxh}}" type="text" placeholder="请选择" readonly value="{{mx.cd}}" name="com_choosetip" />
                             {{if ((mx.isTp ==false)&&((data.couponType == null && mx.contractTypes != 1 && mx.contractTypes != 2) || (data.couponType != 2 && data.couponType != 3 && data.couponType != 4 && mx.contractTypes != 1 && mx.contractTypes != 2)))}} <i class="iconfont icon-xiala"></i> {{/if}}
                        </dt>
                    </dl>
                    {{if mx.pm == "POY"}}
                    <div class="selectbox csselect" id="str02_{{mx.id.fphm}}_{{mx.id.htxh}}" {{if mx.str02 != "车丝"}}style="display:none;"{{/if}}>
                        <span>车丝：</span>
                        <em {{if mx.str02 == "车丝"}}class="curr"{{/if}} val="车丝">是</em>
                        <em val="">否</em>
                    </div>
                    {{/if}}
                    <div class="selectbox xbjzselect" id="packstr_{{mx.id.fphm}}_{{mx.id.htxh}}">
                        <span class="noi18n" name="com_packetnetweight">箱包净重：</span> {{if packstrList != null}} {{each packstrList as v j}} {{if (mx.packstr != null && mx.packstr != "")}} {{if (mx.packstr == v)}}
                        <em class="xbjz curr" val="{{v}}">{{v}}{{mx.sldw2}}</em> {{else}}
                        <em class="xbjz" val="{{v}}">{{v}}{{mx.sldw2}}</em> {{/if}} {{else}} {{if j == 0}}
                        <em class="xbjz curr" val="{{v}}">{{v}}{{mx.sldw2}}</em> {{else}}
                        <em class="xbjz" val="{{v}}">{{v}}{{mx.sldw2}}</em> {{/if}} {{/if}} {{/each}} {{else}} {{if (mx.packstr != null && mx.packstr != "")}}
                        <em class="xbjz curr" val="{{mx.packstr}}">{{mx.packstr}}{{mx.sldw2}}</em> {{else}}
                        <em class="xbjz curr" val="">不定重</em> {{/if}} {{/if}}
                    </div>
                    {{if (mx.pm == "FDY" && mx.lsxs != null && mx.lsxs != 0)}}
                    <div class="selectbox" style="padding-right: 10px; text-align: right;"><span class="noi18n" name="or_perweight">单丝净重：</span> {{mx.lsxs}}{{mx.sldw2}}
                    </div>
                    {{/if}}
                    <dl class="fillbox">
                        <dt class="zlbox">
                            <span class="zl noi18n" name="com_zl">重量：</span>
                            <input id="sl2_{{mx.id.fphm}}_{{mx.id.htxh}}" name="" type="number" placeholder="0.00" value="{{mx.sl2}}" {{if  mx.isTp !=false || (data.couponType != null && (data.couponType == 2 || data.couponType == 3 || data.couponType == 4))}} readonly {{/if}} />
                            <span class="kg">{{mx.sldw2}}</span>
                        </dt>
                        <dt class="xbsbox">
                            <span class="xbs noi18n" name="mi_xbs">箱包数：</span>
                            <input id="sl1_{{mx.id.fphm}}_{{mx.id.htxh}}" name="" type="number" placeholder="0" value="{{mx.sl1}}" onchange="changeSl1('{{mx.id.fphm}}_{{mx.id.htxh}}');" {{if mx.isTp !=false ||(data.couponType != null && (data.couponType == 2 || data.couponType == 3 || data.couponType == 4))}} readonly {{/if}} />
                        </dt>
                    </dl>
                    {{if data.couponType!=null && data.couponType==13}}
                    <dl class="fillbox">
                        <dt class="zlbox">
                            <span class="zl noi18n" name="com_zl">货物金额：</span>
                            <input id="htamt_{{mx.id.fphm}}_{{mx.id.htxh}}" name="" type="text" placeholder="0.00" value="{{mx.htamt}}" readonly  />
                            <span class="kg">￥</span>
                        </dt>
                        <dt class="xbsbox">
                            <span class="xbs noi18n" name="mi_xbs">利息：</span>
                            <input id="rateAmt_{{mx.id.fphm}}_{{mx.id.htxh}}" name="" type="text" placeholder="0" value="{{#getAdd(mx.rateAmt,mx.brateFeeAmt)}}￥" readonly />
                        </dt>
                    </dl>
                    {{if (mx.brateAmt!=0)}}
                    <dl class="fillbox">
                        <dt class="zlbox">
                            <span class="zl noi18n" name="com_zl">保证金：</span>
                            <input id="brateAmt_{{mx.id.fphm}}_{{mx.id.htxh}}" name="" type="text" placeholder="0.00" value="{{mx.brateAmt}}" readonly />
                            <span class="kg">￥</span>
                        </dt>
                    </dl>
                    {{/if}}
                    {{/if}}
                    <div class="selectbox ">
                        <span class="noi18n" name="com_remark">备注:</span>
                        <input id="remark_{{mx.id.fphm}}_{{mx.id.htxh}}" class="noi18n_ph" type="text" {{if mx.pm=="FDY" }} placeholder="请输入颗数" name="or_enamount" {{else}} placeholder="请输入备注" name="or_enremark" {{/if}} value="{{mx.remark}}" />
                    </div>
                   {{if (mx.pm != "锦纶切片" && mx.pm != "短纤")}}
					<div class="selectbox ">
                        <span>阳光折扣:</span>
                        <input id="sunshineDiscount_{{mx.id.fphm}}_{{mx.id.htxh}}"  type="text"  oninput="if(value.length>10)value=value.slice(0,10)"  placeholder="请输入阳光折扣"  value="{{mx.sunshineDiscount}}" />
                    </div>
					<div class="selectbox ">
                        <span>折扣原因:</span>
                        <input id="sunshineRemark_{{mx.id.fphm}}_{{mx.id.htxh}}"    type="text"    maxlength ="250"   placeholder="请输入折扣原因"   value="{{mx.sunshineRemark}}" />
                    </div>
					<div class="selectbox notes">
                        <span>政策优惠:</span>
                        <input id="policyPreferences_{{mx.id.fphm}}_{{mx.id.htxh}}" type="text"  oninput="if(value.length>10)value=value.slice(0,10)"   placeholder="请输入政策优惠"  value="{{mx.policyPreferences}}" />
                    </div>
                    {{/if}}
                </li>
                {{/if}} {{/each}}
            </ul>
            
            <ul class="wx_setlist" style="margin-bottom: 10px;display:none;" id="dxLump">
			    <!--短纤工厂选择 -->
                <li class="jhway" id="dx" style="display:none;"><span class="noi18n" name="or_gcmc">工厂名称</span>
                    <em class="way i18n gcs" name="or_fjgc" onclick="lightThis($(this),0)" val="9510" >福建</em>
                    <em class="way i18n gcs" name="or_gxgc" onclick="lightThis($(this),0)" val="3100" >高新</em>
                    <em class="way i18n gcs" name="or_gxgc" onclick="lightThis($(this),0)" val="9610" >逸达</em>
					<em class="way i18n gcs" name="or_hmgc" onclick="lightThis($(this),0)" val="6510" >恒鸣</em>
                </li>
				 <!--锦纶切片工厂选择 -->
				<li class="jhway" id="jlqp" style="display:none;"><span class="i18n" name="or_gcmc">工厂名称</span>
                    <em class="way i18n gcs" name="or_fjgc" onclick="lightThis($(this),0)" val="J000" >锦纶</em>
                    <em class="way i18n gcs" name="or_gxgc" onclick="lightThis($(this),0)" val="JA00" >逸宸</em>
                </li>
                
                <li class="jhway" id="sheng_id" style="display:none;" ><span class="noi18n" name="or_sheng">省</span>
                     <input type="text" id="province_text" placeholder="省" readonly='readonly' class="hynewlytext" onchange="lightThis($(this),1)" />
                     <input type="hidden" id="provinceVal" value="" />
                </li>
                
                 <li class="jhway" id="shi_id" style="display:none;" ><span class="noi18n" name="or_shi">市</span>
                     <input type="text" id="city_text" placeholder="市" readonly='readonly' class="hynewlytext" onchange="lightThis($(this),2)" />
                     <input type="hidden" id="cityVal" value="" />
                </li>
                
                 <li class="jhway" id="town_id" style="display:none;" ><span class="noi18n" name="or_town">区</span>
                     <input type="text" id="town_text" placeholder="区" readonly='readonly' class="hynewlytext" onchange="lightThis($(this),3)" />
                     <input type="hidden" id="townVal" value="" />
                </li>
                
                <li class="jhway" id="street_id" style="display:none;" ><span class="noi18n" name="or_street">镇</span>
                     <input type="text" id="street_text" placeholder="镇" readonly='readonly' class="hynewlytext" onchange="lightThis($(this),4)" />
                     <input type="hidden" id="streetVal" value="" />
                </li>
                
                
                <li class="jhway" id="fare_price_id" style="display:none;" ><span class="noi18n" name="or_yunfei">运费（元/吨）</span>
                     <input type="text" id="fare_price_text" readonly="readonly" class="hynewlytext" />
                </li>
            </ul>
            <ul class="wx_setlist" style="margin-bottom: 10px;">
            	{{if data.wbno06!=null}}
				 <li style="text-align: right; padding-right: 10px;">
				 	<span class="noi18n" name="or_billingcompany">会员标识</span> 
				 	{{data.wbno06}}
                 </li>
                 {{/if}}
            	{{if data.couponType!=null}}
				 <li style="text-align: right; padding-right: 10px;">
				 	<span class="noi18n" name="or_billingcompany">优惠类型</span> 
				 	{{if data.couponType==0}}普通订单{{/if}}
				 	{{if data.couponType==1}}优惠券{{/if}}
				 	{{if data.couponType==2}}限时抢购{{/if}}
				 	{{if data.couponType==3}}限时竞拍{{/if}}
				 	{{if data.couponType==4}}优惠拼团{{/if}}
				 	{{if data.couponType==6}}秒杀{{/if}}
				 	{{if data.couponType==7}}逸白条{{/if}}
				 	{{if data.couponType==10}}限时购{{/if}}
				 	{{if data.couponType==12}}欠款{{/if}} 
				 	{{if data.couponType==13}}逸信代{{/if}}
                 </li>
                 {{/if}}
			     {{if data.tradeTerms != null}} 
				 <li><span>付款条件</span>
				 {{if paymentTermsList.length == 1}} 
				 <input type="text" value="{{paymentTermsList[0].paymentTermsName}} " id="paymentTerms"  class="hynewlytext " readonly />
                 {{else}}
                 <input type="text" placeholder="请选择" id="paymentTerms" value="{{paymentTermsList[0].paymentTermsName}}" class="i18n_ph" name="com_qingxuanze" readonly /><i class="iconfont icon-rarrow"></i>
                 {{/if}}
				 </li>
                 <input type="hidden" id="paymentCode" value="{{paymentTermsList[0].paymentTermsCode}}"/> 
			     <li class="jhway" id="myFlag">
                        <span>国际贸易条款</span>                    
                        <em class="way {{if data.tradeTerms == 'FOB'}}current{{/if}}"  value="FOB" >FOB</em>
                        <em class="way {{if data.tradeTerms == 'CIF'}}current{{/if}} " value="CIF" >CIF</em>
                 </li>
                 <li><span class="noi18n" name="sh_port">港口</span>
				 {{if portList.length == 1}} 
				 <input type="text" value="{{portList[0].str02}}-{{portList[0].str01}}" id="port" class="hynewlytext " readonly />
                 {{else}}
                 <input type="text" placeholder="请选择" id="port" value="{{portList[0].str02}}-{{portList[0].str01}}" class="i18n_ph" name="com_qingxuanze" readonly /><i class="iconfont icon-rarrow"></i>
                 {{/if}}
				 </li>
                 <input type="hidden" id="portCode" value="{{portList[0].pkid}}"/> 
                 <input type="hidden" id="freightAmt" value="{{portList[0].carriage}}"/> 
				 {{else}}
				 <input type="hidden" value="" id="tradeTerms" />
				 <li class="jhway"><span class="noi18n" name="or_deliveryway">交货方式</span> {{if data.htflag06 == 3}}
                    <em class="way current noi18n" name="or_delivery">配送</em> {{else}}
                    <em class="way current noi18n" name="or_getitself">自提</em> {{/if}}
                 </li>
                 <input type="hidden" id="psfs" value="{{data.htflag06}}" />
                 <li style="text-align: right; padding-right: 10px;"><span class="noi18n" name="or_billingcompany">开票单位</span> {{data.kpname}}
                 </li>
				 {{/if}}
                 <li>
                    <span class="noi18n" name="or_enquirydate">要货日期</span>
                    <input type="text" class="noi18n" name="com_choosetip" placeholder="请选择" id="date10Str" value="{{#getDate(data.date10,"yyyy-MM-dd")}}" readonly />
                    <i class="iconfont icon-rarrow"></i>
                </li>
				 {{if data.tradeTerms != null}}
                 <li class="jhway" id="commissionFlag">
                        <span>佣金收取方式</span>                    
                        <em class="way {{if data.commissionType == '1'}}current{{/if}}"  value="1" >总价</em>
                        <em class="way {{if data.commissionType == '2'}}current{{/if}} " value="2" >单价</em>
                 </li>
				 <li class="jhway" >
                        <span>佣金</span>                    
                        <input type="text" id="commission" class="hynewlytext" placeholder="请输入佣金" />
                 </li>
				 {{/if}}
            </ul>
        </script>
        <% include ../include/ggPopup.html %>
            <% include ../include/ggPopup2.html %>
                <% include ../include/czPopup.html %>
                    <% include ../include/czPopup2.html %>
                        <% include ../include/cdPopup.html %>
</body>

</html>
