<!DOCTYPE html>
<html>

<head>
    <title name="sm_ddys">订单预审</title>
    <% include ../../components/_head.art %>
    <style>
        .wx_main {
            top: 44px;
        }

        .wx_searchbox,
        .wx_searchboxbg {
            padding: 0px 0px;
        }

        .size_a .price {
            color: #fe9311;
            margin-right: 10px;
        }

        .buybtn {
            position: absolute;
            right: 0px;
            bottom: 10px;
            border: 1px solid #fe9311;
            border-radius: 2px;
            color: #fe9311;
            padding: 0px 5px;
            font-size: 1.3rem;
            line-height: 22px;
        }

        .orderbtn .status {
            border: none;
            float: left;
            color: #3e7baf;
            padding: 0px;
            margin: 0px;
        }
    </style>
</head>

<body>
    <header class="wx_searchbox">
        <div class="weui_search_bar">
            <form id="form" class="weui_search_outer">
                <div class="weui_search_inner">
                    <i class="weui_icon_search"></i>
                    <input type="search" class="weui_search_input noi18n_ph" name="sm_ssdd" id="querykey"
                        placeholder="搜索订单" value="" />
                    <a href="javascript:" class="weui_icon_clear"></a>
                </div>
                <label for="querykey" class="weui_search_text">
                    <i class="weui_icon_search"></i>
                    <span class="noi18n" name="sm_ssdd">搜索订单</span>
                </label>
            </form>
            <a href="javascript:" class="weui_search_cancel noi18n" name="com_cancel">取消</a>
        </div>
    </header>
    <article class="wx_layout">
        <section class="wx_main" id="infinitePage">
            <div id="list"></div>
            <div class="weui-infinite-scroll">
                <div class="infinite-preloader"></div>
                <span class="noi18n" name="sd_loading">正在加载</span>
            </div>
        </section>
    </article>
    <% include ../../components/_foot.art %>
    <script src="../salesman/orderAuditList.js"></script>
    <script id="list_page" type="text/html">
            {{each data as value i}}
            <div class="wx_hyordermesbox" id="{{value.fphm}}">
                <p class="ddnumber">{{value.fphm}}<span>（{{value.hyname}}）</span></p>
                <div class="ordermesbox">
                    <ul class="ordermes">
                        {{each value.mxlist as mx j}} {{if (mx.shStatus == 100 || mx.shStatus == 200)}}
                        <li>
                            <p class="proname_a">
                                <em class="pm_{{i}}">{{mx.pm}}</em>
                                <span class="perty_a">{{mx.cz}}</span> {{if mx.pm == "DTY"}}
                                <span class="perty_a">{{mx.str02}}</span>
                                <span class="perty_a">{{mx.str03}}</span> {{else if (mx.pm == "切片" || mx.pm == "锦纶切片")}}
                                <span class="perty_a">{{mx.gg}}</span>
                                <span class="perty_a">{{mx.cd}}</span> {{else}}
                                <span class="perty_a">{{mx.wzlb}}</span> {{if mx.str04 != null}}
                                <span class="perty_a">{{mx.str04}}</span> {{/if}} {{if mx.str02 != null}}
                                <span class="perty_a">{{mx.str02}}</span> {{/if}} {{/if}}
                                &nbsp;
                                {{if mx.contractTypes == '1'}}
                                    <span class="noi18n" name="sm_hya">合约A</span>
                                {{/if}}
                                {{if mx.contractTypes == '2'}}
                                    <span class="noi18n" name="sm_hyb">合约B</span>
                                {{/if}}
                            </p>
                            {{if (mx.pm != "切片" && mx.pm != "锦纶切片")}}
                            <p class="size">{{mx.gg}}&nbsp;&nbsp;&nbsp;&nbsp;{{mx.cd}}</p>
                            {{/if}}
                            <p class="size_a">
                                <span class="price">￥<em>{{mx.price}}</em></span> <span class="noi18n" name="sm_zl">重量</span>:{{mx.sl2}}{{mx.sldw2}}&nbsp;&nbsp;&nbsp;&nbsp;<span class="noi18n" name="sm_xbs">箱包数</span>:{{mx.sl1}}
                            </p>
							{{if (mx.pm == "切片" || mx.pm == "锦纶切片")}}
                            <p class="size">&nbsp;</p>
                            {{/if}}
                            <div class="status">
                                {{if mx.shStatus == 100}} <span class="noi18n" name="sm_dsh">待审核</span> {{else if mx.shStatus == 200}} <span class="noi18n" name="sm_shz">审核中</span> {{else if mx.shStatus == 300}} </span> class="noi18n" name="sm_yjj">已拒绝</span> {{else if mx.shStatus == 400}} <span class="noi18n" name="sm_ysh">已审核</span> {{/if}}
                            </div>
                            <div class="buybtn" onclick="buyAgain('{{mx.hydm}}','{{value.hyname}}','{{mx.wzid}}','{{mx.depid2}}','{{mx.salesType}}','{{mx.contractTypes}}');"><span class="noi18n" name="sm_zlyd">再来一单</span></div>
                        </li>
                        {{/if}} {{/each}}
                    </ul>
                    <div class="time">{{#getDate(value.cdate,"yyyy-MM-dd HH:mm")}}
                        <div class="total"><span class="spnum noi18n" name="sm_g">共</span><b>{{value.mxlist.length}}</b><span class="noi18n" name="sm_jsp">件商品</span></span><span class="noi18n" name="sm_hj">
                        	合计</span><span class="jg">￥<em>
                        	{{if value.couponType!=null && value.couponType==13}} {{value.creditAmt}} {{else}}	{{value.htamt}} {{/if}}
                        	</em></span></div>
                    </div>
                    {{if (value.couponType != null && value.couponAmt != null && value.couponAmt != 0)}}
                    <div class="time" style="border-top: 1px solid #ddd;">
                        {{value.couponName}}
                        <div class="total">
                            <span class="noi18n" name="sm_yh">优惠</span><span class="jg">￥<em>{{value.couponAmt}}</em></span>
                        </div>
                    </div>
                    {{/if}} {{if (value.status == 100 || (value.htflag03 != null && value.htflag03 === 1))}}
                    <ul class="orderbtn">
                        {{if (value.htflag03 != null && value.htflag03 === 1)}}
                        <li onclick="qxOrder('{{value.fphm}}');"><span class="noi18n" name="com_cancel">取消</span></li>
                        {{/if}} {{if (value.status == 100 && (value.status01 == null))}}
                        
                        <li onclick="orderAuditView('{{value.fphm}}', '{{value.mxlist[0].pm}}')"><span class="noi18n" name="sm_sh">审核</span></li>
                        {{/if}}
                        {{if (value.status == 100 && value.status01 != null &&(value.status01 == 3 || value.status01 == 11))}}
                        <li onclick="orderAuditViewFc('{{value.fphm}}', '{{value.mxlist[0].pm}}','{{value.status01}}')"><span class="noi18n" name="rzsm_sh">融资审核</span></li>
                        {{/if}}
                    </ul>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </script>
</body>

</html>