<!DOCTYPE html>
<html>

<head>
  <title name="sm_khgl">其他查询</title>
  <% include ../../components/_head.art %>
  <style>
    #priceList {
      display: none;
    }
  </style>
</head>

<body>
  <article class="wx_layout">
    <section class="wx_main">
      <div class="wx_functionbox">
        <p class="gntext i18n" name="sm_khglgnlb">其他查询</p>
        <ul class="gnlist">
          <li onclick="goStorageCharge()">
            <span><i class="iconfont icon-hyda"></i></span>
            <p class="til i18n" name="sm_khda">仓储费查询</p>
            <p class="cont i18n" name="sm_jkhzjkd">将客户装进口袋</p>
            <i class="iconfont icon-rarrow"></i>
          </li>
          <li id="priceList" onclick="goPriceList()">
            <span><i class="iconfont icon-hyda"></i></span>
            <p class="til i18n" name="sm_khda">产品价格查询</p>
            <p class="cont i18n" name="sm_jkhzjkd">将客户装进口袋</p>
            <i class="iconfont icon-rarrow"></i>
          </li>
          <!-- <li onclick="goFreezeOrderList()">
            <span><i class="iconfont icon-hyda"></i></span>
            <p class="til i18n" name="sm_khda">冻结订单查询</p>
            <p class="cont i18n" name="sm_jkhzjkd">将客户装进口袋</p>
            <i class="iconfont icon-rarrow"></i>
          </li> -->
        </ul>
      </div>
    </section>
  </article>
  <% include ../../components/_foot.art %>
  <script src="../salesman/otherList.js"></script>
</body>

</html>