<!DOCTYPE html>
<html>

<head>
  <title name="rl_title">产品价格查询</title>
  <% include ../../components/_head.art %>
  <link rel="stylesheet" href="../../css/weui-select.min.css">
  <style>
    .wx_main {
      top: 89px;
      bottom: 0;
    }

    .wx_ziyfilter li {
      width: 33.3%
    }

    .buyarea {
      width: 45px;
      height: 50px;
      box-sizing: border-box;
      border-radius: 2px;
      text-align: center;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -20px;
    }

    .priceList__price {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 1.4rem;
      color: #fe9311;
    }

    .priceList__price em {
      font-size: 2rem;
    }
  </style>
</head>

<body>
  <header class="wx_searchbox">
    <div class="weui_search_bar" style="padding:0;position:initial">
      <form id="form" class="weui_search_outer">
        <div class="weui_search_inner">
          <i class="weui_icon_search"></i>
          <input type="search" class="weui_search_input i18n_ph" id="querykey" name="rl_searchzy" placeholder="搜索资源"
            value="" />
          <a href="javascript:" class="weui_icon_clear"></a>
        </div>
        <label for="querykey" class="weui_search_text">
          <i class="weui_icon_search"></i>
          <span class="i18n" name="rl_searchzy">搜索资源</span>
        </label>
      </form>
      <a href="javascript:" class="weui_search_cancel">
        <span class="i18n" name="rl_qx">取消</span>
      </a>
    </div>
  </header>
  <article class="wx_layout">
    <ul class="wx_ziyfilter">
      <li id="pmtitle" onclick="showPmSelect()">DTY<span class="xl"></span></li>
      <li id="ggtitle" onclick="showGgSelect()" style="display:none;"><span class="i18n" name="rl_guige">规格</span><span
          class="xl"></span></li>
      <li id="str03title" onclick="showSelect('str03')" style="display:none;"><span class="i18n"
          name="rl_shazhong">纱种</span><span class="xl"></span></li>
      <input type="hidden" id="str03" name="str03" />
      <input type="hidden" id="wzlb" name="wzlb" />
      <input type="hidden" id="cd" name="cd" />
      <li id="wzlbtitle" onclick="showSelect('wzlb')" style="display:none;"><span class="i18n"
          name="rl_leixing">类型</span><span class="xl"></span></li>
      <li id="cdtitle" onclick="showSelect('cd')" style="display:none;"><span class="i18n"
          name="rl_dengji">等级</span><span class="xl"></span></li>
      <li id="sxtitle" style="display:none;"><span class="i18n" name="rl_shuaixuan">筛选</span><span class="xl"></span>
      </li>
    </ul>
    <section class="wx_main" id="infinitePage">
      <ul class="resourcelist" id="list">
      </ul>
      <div class="wx_vaguebox" id="wx_vaguebox1" style="display: none;">
        <p class="pt">登录并完善资料后可查看更多信息哦~</p>
        <p>
          <a class="btn" onclick="toLogin()">立即登录</a>
          <a class="btn org" onclick="toRegister()">免费注册</a>
        </p>
      </div>
      <div class="wx_vaguebox" id="wx_vaguebox2" style="display: none;">
        <p class="pt">登录并完善资料后可查看更多信息哦~</p>
        <p><a class="btn org" onclick="toMakeUpUserInfo()">完善资料</a></p>
      </div>
    </section>
  </article>
  <div class="wx_opacity" style="display:none;" onclick="toHide();"></div>
  <div class="wx_pulldownbox" style="display:none;">
    <input type="hidden" id="gg" value="" />
    <div class="pulldown">
      <ul class="leftnav" id="ggLeft">
      </ul>
      <ul class="detailmes" id="ggRight">
      </ul>
    </div>
    <ul class="pullbtn">
    </ul>
  </div>
  <div class="wx_opacity2" style="display:none;" onclick="toHide();"></div>
  <div class="wx_pulldownbox2" style="display:none;">
    <div class="pulldown">
      <ul class="middlenav" id="xlsx3">
      </ul>
    </div>
    <ul class="pullbtn">
    </ul>
  </div>
  <% include ../../components/_foot.art %>
  <script src="../salesman/priceList.js"></script>
  <script id="list_page" type="text/html">
      {{each data as value i}}
      <li>
          <p class="proname">
              {{value.pm}}
              <span class="perty">{{value.cz}}</span> 
              {{if value.pm == "DTY"}}
                  <span class="perty">{{value.str02}}</span>
                  <span class="perty">{{value.str03}}</span> 
              {{else}}
                  <span class="perty">{{value.wzlb}}</span> 
              {{if value.str04 != null}}
                  <span class="perty">{{value.str04}}</span>
              {{/if}} 
              {{if value.str02 != null}}
                  <span class="perty">{{value.str02}}</span> 
              {{/if}} 
              {{/if}}
              {{if value.differentiation != null&&value.differentiation==1}}
                  <span class="perty i18n" name="rl_chayihua">差异化</span> 
              {{/if}}

          </p>
          <p class="size">
              {{if (value.pm != "切片" && value.pm != "锦纶切片")}} 
                  {{value.gg}}&nbsp;&nbsp; 
              {{/if}} 
              {{value.cd}}&nbsp;&nbsp; 
              {{if value.pm == "DTY"}} 
                  {{value.inventoryStr}}&nbsp;&nbsp; 
              {{/if}} 
          </p>
          {{if isLogin}}
          <span class="priceList__price">{{#value.price00Str}}</span> 
          {{/if}} 
      </li>
      {{/each}}
  </script>
  <script id="gg_left_page" type="text/html">
                <li class="current" min="0" max="10000">
					<span class="i18n" name="rl_buxian">不限</span>
				</li>
                {{each denierList as value}}
                <li min="{{value.min}}" max="{{value.max}}">{{value.text}}</li>
                {{/each}}
            </script>
  <script id="gg_right_page" type="text/html">
                <li>
                    <dl class="contlist">
                        <dt class="ggselect" gg="">
						<span class="i18n" name="rl_buxian">不限</span>
						<i class="iconfont icon-duihao" style="display:none;"></i></dt>
                    </dl>
                </li>
                {{each ggMap as value denier}}
                <li class="gglist" denier={{denier}}>
                    <p class="til">{{#listgetDenier(denier)}}D</p>
                    <dl class="contlist">
                        {{each value as map i}}
                        <dt class="ggselect" gg="{{map.key}}">{{map.value}}<i class="iconfont icon-duihao" style="display:none;"></i></dt>
                        {{/each}}
                    </dl>
                </li>
                {{/each}}
            </script>
  <script id="str03list_page" type="text/html">
                <li id="str03_bx" name="str03_bx" onclick="middleSelect('纱种','str03','bx');"><span class="i18n" name="rl_buxian">不限</span></li>
                {{each str03list as value i}}
                <li onclick="middleSelect('{{value}}','str03','{{i}}');" id="str03_{{i}}" name="str03_{{i}}">{{value}}</li>
                {{/each}}
            </script>
  <script id="wzlblist_page" type="text/html">
                <li id="wzlb_bx" name="wzlb_bx" onclick="middleSelect('类型','wzlb','bx');"><span class="i18n" name="rl_buxian">不限</span></li>
                {{each wzlblist as value i}}
                <li onclick="middleSelect('{{value}}','wzlb','{{i}}');" id="wzlb_{{i}}" name="wzlb_{{i}}">{{value}}</li>
                {{/each}}
            </script>
  <script id="cdlist_page" type="text/html">
                <li id="cd_bx" name="cd_bx" onclick="middleSelect('等级','cd','bx');"><span class="i18n" name="rl_buxian">不限</span></li>
                {{each cdlist as value i}}
                <li onclick="middleSelect('{{value}}','cd','{{i}}');" id="cd_{{i}}" name="cd_{{i}}">{{value}}</li>
                {{/each}}
            </script>
  <script id="pmlist_page" type="text/html">
                <li onclick="pmSelect('DTY','1');" id="pm1" name="pm1">DTY</li>
                <li onclick="pmSelect('POY','2');" id="pm2" name="pm2">POY</li>
                <li onclick="pmSelect('FDY','3');" id="pm3" name="pm3">FDY</li>
                <li onclick="pmSelect('切片','4');" id="pm4" name="pm4"><span class="i18n" name="rl_tlqp">涤纶切片</span></li>
                <li onclick="pmSelect('锦纶切片','5');" id="pm5" name="pm5"><span class="i18n" name="rl_jlqp">锦纶切片</span></li>
                <li onclick="pmSelect('短纤','6');" id="pm6" name="pm6"><span class="i18n" name="rl_duanq">短纤</span></li>
            </script>
</body>

</html>