<!DOCTYPE html>
<html>

<head>
    <title>业务员控量信息详情</title>
    <% include ../../components/_head.art %>
    <link rel="stylesheet" href="../../css/weui-select.min.css">
</head>

<body>
    <article class="wx_layout">
        <section class="wx_main" style="bottom: 50px;">
            <input type="hidden" id="wxOpenid" value="" />
            <div class="wx_addsitebox">
                <div class="commontype">
                    <span>品名</span>
                    <input type="text" id="pm" />
                </div>
                <div class="commontype">
                    <span>业务员名称</span>
                    <input type="text" id="userName" />
                </div>
                <div class="commontype">
                    <span>业务员编号</span>
                    <input type="text" id="userid" />
                </div>
                <div class="commontype">
                    <span>今日销售占比</span>
                    <input type="text" id="percent" />
                </div>
                <div class="commontype">
                    <span>今日可销售量</span>
                    <input type="text" id="amount" />
                </div>
                <div class="commontype">
                    <span>今日已销售量</span>
                    <input type="text" id="usedAmount" />
                </div>
                <div class="commontype">
                    <span>今日剩余销售量</span>
                    <input type="text" id="availableAmount" />
                </div>
                <div class="commontype">
                    <span>修改时间</span>
                    <input type="text" id="cdate" />
                </div>
            </div>
        </section>
    </article>

    <% include ../../components/_foot.art %>
    <script src="../salesman/stSaleInfo.js"></script>
</body>

</html>