<!DOCTYPE html>
<html>

<head>
    <title name="sm_gzt">工作台</title>
    <% include ../../components/_head.art %>
    <style>
        .gnlist li .infor {
            width: 23px;
            height: 23px;
            line-height: 23px;
        }

        td {
            border: 1px solid #ccc;
        }
    </style>
</head>

<body>
    <article class="wx_layout">
        <section class="wx_main">
            <div class="wx_hyheader">
                <p class="hesdpic" id="photo"><img src="../../images/headpic.png" /></p>
                <p class="mename" id="name"></p>
            </div>
            <div class="wx_functionbox">
                <p class="gntext"><span class="noi18n" name="sm_gnlb">功能列表</span></p>
                <ul class="gnlist">
                    <li onclick="orderResourceList();">
                        <span><i class="iconfont icon-gzjyd"></i></span>
                        <p class="til noi18n" name="sm_dkxd">代客下单</p>
                        <p class="cont noi18n" name="sm_jkhzjkd">将客户装进口袋</p>
                        <i class="iconfont icon-rarrow"></i>
                    </li>
                    <li onclick="orderAuditList()">
                        <span><i class="iconfont icon-gzzxkd"></i></span>
                        <p class="til noi18n" name="sm_ddys">订单预审</p>
                        <p class="cont noi18n" name="sm_jkhzjkd">将客户装进口袋</p>
                        <em class="infor" id="shStatus100">0</em>
                        <i class="iconfont icon-rarrow"></i>
                    </li>
                    <li onclick="goFinancing()">
                        <span><i class="iconfont icon-gzzxkd"></i></span>
                        <p class="til noi18n" name="sm_ddys">融资管理</p>
                        <p class="cont noi18n" name="sm_jkhzjkd">将客户装进口袋</p>
                        <em class="infor" id="rzshStatus100">0</em>
                        <i class="iconfont icon-rarrow"></i>
                    </li>
                    <li onclick="selectOrder()">
                        <span><i class="iconfont icon-gzdjcx"></i></span>
                        <p class="til noi18n" name="sm_ddcx">订单查询</p>
                        <p class="cont noi18n" name="sm_jkhzjkd">将客户装进口袋</p>
                        <i class="iconfont icon-rarrow"></i>
                    </li>
                    <li onclick="toMessageSettings();">
                        <span><i class="iconfont icon-hyewm"></i></span>
                        <p class="til noi18n" name="sm_xxgl">信息反馈</p>
                        <p class="cont noi18n" name="sm_jkhzjkd">将客户装进口袋</p>
                        <em class="infor" id="notReadEm">0</em>
                        <i class="iconfont icon-rarrow"></i>
                    </li>
                    <li onclick="balanceList()">
                        <span><i class="iconfont icon-gzwlye"></i></span>
                        <p class="til noi18n" name="sm_khyecx">客户余额查询</p>
                        <p class="cont noi18n" name="sm_jkhzjkd">将客户装进口袋</p>
                        <i class="iconfont icon-rarrow"></i>
                    </li>
                    <li onclick="deliveryList();">
                        <span><i class="iconfont icon-gzsjck"></i></span>
                        <p class="til noi18n" name="sm_ckmxcx">出库明细查询</p>
                        <p class="cont noi18n" name="sm_jkhzjkd">将客户装进口袋</p>
                        <i class="iconfont icon-rarrow"></i>
                    </li>
                    <li onclick="goOtherList();">
                        <span><i class="iconfont icon-gzsjck"></i></span>
                        <p class="til noi18n" name="sm_ckmxcx">其他查询</p>
                        <p class="cont noi18n" name="sm_jkhzjkd">将客户装进口袋</p>
                        <i class="iconfont icon-rarrow"></i>
                    </li>
                    <li onclick="gohygl();">
                        <span><i class="iconfont icon-vip"></i></span>
                        <p class="til noi18n" name="sm_khgl">客户管理</p>
                        <p class="cont noi18n" name="sm_jkhzjkd">将客户装进口袋</p>
                        <em class="infor" id="registerEm">0</em>
                        <i class="iconfont icon-rarrow"></i>
                    </li>
                    <li onclick="gohykh();">
                        <span><i class="iconfont icon-vip"></i></span>
                        <p class="til noi18n">合约客户</p>
                        <p class="cont noi18n">将客户装进口袋</p>
                        <i class="iconfont icon-rarrow"></i>
                    </li>

                    <li onclick="toRecommend();">
                        <span><i class="iconfont icon-hyewm"></i></span>
                        <p class="til noi18n" name="sm_tjyj">推荐有奖</p>
                        <p class="cont noi18n" name="sm_tjkhzc">推荐客户注册</p>
                        <i class="iconfont icon-rarrow"></i>
                    </li>
                    <li id="menberList" onclick="menberList();" style="display: none;">
                        <span><i class="iconfont icon-wscht"></i></span>
                        <p class="til noi18n" name="sm_wscht">微商城后台</p>
                        <p class="cont noi18n" name="sm_jkhzjkd">将客户装进口袋</p>
                        <i class="iconfont icon-rarrow"></i>
                    </li>
                    <li id="saleList" onclick="saleList();" style="display: none;">
                        <span><i class="iconfont icon-wscht"></i></span>
                        <p class="til i18n" name="sm_wscht">双兔微商城后台</p>
                        <p class="cont i18n" name="sm_jkhzjkd">将客户装进口袋</p>
                        <i class="iconfont icon-rarrow"></i>
                    </li>
                </ul>
            </div>
            <div id="marketingPolicy" style="z-index: 110; display: none;">
                <div class="wx_prompt2">
                    <h2>您有未发货的订单</h2>
                    <div class="bd">
                        <div class="cont"
                            style="margin-right: 0;padding-right:8px;overflow-x:hidden; overflow-y:auto;min-height: 20px;max-height:270px;">
                            <table width="100%" id="undeliver">
                                <tr>
                                    <td align="center">时间</td>
                                    <td align="center">订单编号 </td>
                                    <td align="center">品名</td>
                                    <td align="center">重量</td>
                                    <td align="center">已发量</td>
                                    <!--<td align="center">未发量</td>-->
                                </tr>
                            </table>

                        </div>
                        <div class="btnarea"><a class="operbtn" onclick="doCancelPolicy()">关闭</a></div>
                    </div>
                </div>
            </div>
            <div class="weui_btn_area" id="logoutBtn" style="display: none; margin-bottom: 30px;">
                <a class="weui_btn noi18n" name="sm_tc" style="background:#3e7baf;" href="javascript:"
                    onclick="doLogout()">退出</a>
            </div>
        </section>
    </article>
    <% include ../../components/_foot.art %>
    <script src="../salesman/workbench.js"></script>
</body>

</html>