<!DOCTYPE html>
<html>

<head>
    <title name="sd_gqxx">供求信息</title>
    <meta id="i18n_pagename" content="strings">
    <% include ../../components/_head.art %>
    <link rel="stylesheet" href="../../css/weui-select.min.css">
    <style>
        .headpic {
            width: 58px;
            height: 58px;
            border-radius: 50%;
            margin: 0 auto;
            overflow: hidden;
        }

        .headpic img {
            width: 100%;
        }

        .wx_opacity2 {
            background-color: white !important;
            opacity: 0;
        }

        .wx_opacity2_str01 {
            width: 100%;
            height: 100%;
            background-color: black;
            position: fixed;
            top: 89px;
            z-index: 99;
            opacity: 0.5;
        }

        .wx_pulldownbox2_str01 {
            width: 100%;
            background: #fff;
            position: fixed;
            top: 89px;
            z-index: 99;
        }

        .wx_pulldownbox2_str01 .pulldown {
            max-height: 400px;
            padding-left: 100px;
            overflow-y: auto;
        }

        .wx_pulldownbox2_str01 .pullbtn {
            overflow: hidden;
            border-top: solid 1px #ddd;
        }

        .middlenav_str01 li {
            width: 100%;
            height: 45px;
            background: #fff;
            box-sizing: border-box;
            border-bottom: solid 1px #ddd;
            border-right: solid 1px #ddd;
            font-size: 1.4rem;
            line-height: 44px;
            color: #666;
            text-align: center;
        }

        .middlenav_str01 li.current {
            background: #f8f8f8;
            border-right: none;
        }

        .wx_opacity2_str01 {
            background-color: white !important;
            opacity: 0;
        }

        .pulldown_str01 .middlenav_str01 {
            max-height: 400px;
            width: 100%;
            background: #f8f8f8;
            position: fixed;
            top: 89px;
            left: 0px;
            z-index: 99;
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <div class="bd" id="main">
    </div>


    <script id="main_page" type="text/html">


    	{{if (data != null)}}
    	<div class="weui_cells">
    		{{if (data.str02 != null)}}
    					<div class="weui_cell">
	                <div class="weui_cell_hd">
	                    <label class="weui_label"><span class="must_input"></span><span class="i18n" name="sd_type">供求类型</span></label>
	                </div>
	                <div class="weui_cell_bd weui_cell_primary">
	                    <input {{if (cuserId != null)}}onclick="showGgSelect()"{{/if}}  id='str01' value='{{data.str01}}' readonly='true' class="weui_input i18n_ph" name="sd_tobeperfected" style="text-align: right;" type="text" placeholder="待完善">
	                		<div class="wx_opacity2_str01" style="display:none;" onclick="str01toHide();"></div>
	                		<div class="wx_pulldownbox2_str01" style="display:none;">
								        <div class="pulldown_str01">
								            <ul class="middlenav_str01" id="xlsx3_str01">
								            </ul>
								        </div>
								        <ul class="pullbtn_str01">
								        </ul>
								    </div>
	                </div>
	            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label"><span class="must_input"></span><span class="i18n" name="sd_demand">需求</span></label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input id='str02' value='{{data.str02}}' {{if (cuserId == null)}}readonly='true'{{/if}} class="weui_input i18n_ph" name="sd_tobeperfected" style="text-align: right;" type="text" placeholder="待完善">
                </div>
            </div>
    		{{/if}}	
    			
    	
    		<input type='hidden' id='_pkid' value='{{data.pkid}}'>
    	
    		{{if (data.str02 == null)}}
	    			<div class="weui_cell">
	              <div class="weui_cell_hd">
	                  <label class="weui_label"><span class="must_input"></span><span class="i18n" name="sd_type">供求类型</span></label>
	              </div>
	              <div class="weui_cell_bd weui_cell_primary">
	                  <input {{if (cuserId != null)}}onclick="showGgSelect()"{{/if}}  id='str01' value='{{data.str01}}' readonly='true' class="weui_input i18n_ph" name="sd_tobeperfected" style="text-align: right;" type="text" placeholder="待完善">
	              		<div class="wx_opacity2_str01" style="display:none;" onclick="str01toHide();"></div>
	              		<div class="wx_pulldownbox2_str01" style="display:none;">
							        <div class="pulldown_str01">
							            <ul class="middlenav_str01" id="xlsx3_str01">
							            </ul>
							        </div>
							        <ul class="pullbtn_str01">
							        </ul>
							    </div>
	              </div>
	          </div>
    			<div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label"><span class="must_input"></span><span class="i18n" name="sd_pm">品名</span></label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input {{if (cuserId != null)}}onclick="showPmSelect()"{{/if}}  id='pm' value='{{data.pm}}' readonly='true' class="weui_input i18n_ph" name="sd_tobeperfected" style="text-align: right;" type="text" placeholder="待完善">
                		<div class="wx_opacity2" style="display:none;" onclick="toHide();"></div>
                		<div class="wx_pulldownbox2" style="display:none;">
							        <div class="pulldown">
							            <ul class="middlenav" id="xlsx3">
							            </ul>
							        </div>
							        <ul class="pullbtn">
							        </ul>
							    </div>
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label"><span class="must_input"></span><span class="i18n" name="sd_ph">批号</span></label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input id='ph' value='{{data.ph}}' {{if (cuserId == null)}}readonly='true'{{/if}} class="weui_input i18n_ph" name="sd_tobeperfected" style="text-align: right;" type="text" placeholder="待完善">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label"><span class="must_input"></span><span class="i18n" name="sd_cd">等级</span></label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input id='cd' value='{{data.cd}}' {{if (cuserId == null)}}readonly='true'{{/if}} class="weui_input i18n_ph" name="sd_tobeperfected" style="text-align: right;" type="text" placeholder="待完善">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label"><span class="must_input"></span><span class="i18n" name="sd_gg">规格</span></label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input id='gg' value='{{data.gg}}' {{if (cuserId == null)}}readonly='true'{{/if}} class="weui_input i18n_ph" name="sd_tobeperfected" style="text-align: right;" type="text" placeholder="待完善">
                </div>
            </div>
    		{{/if}}	
    		
    		<div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label"><span class="must_input"></span><span class="i18n" name="sd_jg">价格</span></label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input id='price' value='{{data.price}}' {{if (cuserId == null)}}readonly='true'{{/if}} class="weui_input i18n_ph" name="sd_tobeperfected" style="text-align: right;" type="text" placeholder="待完善">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label"><span class="must_input"></span><span class="i18n" name="sd_sl">数量</span></label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input id='zl' value='{{data.zl}}' {{if (cuserId == null)}}readonly='true'{{/if}} class="weui_input i18n_ph" name="sd_tobeperfected" style="text-align: right;" type="text" placeholder="待完善">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label"><span class="must_input"></span><span class="i18n" name="sd_lxr">联系人</span></label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input id='lxr' value='{{data.lxr}}' {{if (cuserId == null)}}readonly='true'{{/if}} class="weui_input i18n_ph" name="sd_tobeperfected" style="text-align: right;" type="text" placeholder="待完善">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label"><span class="must_input"></span><span class="i18n" name="sd_lxdh">联系电话</span></label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input id='mobile' value='{{data.mobile}}' {{if (cuserId == null)}}readonly='true'{{/if}} class="weui_input i18n_ph" name="sd_tobeperfected" style="text-align: right;" type="text" placeholder="待完善">
                </div>
            </div>
        </div>
    		
    		{{/if}}	
    		
    		{{if (data == null)}}
    		<div class="weui_cells">
	    				<div class="weui_cell">
	                <div class="weui_cell_hd">
	                    <label class="weui_label"><span class="must_input"></span><span class="i18n" name="sd_type">供求类型</span></label>
	                </div>
	                <div class="weui_cell_bd weui_cell_primary">
	                    <input {{if (cuserId != null)}}onclick="showGgSelect()"{{/if}}  id='str01' value='' readonly='true' class="weui_input i18n_ph" name="sd_tobeperfected" style="text-align: right;" type="text" placeholder="待完善">
	                		<div class="wx_opacity2_str01" style="display:none;" onclick="str01toHide();"></div>
	                		<div class="wx_pulldownbox2_str01" style="display:none;">
								        <div class="pulldown_str01">
								            <ul class="middlenav_str01" id="xlsx3_str01">
								            </ul>
								        </div>
								        <ul class="pullbtn_str01">
								        </ul>
								    </div>
	                </div>
	            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label"><span class="must_input"></span><span class="i18n" name="sd_demand">需求</span></label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input id='str02' value='' {{if (cuserId == null)}}readonly='true'{{/if}} class="weui_input i18n_ph" name="sd_tobeperfected" style="text-align: right;" type="text" placeholder="待完善">
                </div>
            </div>
            
            
             <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label"><span class="must_input"></span><span class="i18n" name="sd_jg">价格</span></label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input id='price' value='' {{if (cuserId == null)}}readonly='true'{{/if}} class="weui_input i18n_ph" name="sd_tobeperfected" style="text-align: right;" type="text" placeholder="待完善">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label"><span class="must_input"></span><span class="i18n" name="sd_sl">数量</span></label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input id='zl' value='' {{if (cuserId == null)}}readonly='true'{{/if}} class="weui_input i18n_ph" name="sd_tobeperfected" style="text-align: right;" type="text" placeholder="待完善">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label"><span class="must_input"></span><span class="i18n" name="sd_lxr">联系人</span></label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input id='lxr' value='' {{if (cuserId == null)}}readonly='true'{{/if}} class="weui_input i18n_ph" name="sd_tobeperfected" style="text-align: right;" type="text" placeholder="待完善">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label"><span class="must_input"></span><span class="i18n" name="sd_lxdh">联系电话</span></label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input id='mobile' value='' {{if (cuserId == null)}}readonly='true'{{/if}} class="weui_input i18n_ph" name="sd_tobeperfected" style="text-align: right;" type="text" placeholder="待完善">
                </div>
            </div>
        </div>
            
    		{{/if}}	   
    {{if (cuserId != null)}}	
    <footer class="wx_btnnext">
        <div id="btnMyModify" onclick="updateInfo();">
            保存
        </div>
    </footer>
    {{/if}}
    
    </script>
    <script id="pmlist_page" type="text/html">
        <li onclick="pmSelect('DTY','1');" id="pm1" name="pm1">DTY</li>
        <li onclick="pmSelect('POY','2');" id="pm2" name="pm2">POY</li>
        <li onclick="pmSelect('FDY','3');" id="pm3" name="pm3">FDY</li>
        <li onclick="pmSelect('切片','4');" id="pm4" name="pm4">涤纶切片</li>
        <li onclick="pmSelect('锦纶切片','5');" id="pm5" name="pm5">锦纶切片</li>
    </script>
    <script id="str01list_page" type="text/html">
        <li onclick="str01Select('供应','1');" id="str011" name="str011">供应</li>
        <li onclick="str01Select('求购','2');" id="str012" name="str012">求购</li>
    </script>
    <% include ../../components/_foot.art %>
    <script src="../supplyDemand/supplyDemandInfo.js"></script>
</body>

</html>