<!DOCTYPE html>
<html>

<head>
    <title name="ebs_title">新增客户</title>
    <% include ../../components/_head.art %>
    <link rel="stylesheet" href="../../css/weui-select.min.css">
    <style>
        /**绑定手机号*/

        .wx_bdsj {
            margin-top: 0px;
        }

        .wx_bdsj .weui_label {
            width: 90px;
        }

        .must_input {
            color: #f00;
            margin-right: 5px;
        }

        .wx_bdsj .weui_cell_ft {
            padding: 8px 0px;
        }

        .wx_bdsj .weui_cell_ft span {
            height: 28px;
            line-height: 28px;
            display: inline-block;
            border-left: 1px solid #d9d9d9;
            color: #008cee;
            width: 100px;
            text-align: center;
            font-size: 15px;
        }

        .img_ul img {
            width: 75px;
            height: 75px;
        }

        .weui_cells {
            font-size: 1.5rem;
        }
    </style>
</head>

<body ontouchstart style="background: #fff;">
    <input type="hidden" id="appid" value="" />
    <input type="hidden" id="openid" value="" />


    <div class="weui_cells weui_cells_form wx_bdsj">
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">
                    <span class="must_input">*</span><span class="i18n" name="ebs_khname">客户名称</span>
                </label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id='mbname' onblur="javascript:valiName($(this));" class="weui_input i18n_ph"
                    name="ebs_khnametip" maxlength="100" size="100" type="text" placeholder="请输入客户名称">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">
                    <span class="must_input">*</span><span class="i18n" name="ebs_frdb">法人代表</span>
                </label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id='fr' class="weui_input i18n_ph " name="ebs_frdbtip" maxlength="32" size="32" type="text"
                    placeholder="请输入法人代表">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">
                    <span class="must_input">*</span><span class="i18n" name="ebs_kpphone">开票电话</span>
                </label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id='frtel' class="weui_input i18n_ph" name="ebs_kpphonetip" type="text" placeholder="请输入开票电话">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">
                    <span class="must_input">*</span><span class="i18n" name="ebs_gsaddress">公司地址</span>
                </label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id='copaddr' class="weui_input i18n_ph" name="ebs_gsaddresstip" type="text"
                    placeholder="请输入公司地址">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">
                    <span class="must_input">*</span><span class="i18n" name="ebs_sh">税号</span>
                </label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id='shno1' class="weui_input i18n_ph" maxlength="20" name="ebs_shtip" size="20" type="text"
                    placeholder="请输入税号">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">
                    <span class="must_input">*</span><span class="i18n" name="ebs_khh">开户行</span>
                </label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id='khbank' class="weui_input i18n_ph" maxlength="100" name="ebs_khhtip" size="100" type="text"
                    placeholder="请输入开户行">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">
                    <span class="must_input">*</span><span class="i18n" name="ebs_yhnumber">银行账号</span>
                </label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id='khzh' class="weui_input i18n_ph" type="text" name="ebs_yhnumbertip" placeholder="请输入银行账号">
            </div>
        </div>
        <div class="weui_cell weui_cells_access">
            <div class="weui_cell_hd">
                <label class="weui_label"><span class="must_input">*</span><span class="i18n"
                        name="ebs_dq">地区</span></label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input type="hidden" id="dq1code" value="" />
                <input type="hidden" id="dq1name" value="" />
                <input type="hidden" id="dqcode" value="" />
                <input type="hidden" id="dqname" value="" />
                <input type="hidden" id="xjcode" value="" />
                <input type="hidden" id="xjname" value="" />
                <input id='dq_txt' class="weui_input i18n_ph" name="ebs_dqtip" type="text" placeholder="请选择地区"
                    click="unFocus();" />
            </div>
            <div class="weui_cell_ft"></div>
        </div>

        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label"><span class="must_input">*</span><span class="i18n"
                        name="ebs_lxr">联系人</span></label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id='coplxr' onblur="javascript:valiCoplxr($(this));" class="weui_input i18n_ph" name="ebs_lxrtip"
                    maxlength="32" size="32" type="text" placeholder="请输入联系人">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label"><span class="must_input">*</span><span class="i18n"
                        name="ebs_lxrphone">联系人电话</span></label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id='mobile' class="weui_input i18n_ph" type="tel" name="ebs_lxrphonetip" placeholder="请输入联系人电话">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">&nbsp <span class="i18n" name="ebs_sex">性别</span></label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <label><input name="flag13" type="radio" id="radio1" value="0" /> <span class="i18n"
                        name="ebs_boy">男</span></label>
                <label><input name="flag13" type="radio" id="radio2" value="1" /><span class="i18n"
                        name="ebs_girl">女</span> </label>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">&nbsp <span class="i18n" name="ebs_zhiwei">职位</span></label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id='position' class="weui_input i18n_ph" maxlength="50" size="50" type="text"
                    name="ebs_zhiweitip" placeholder="请输入职位">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">&nbsp <span class="i18n" name="ebs_chuanzheng">传真</span></label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id='copfax' class="weui_input i18n_ph" type="text" name="ebs_chuanzhengtip" placeholder="请输入传真">
            </div>
        </div>

        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label"><span class="i18n" name="ebs_yyzz">营业执照</span></label>
            </div>
            <div class="weui_cell_ft" onclick="loadShno2urlPic();">
                <input type='hidden' id="shno2url" />
                <div>
                    <p class="wx_qdphoto wx_cjht img_ul">
                        <img id="shno2urlImg" src="../../images/add.jpg" />
                    </p>
                </div>
            </div>
        </div>

        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label"><span class="i18n" name="ebs_kpxx">开票信息</span></label>
            </div>
            <div class="weui_cell_ft" onclick="loadBillingInfoPic();">
                <input type='hidden' id="billingInfo" />
                <div>
                    <p class="wx_qdphoto wx_cjht img_ul">
                        <img id="billingInfoImg" src="../../images/add.jpg" />
                    </p>
                </div>
            </div>
        </div>

        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label"><span class="i18n" name="ebs_jgz">架构证</span></label>
            </div>
            <div class="weui_cell_ft" onclick="loadShno2url1Pic();">
                <input type='hidden' id="shno2url1" />
                <div>
                    <p class="wx_qdphoto wx_cjht img_ul">
                        <img id="shno2url1Img" src="../../images/add.jpg" />
                    </p>
                </div>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label"><span class="i18n" name="ebs_srw">税务证</span></label>
            </div>
            <div class="weui_cell_ft" onclick="loadShno2url2Pic();">
                <input type='hidden' id="shno2url2" />
                <div>
                    <p class="wx_qdphoto wx_cjht img_ul">
                        <img id="shno2url2Img" src="../../images/add.jpg" />
                    </p>
                </div>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label"><span class="i18n" name="ebs_szhy">三证合一</span></label>
            </div>
            <div class="weui_cell_ft" onclick="loadThreeInOnePic();">
                <input type='hidden' id="threeInOne" />
                <div>
                    <p class="wx_qdphoto wx_cjht img_ul">
                        <img id="threeInOneImg" src="../../images/add.jpg" />
                    </p>
                </div>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label"><span class="i18n" name="ebs_wzhy">五证合一</span></label>
            </div>
            <div class="weui_cell_ft" onclick="loadFiveInOnePic();">
                <input type='hidden' id="fiveInOne" />
                <div>
                    <p class="wx_qdphoto wx_cjht img_ul">
                        <img id="fiveInOneImg" src="../../images/add.jpg" />
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" href="javascript:" onclick="save()"><span class="i18n"
                name="ebs_xiugai">保存</span></a>
    </div>
    <% include ../../_foot.html %>
    <script src="../../js/oauth2.min.js"></script>
    <script src="../../js/md5.min.js"></script>
    <script src="../../lib/city-picker.min.js"></script>
    <script src="../customer/addBySalesman.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        $(function () {
            wxconfig();
        });
    </script>
</body>

</html>