<!DOCTYPE html>
<html>

<head>
  <title name="ai_title">竞拍详情</title>
  <% include ../../components/_head.art %>
  <link rel="stylesheet" href="../../css/weui-select.min.css">

</head>

<body>
  <article class="wx_layout">
    <div class="rule rule11" style="display: none;">
      <div class="rule_bg">
        <p class="rule_title i18n" id="rulename" name="ai_jpgz">竞价规则</p>
        <p class="rule_detail" id="exDiscountRulesList"></p>
        <p class="rule_close i18n" name="ai_shutdown">关闭</p>
      </div>
    </div>
    <div class="rule rule22" style="display: none;">
      <div class="pop-up">
        <div class="pop-up-top">
          <p class="pop-up-logo"><img src="../../images/icon_logo.jpg" /></p>
          <p class="pop-up-text"><span class="i18n" name="gbi_hywsc">恒逸微商城·为您服务</span></p>
        </div>
        <div class="pop-up-main">
          <p class="pop-up-title"><span class="i18n" name="gbi_wypt">我要出价</span></p>
          <p class="pop-up-detail"><span class="i18n" name="gbi_ctsltip">请输入您的加价幅度</span></p>
          <input type="number" id="price" class="pop-up-box" />
        </div>
        <div class="pop-up-bottom">
          <p class="pop-up-cancel" onclick="doCancel()"><span class="i18n" name="gbi_qx">取消</span></p>
          <p class="pop-up-sure" onclick="doOk()"><span class="i18n" name="gbi_qd">确定</span></p>
        </div>
      </div>
    </div>

    <div class="wx_prompt rule12" style="display: none;">
      <h2>您还不具备竞拍资格，是否申请？</h2>
      <div class="bd">
        <div class="btnarea"><a class="operbtn" onclick="showRule14()">立刻申请</a><a class="operbtn"
            onclick="doCancel()">再想想</a></div>
      </div>
    </div>
    <div class="wx_prompt rule13" style="display: none;">
      <h2>很抱歉，您的申请未通过</h2>
      <p>原因：没有缴纳保证金，请尽快缴纳保证金（具体缴纳方式参考申请页面文字说明）。</p>
      <div class="bd">
        <div class="btnarea"><a class="operbtn" onclick="doShOk()">我已缴纳</a><a class="operbtn"
            onclick="doCancel()">再想想</a></div>
      </div>
    </div>
    <div class="wx_prompt rule14" style="display: none;">
      <h2>申请竞拍资格</h2>
      <div class="bd">
        <div class="cont">
          <h3 class="c3e7caf"><i class="iconfont">&#xeab1;</i>申请竞拍资格需缴纳5000元保证金</h3>
          <p>1、押金缴纳方式：提交申请后，请及时将5000元汇入恒逸石化销售公司账户，我们会将其冻结；</p>
          <p>2、押金使用说明：缴纳押金后，即可参与微商城竞拍，直至押金解冻；</p>
          <p>3、押金不可抵用货款；且如果拍中后悔单，没收5000元保证金，且1个月内无法参与竞拍；</p>
          <p>4、押金解冻说明：联系业务员，让其安排解冻，解冻后，便无法参与竞拍，如想再次竞拍，重新缴纳押金即可。</p>
        </div>
        <div class="btnarea"><a class="operbtn" onclick="doShOk()">提交申请</a></div>
      </div>
    </div>
    <section class="wx_main" id="main">
    </section>
  </article>
  <% include ../../_foot.html %>
  <script src="../../js/oauth2.min.js"></script>
  <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script>
    $(function () {
      wxconfig();
    });
  </script>
  <script src="../customer/auctionInfo.js"></script>
  <script id="main_page" type="text/html">
        <div class="wx_myfocus">
      <div class="commontil hytil">
         <span class="line1"></span>
         <span class="tiltext i18n" name="ai_xsjp">限时竞拍</span>
         <p class="activity"><span class="i18n" name="ai_jpgzsm">竞拍规则说明</span></p>
         <i class="iconfont icon-mark" onclick="showrule2('{{exAuctionActivity.biddingRules}}')"></i>
      </div>
      <ul class="focuslist">
      
		 {{if mxList.length >0 }}
		 {{each mxList as mx j}} 
         <li>
         <p class="proname">{{mx.pm}}
                            <span class="perty">{{mx.cz}}</span> {{if mx.pm == "DTY"}}
                            <span class="perty">{{mx.str02}}</span>
                            <span class="perty">{{mx.str03}}</span> {{else}}
                            <span class="perty">{{mx.wzlb}}</span> {{if mx.str04 != null}}
                            <span class="perty">{{mx.str04}}</span> {{/if}} {{if mx.str02 != null}}
                            <span class="perty">{{mx.str02}}</span> {{/if}} {{/if}}
          </p>
		  <p class="size">
          {{if (mx.pm != "切片" && mx.pm != "锦纶切片")}} {{mx.gg}}&nbsp;&nbsp;{{/if}} {{mx.cd}}
           </p>
           {{if mx.totalDiscount }}
		   <p class="size"> <span class="i18n" name="ai_xbsum">箱包总数</span>{{mx.totalDiscount}} <span class="i18n" name="ai_pack">包</span></p>
           {{/if}}
		   {{if mx.totalWeight }}
		   <p class="size"><span class="i18n" name="ai_xbweight">重量</span> {{mx.totalWeight}}kg</p>
           {{/if}}
		    <div class="price price_b">
            <ul class="price_ul">
              <li class="price_list"><span name="act_dqprice" class="i18n">当前拍卖单价</span><em class="price_item1"> ￥<span class="price_num">{{if mx.price03 }}{{mx.price03}}{{else}}{{mx.startingPrice}}{{/if}}</span></em></li>
            </ul>
           </div>
		   </li>
         {{/each}}
<li>
         {{else}}
		 <li>
          <p class="proname">{{data.pm}}
                            <span class="perty">{{data.cz}}</span> {{if data.pm == "DTY"}}
                            <span class="perty">{{data.str02}}</span>
                            <span class="perty">{{data.str03}}</span> {{else}}
                            <span class="perty">{{data.wzlb}}</span> {{if data.str04 != null}}
                            <span class="perty">{{data.str04}}</span> {{/if}} {{if data.str02 != null}}
                            <span class="perty">{{data.str02}}</span> {{/if}} {{/if}}
          </p>
		   <p class="size">
          {{if (data.pm != "切片" && data.pm != "锦纶切片")}} {{data.gg}}&nbsp;&nbsp;{{/if}} {{data.cd}}
           </p>
           {{if data.totalDiscount }}
		   <p class="size"> <span class="i18n" name="ai_xbsum">箱包总数</span>{{data.totalDiscount}} <span class="i18n" name="ai_pack">包</span></p>
           {{/if}}
		   {{if data.totalWeight }}
		   <p class="size"><span class="i18n" name="ai_xbweight">重量</span> {{data.totalWeight}}kg</p>
           {{/if}}
		 {{/if}}
		    
		  
          
          <p class="size" {{if data.flag01 == 1}}style="margin-top: 15px;" {{/if}}>
		   {{if data.startMs }}
		   <span class="i18n" name="ai_startdjs">开始倒计时</span>
          {{else}}
		    <span class="i18n" name="ai_enddjs">结束倒计时</span>
		  {{/if}}
		   <span class="size_time" id="size_time">
		   <span class="days">00</span>天<span class="hours">00</span>时<span class="minutes">00</span>分<span class="seconds">00</span>秒
		  </p>
          <!---此处隐藏一个按钮-->
		  {{if (list.length == 0)}}
          {{if (null!=data.endMs&&data.endMs>0)}}
		   <div class="price_btn1"  {{if data.flag01 == 1}}style="right: 20px;" {{/if}}>
		   {{if data.flag01 == 1}} 
		    <input type="submit" class="overplus_4" value="出价"  onclick="doBidflag('{{data.auctionId}}', '{{data.pkid}}', '{{data.price03}}','{{data.increasePrice}}')"/>
           {{else}}
		    <input type="submit" class="overplus_4" value="出价"  onclick="doBid('{{data.auctionId}}', '{{data.pkid}}', '{{data.price03}}','{{data.increasePrice}}')"/>
		   {{/if}}
            
           </div>
          {{else if data.startMs}}
          <div class="price_btn1" >
             <input type="submit" class="overplus_4" value="静等开拍" style="background: #a2a0a0;"/>
          </div>
		  {{else}}
           {{if (data.status == 1)}}
		   <div class="price_btn2">
             <span class="price_success i18n" name="ai_yichengjiao">已成交</span>
          </div>
          {{else}}
		   <div class="price_btn2">
             <span class="price_success i18n" name="ai_yiend">已结束</span>
          </div>
		  {{/if}}
		  {{/if}}
		  {{/if}}
	      {{if (list.length != 0)}}
		  {{if (null!=data.endMs&&data.endMs>0)}}
		  <div class="price_btn1" {{if data.flag01 == 1}}style="right: 20px;" {{/if}}>
		  {{if data.flag01 == 1}} 
		    <input type="submit" class="overplus_4" value="出价"  onclick="doBidflag('{{data.auctionId}}', '{{data.pkid}}', '{{data.price03}}','{{data.increasePrice}}')"/>
           {{else}}
		    <input type="submit" class="overplus_4" value="出价"  onclick="doBid('{{data.auctionId}}', '{{data.pkid}}','{{list[0].price}}','{{data.increasePrice}}')"/>
		   {{/if}}
           
          </div>
          {{else}}
          {{if (data.status == 1)}}
		   <div class="price_btn2">
             <span class="price_success i18n" name="ai_yichengjiao">已成交</span>
          </div>
          {{else}}
		   <div class="price_btn2">
             <span class="price_success i18n" name="ai_yiend">已结束</span>
          </div>
		  {{/if}}
          {{/if}}
          {{/if}}
        </li>
      </ul> 
    </div>
    <div class="shop_detail">
	   {{if (list.length == 0)}}
	   {{if data.flag01 != 1}}
       <p class="shop_price"> <span class="i18n" name="ai_dqpmdj">当前拍卖单价</span><em class="shop_price1">￥<span>{{if data.price03 }}{{data.price03}}{{else}}{{data.startingPrice}}{{/if}}</span></em></p>
	   {{/if}}
       <p class="shop_name"> <span class="i18n" name="ai_dqcjr">当前出价人</span><em class="shop_name1"></em></p>
       <p class="shop_note"><i class="iconfont icon-jp"></i><span class="i18n" name="ai_jpjl">竞拍记录</span></p>
       {{/if}}
	   {{if (list.length != 0)}}
	   {{if data.flag01 != 1}}
	   <p class="shop_price"><span class="i18n" name="ai_dqpmdj">当前拍卖单价</span><em class="shop_price1">￥<span>{{list[0].price}}</span></em></p>
	    {{/if}}
       <p class="shop_name"> <span class="i18n" name="ai_dqcjr">当前出价人</span><em class="shop_name1">
	    {{if (mbname != list[0].mbname)}}
		{{#getName(list[0].mbname)}}
		{{else}}
		{{list[0].mbname}}
		{{/if}}
		</em></p>
       <p class="shop_note"><i class="iconfont icon-jp"></i><span class="i18n" name="ai_jpjl">竞拍记录</span></p>
       <ul class="shop_table">
	   {{each list as value i}}
        <li class="shop_tr"><p class="shop_td">
		{{if (mbname != value.mbname)}}
		{{#getName(value.mbname)}}
		{{else}}
		{{value.mbname}}
		{{/if}}
		</p><p class="shop_td shop_td2">{{#getDate(value.cdate,"yyyy.MM.dd HH:mm:ss")}}</p>{{if data.flag01 != 1}}<p class="shop_td1">￥{{value.price}}</p> {{/if}}</li>
		{{/each}}
        </ul>
	   {{/if}}
       </div>
        </script>
</body>

</html>