<!DOCTYPE html>
<html>

<head>
    <title name="al_title">我的竞拍</title>
    <% include ../../components/_head.art %>
    <style>
        .wx_main {
            top: 49px;
        }

        .input_class_current {
            background: #3e7baf !important;
            color: #fff !important;
        }

        .input_class_nocurrent {
            background: #f2f2f2 !important;
            color: #666 !important;
        }
    </style>
</head>

<body>
    <article class="wx_layout">
        <div class="my_shop">
            <p class="my_shop_btn my_shop_btn1"><input type="button" id="input1" value="我竞拍到的"
                    class="input_class_current i18n_va" name="al_myjinpai" onclick="loadData('1');" /></p>
            <p class="my_shop_btn my_shop_btn2"><input type="button" id="input2" value="我参与的"
                    class="input_class_nocurrent i18n_va" name="al_mycanyu" onclick="loadData('2');" /></p>
        </div>
        <section class="wx_main" id="infinitePage">
            <input type="hidden" id="type" name="type" value="1" />
            <div class="wx_myfocus" id="list">

            </div>
        </section>
    </article>
    <% include ../../_foot.html %>
    <script src="../customer/auctionList.js"></script>
    <!--显示悬浮图标-->
    <script type="text/javascript">
        $(function () {
            initSuspendIcon();
        });
    </script>
    <script id="list_page1" type="text/html">
        {{each data as value i}}
		{{if value.flag01==1 &&value.atyp==1}}
		<ul class="focuslist focuslist1 focuslist2">
		{{each data as fvalue j}}
        {{if fvalue.flag01==1 && value.auctionId==fvalue.auctionId}}
         <li >
            <p class="proname"   onclick="doAuction('{{fvalue.auctionId}}', '{{fvalue.pkid}}')" >{{fvalue.pm}}
                            <span class="perty">{{fvalue.cz}}</span> {{if fvalue.pm == "DTY"}}
                            <span class="perty">{{fvalue.str02}}</span>
                            <span class="perty">{{fvalue.str03}}</span> {{else}}
                            <span class="perty">{{fvalue.wzlb}}</span> {{if fvalue.str04 != null}}
                            <span class="perty">{{fvalue.str04}}</span> {{/if}} {{if fvalue.str02 != null}}
                            <span class="perty">{{fvalue.str02}}</span> {{/if}} {{/if}}
                </p>
                <p class="size" onclick="doAuction('{{fvalue.auctionId}}', '{{fvalue.pkid}}')">
                {{if (fvalue.pm != "切片" && fvalue.pm != "锦纶切片")}} {{fvalue.gg}}&nbsp;&nbsp;{{/if}} {{fvalue.cd}}
                </p>
           {{if fvalue.totalDiscount }}
		   <p class="size" onclick="doAuction('{{fvalue.auctionId}}', '{{fvalue.pkid}}')">
				<span class="i18n" name="al_luggagenum">箱包总数</span>
		   {{fvalue.totalDiscount}}
				<span class="i18n" name="al_pack">包</span>
		   </p>
           {{/if}}
		   {{if fvalue.totalWeight }}
		   <p class="size" onclick="doAuction('{{fvalue.auctionId}}', '{{fvalue.pkid}}')"> 
				<span class="i18n" name="al_weight">重量</span>
		   {{fvalue.totalWeight}}kg</p>
           {{/if}}
		   <div class="price price_b" onclick="doAuction('{{fvalue.auctionId}}', '{{fvalue.pkid}}')">
             <ul class="price_ul">
                <li class="price_list">
					<span class="i18n" name="al_cjprice">成交单价</span>
				<em class="price_item1"> ￥<span class="price_num">{{fvalue.transactionPrice}}</span></em></li>
              </ul>
          </div>
		  </li>
        {{/if}}
		{{/each}}
    {{if value.depid!=null&&value.depid!=''}}
    <li>
        <p class="size">供货企业&nbsp;&nbsp;{{#getData(value.depid)}}</p> 
    </li>
    {{/if}}
		<li >
		 <p class="size" style="margin-top: 10px;" onclick="doAuction('{{value.auctionId}}', '{{value.pkid}}')">
             &nbsp;&nbsp;
          </p>
        {{if value.status==1 }}
		  <div class="price_btn">
            <input type="submit" onclick="doBuyflag('{{value.auctionId}}','{{value.pkid}}','{{value.wzid}}','{{value.depid}}','{{value.salesType}}','{{value.flag01}}','{{value.flag02}}');" class="overplus_4" value="立即购买"  />
          </div>
		 
		   {{/if}}
		  {{if value.status==3 }}
		  <div class="price_btn">
            <input type="submit"   style="background:#fe9311"class="overplus_4" value="已购买"  />
          </div>
		   {{if value.flag02!=1  && value.flag02!=2}}
		  <div class="price_btn" style="right: 87px;">
            <input type="submit" onclick="doLd('{{value.auctionId}}','{{value.pkid}}','{{value.flag01}}');" class="overplus_4" value="抽奖"  />
          </div>
		  {{/if}}
		   {{/if}}
         </li>
        </ul>


		{{else if value.flag01!=1}}
        <ul class="focuslist focuslist1 focuslist2">
        <li >
            <p class="proname"   onclick="doAuction('{{value.auctionId}}', '{{value.pkid}}')" >{{value.pm}}
                            <span class="perty">{{value.cz}}</span> {{if value.pm == "DTY"}}
                            <span class="perty">{{value.str02}}</span>
                            <span class="perty">{{value.str03}}</span> {{else}}
                            <span class="perty">{{value.wzlb}}</span> {{if value.str04 != null}}
                            <span class="perty">{{value.str04}}</span> {{/if}} {{if value.str02 != null}}
                            <span class="perty">{{value.str02}}</span> {{/if}} {{/if}}
                </p>
                <p class="size" onclick="doAuction('{{value.auctionId}}', '{{value.pkid}}')">
                {{if (value.pm != "切片" && value.pm != "锦纶切片")}} {{value.gg}}&nbsp;&nbsp;{{/if}} {{value.cd}}
                </p>
           {{if value.totalDiscount }}
		   <p class="size" onclick="doAuction('{{value.auctionId}}', '{{value.pkid}}')">
				<span class="i18n" name="al_luggagenum">箱包总数</span>
		   {{value.totalDiscount}}
				<span class="i18n" name="al_pack">包</span>
		   </p>
           {{/if}}
		   {{if value.totalWeight }}
		   <p class="size" onclick="doAuction('{{value.auctionId}}', '{{value.pkid}}')"> 
				<span class="i18n" name="al_weight">重量</span>
		   {{value.totalWeight}}kg</p>
           {{/if}}
         {{if value.depid }}
       <p class="size" onclick="doAuction('{{value.auctionId}}', '{{value.pkid}}')"> 
        <span class="i18n" name="al_weight">供货企业</span>
       {{#getData(value.depid)}}</p>
           {{/if}}
       {{if value.flag03 }}
       <p class="size" onclick="doAuction('{{value.auctionId}}', '{{value.pkid}}')"> 
        <span class="i18n" name="al_weight">状态</span>
       {{if value.flag03==1}}竞拍成功{{else if value.flag03==2}}收款成功{{else if value.flag03==3}}物流配送中{{else if value.flag03==4}}交易完成{{/if}}</p>
      {{/if}}
		   <div class="price price_b" onclick="doAuction('{{value.auctionId}}', '{{value.pkid}}')">
             <ul class="price_ul">
                <li class="price_list">
					<span class="i18n" name="al_cjprice">成交单价</span>
				<em class="price_item1"> ￥<span class="price_num">{{value.transactionPrice}}</span></em></li>
              </ul>
          </div>
		  {{if value.status==1 }}
		  <div class="price_btn">
            <input type="submit" onclick="doBuy('{{value.auctionId}}','{{value.pkid}}','{{value.wzid}}','{{value.depid}}','{{value.salesType}}', '{{value.flag02}}');" class="overplus_4" value="立即购买"  />
          </div>
		   {{/if}}
		   {{if value.status==3 }}
		  <div class="price_btn">
            <input type="submit"   style="background:#fe9311"class="overplus_4" value="  已购买  "  />
          </div>
		  {{if value.flag02!=1 && value.flag02!=2 }}
		   <div class="price_btn" style="right: 87px;">
            <input type="submit" onclick="doLd('{{value.auctionId}}','{{value.pkid}}','{{value.flag01}}');" class="overplus_4" value="抽奖"  />
          </div>
		   {{/if}}
		   {{/if}}
         </li>
        </ul>
       {{/if}}
       {{/each}}
        </script>
    <script id="list_page2" type="text/html">
        {{each data as value i}}
        <ul class="focuslist focuslist1 focuslist2">
        <li onclick="doAuction('{{value.auctionId}}', '{{value.pkid}}')">
            <p class="proname">{{value.pm}}
                            <span class="perty">{{value.cz}}</span> {{if value.pm == "DTY"}}
                            <span class="perty">{{value.str02}}</span>
                            <span class="perty">{{value.str03}}</span> {{else}}
                            <span class="perty">{{value.wzlb}}</span> {{if value.str04 != null}}
                            <span class="perty">{{value.str04}}</span> {{/if}} {{if value.str02 != null}}
                            <span class="perty">{{value.str02}}</span> {{/if}} {{/if}}
                </p>
                <p class="size">
                {{if (value.pm != "切片" && value.pm != "锦纶切片")}} {{value.gg}}&nbsp;&nbsp;{{/if}} {{value.cd}}
                </p>
           {{if value.totalDiscount }}
		   <p class="size">
				<span class="i18n" name="al_luggagenum">箱包总数</span>	
		   {{value.totalDiscount}}包</p>
           {{/if}}
		   {{if value.totalWeight }}
		   <p class="size">
				<span class="i18n" name="al_weight">重量</span>	
		   {{value.totalWeight}}kg</p>
           {{/if}}
		  {{if value.status==1 }}
          {{if value.transactionPrice }}
		  <div class="price price_b">
             <ul class="price_ul">
                <li class="price_list">
					<span class="i18n" name="al_cjprice">成交单价</span>
				<em class="price_item1"> ￥<span class="price_num">{{value.transactionPrice}}</span></em></li>
              </ul>
          </div>
		  {{/if}}
		  {{else if value.status==2}}
          <p class="price_c">
			<span class="i18n" name="al_flowmark">流标</span>
		  <em class="price_d"><span></span></em></p>
		  {{else if value.status==3}}
		  {{if value.transactionPrice }}
		  <div class="price price_b">
             <ul class="price_ul">
                <li class="price_list">
				<span class="i18n" name="al_cjprice">成交单价</span>	
				<em class="price_item1"> ￥<span class="price_num">{{value.transactionPrice}}</span></em></li>
              </ul>
          </div>
		  {{/if}}
		  {{else if value.status==0 }}
          <div class="price_btn">
           <input type="submit" 
			 class="overplus_4" onclick="doAuction('{{value.auctionId}}', '{{value.pkid}}')" value="立即出价"  />
          </div>
		  {{else}}
		  <div class="price_btn">
           <input type="submit" 
			 class="overplus_4" onclick="doAuction('{{value.auctionId}}', '{{value.pkid}}')" value="立即出价"  />
          </div>
		  {{/if}}
          </li>
		  <li class="focuslist_list">
           <p class="shop_people">
		   
		   <span class="i18n" name="al_jpwinner">竞拍赢家</span>	
		   <span>
		  {{if (mbname != value.mbname)}}
		  {{#getName(value.mbname)}}
		  {{else}}
		  {{value.mbname}}
		  {{/if}}
		   </span></p> {{if value.flag02!=1 && value.flag02!=2 && value.status!=2 }}
		   <div class="price_btn" style="top:1px;">
            <input type="submit" onclick="doLd('{{value.auctionId}}','{{value.pkid}}','{{value.flag01}}');" class="overplus_4" value="抽奖"  />
          </div>
		   {{/if}}
        </li>
        </ul>
       {{/each}}
        </script>
</body>

</html>