<!DOCTYPE html>
<html>

<head>
    <title name="act_title">限时竞拍</title>
    <% include ../../components/_head.art %>
    <style>
        .wx_main {
            top: 0px;
        }
    </style>
</head>

<body>
    <article class="wx_layout">
        <div class="rule" style="display: none;">
            <div class="rule_bg">
                <p class="rule_title" id="rulename"><span name="act_yhgz" class="i18n">优惠规则</span></p>
                <p class="rule_detail" id="exDiscountRulesList"></p>
                <p class="rule_close"><span name="act_shutdown" class="i18n">关闭</span></p>
            </div>
        </div>
        <div class="wx_prompt rule11" style="display: none;">
            <h2>您还不具备竞拍资格，是否申请？</h2>
            <div class="bd">
                <div class="btnarea"><a class="operbtn" onclick="showRule22()">立刻申请</a><a class="operbtn"
                        onclick="doCancel()">再想想</a></div>
            </div>
        </div>
        <div class="wx_prompt rule15" style="display: none;">
            <h2>很抱歉，您的申请未通过</h2>
            <p>原因：没有缴纳保证金，请尽快缴纳保证金（具体缴纳方式参考申请页面文字说明）。</p>
            <div class="bd">
                <div class="btnarea"><a class="operbtn" onclick="doOk()">我已缴纳</a><a class="operbtn"
                        onclick="doCancel()">再想想</a></div>
            </div>
        </div>
        <div class="wx_prompt rule22" style="display: none;">
            <h2>申请竞拍资格</h2>
            <div class="bd">
                <div class="cont">
                    <h3 class="c3e7caf"><i class="iconfont">&#xeab1;</i>申请竞拍资格需缴纳5000元保证金</h3>
                    <p>1、押金缴纳方式：提交申请后，请及时将5000元汇入恒逸石化销售公司账户，我们会将其冻结；</p>
                    <p>2、押金使用说明：缴纳押金后，即可参与微商城竞拍，直至押金解冻；</p>
                    <p>3、押金不可抵用货款；且如果拍中后悔单，没收5000元保证金，且1个月内无法参与竞拍；</p>
                    <p>4、押金解冻说明：联系业务员，让其安排解冻，解冻后，便无法参与竞拍，如想再次竞拍，重新缴纳押金即可。</p>
                </div>
                <div class="btnarea"><a class="operbtn" onclick="doOk()">提交申请</a></div>
            </div>
        </div>


        <section class="wx_main" id="infinitePage">
            <div id="list"></div>
        </section>
    </article>
    <% include ../../_foot.html %>
    <script src="../../js/oauth2.min.js"></script>
    <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script>
        $(function () {
            wxconfig();
        });
    </script>

    <script src="../customer/auction.js"></script>
    <script id="auction_page" type="text/html">
            {{each data as value i}}
            <div class="wx_myfocus">
                <div class="commontil hytil shop">
                    <span class="line1"></span>
                    <span class="tiltext i18n" name="act_xsjp">限时竞拍</span>
                    <p class="activity">{{value.auctionName}}</p>
                    <i class="iconfont icon-mark" onclick="showrule2('{{value.biddingRules}}')"></i>
                </div>
                {{each value.mxList as mx j}} 
				{{if mx.flag01==1 && j==0 }} 
                <div class="commontil hytil">
                    <span class="line"></span>
                    <span class="tiltext">打包拍卖</span>
                </div>
                  {{each value.mxList as mxf f}} 


                {{if mxf.flag01==1 }} 
               
                <ul class="focuslist focuslist1" style="border-bottom: 0px solid #ddd; border-top: solid 1px #ddd;">
                    <li>
                        <p class="proname">{{mxf.pm}}
                            <span class="perty">{{mxf.cz}}</span> {{if mxf.pm == "DTY"}}
                            <span class="perty">{{mxf.str02}}</span>
                            <span class="perty">{{mxf.str03}}</span> {{else}}
                            <span class="perty">{{mxf.wzlb}}</span> {{if mxf.str04 != null}}
                            <span class="perty">{{mxf.str04}}</span> {{/if}} {{if mxf.str02 != null}}
                            <span class="perty">{{mxf.str02}}</span> {{/if}} {{/if}}
                        </p>
                        <p class="size">
                            {{if (mxf.pm != "切片" && mxf.pm != "锦纶切片")}} {{mxf.gg}}&nbsp;&nbsp;{{/if}} {{mxf.cd}} {{if mxf.differentiation != null&&mxf.differentiation==1}}
                            <span class="perty i18n" name="act_cyh">差异化</span> {{/if}}
                        </p>
                        {{if mxf.totalDiscount }}
                        <p class="size"><span name="act_packsum" class="i18n">箱包总数</span>{{mxf.totalDiscount}}包</p>
                        {{/if}} {{if mxf.totalWeight }}
                        <p class="size"><span name="act_weight" class="i18n">重量</span> {{mxf.totalWeight}}kg</p>
                        {{/if}}
                        <p class="size">
                            {{if value.status == 1}} {{if mxf.startMs }}
                            <span id="title_{{mxf.pkid}}" name="act_starttime" class="i18n">开始倒计时</span>
                            <input type="hidden" class="time" pid="{{value.pkid}}" id="{{mxf.pkid}}" value="{{mxf.startMs}}">
                            <input type="hidden" id="endMs_{{mxf.pkid}}" value="{{mxf.endMs}}" /> {{else}}
                            <span id="title_{{mxf.pkid}}" name="act_endtime" class="i18n">结束倒计时</span>
                            <input type="hidden" class="time" id="{{mxf.pkid}}" value="{{mxf.endMs}}"> {{/if}}
                            <span class="size_time" id="time_{{mxf.pkid}}">
           00天00时00分00秒</span> {{else}}
                             {{/if}}
                        </p>
                        <div class="price price_b">
                            <ul class="price_ul">
                                <li class="price_list"><span name="act_dqprice" class="i18n">当前拍卖单价</span><em class="price_item1"> ￥<span class="price_num">{{if mxf.price03 }}{{mxf.price03}} {{else}}{{mxf.startingPrice}} {{/if}}</span></em></li>
                                <li class="price_list"><span name="act_jjfd" class="i18n">加价幅度</span><em class="price_item2">{{mxf.increasePrice}}<span name="act_yuan" class="i18n">元</span></em></li>
                            </ul>
                        </div>
                     
                
                         </li>
						 </ul>
                   {{/if}}
                    {{/each}}
                    <ul class="focuslist focuslist1" style="border-bottom: 1px solid #ddd; border-top: solid 0px #ddd;"> <p class="proname"><span>&nbsp;</span></p> <p class="proname"></p> <p class="proname"></p>
                    <li>
				       {{if value.status ==1}}
                        <div class="price_btn">
                            {{if mx.startMs }}
                            <input type="button" class="overplus_4 i18n_va" name="act_jdkp" id="btn_{{mx.pkid}}" style="background: #a2a0a0;" value="静等开拍" /> {{else}}
                            <input type="button" class="overplus_4 i18n_va" name="act_wlcj" id="btn_{{mx.pkid}}" value="我来出价" onclick="doAuction('{{value.pkid}}', '{{mx.pkid}}','{{mx.flag01}}','{{value.flag03}}')" /> {{/if}}
                        </div>
                        {{else}}
                        <div class="price_btn">
                            <input type="submit" class="overplus_4 i18n_va" name="act_yjs" style="background: #a2a0a0;" value="已结束" />
                        </div>
                        {{/if}}  
				
				   </li>
						 </ul>
               

				
				{{else if mx.flag01!=1}}
                <div class="commontil hytil">
                    <span class="line"></span>
                    <span class="tiltext">{{mx.pm}}</span>
                </div>
                <ul class="focuslist focuslist1">
                    <li>
                        <p class="proname">{{mx.pm}}
                            <span class="perty">{{mx.cz}}</span> {{if mx.pm == "DTY"}}
                            <span class="perty">{{mx.str02}}</span>
                            <span class="perty">{{mx.str03}}</span> {{else}}
                            <span class="perty">{{mx.wzlb}}</span> {{if mx.str04 != null}}
                            <span class="perty">{{mx.str04}}</span> {{/if}} {{if mx.str02 != null}}
                            <span class="perty">{{mx.str02}}</span> {{/if}} {{/if}}
                        </p>
                        <p class="size">
                            {{if (mx.pm != "切片" && mx.pm != "锦纶切片")}} {{mx.gg}}&nbsp;&nbsp;{{/if}} {{mx.cd}} {{if mx.differentiation != null&&mx.differentiation==1}}
                            <span class="perty i18n" name="act_cyh">差异化</span> {{/if}}
                        </p>
                        {{if mx.totalDiscount }}
                        <p class="size"><span name="act_packsum" class="i18n">箱包总数</span>{{mx.totalDiscount}}包</p>
                        {{/if}} {{if mx.totalWeight }}
                        <p class="size"><span name="act_weight" class="i18n">重量</span> {{mx.totalWeight}}kg</p>
                        {{/if}}
                        <p class="size">
                            {{if value.status == 1}} {{if mx.startMs }}
                            <span id="title_{{mx.pkid}}" name="act_starttime" class="i18n">开始倒计时</span>
                            <input type="hidden" class="time" pid="{{value.pkid}}" id="{{mx.pkid}}" value="{{mx.startMs}}">
                            <input type="hidden" id="endMs_{{mx.pkid}}" value="{{mx.endMs}}" /> {{else}}
                            <span id="title_{{mx.pkid}}" name="act_endtime" class="i18n">结束倒计时</span>
                            <input type="hidden" class="time" id="{{mx.pkid}}" value="{{mx.endMs}}"> {{/if}}
                            <span class="size_time" id="time_{{mx.pkid}}">
           00天00时00分00秒</span> {{else}}
                            <span>&nbsp;</span> {{/if}}
                        </p>
                        <div class="price price_b">
                            <ul class="price_ul">
                                <li class="price_list"><span name="act_dqprice" class="i18n">当前拍卖单价</span><em class="price_item1"> ￥<span class="price_num">{{if mx.price03 }}{{mx.price03}} {{else}}{{mx.startingPrice}} {{/if}} </span></em></li>
                                <li class="price_list"><span name="act_jjfd" class="i18n">加价幅度</span><em class="price_item2">{{mx.increasePrice}}<span name="act_yuan" class="i18n">元</span></em></li>
                            </ul>
                        </div>
                        {{if value.status ==1}}
                        <div class="price_btn">
                            {{if mx.startMs }}
                            <input type="button" class="overplus_4 i18n_va" name="act_jdkp" id="btn_{{mx.pkid}}" style="background: #a2a0a0;" value="静等开拍" /> {{else}}
                            <input type="button" class="overplus_4 i18n_va" name="act_wlcj" id="btn_{{mx.pkid}}" value="我来出价" onclick="doAuction('{{value.pkid}}', '{{mx.pkid}}','{{mx.flag01}}','{{value.flag03}}')" /> {{/if}}
                        </div>
                        {{else}}
                        <div class="price_btn">
                            <input type="submit" class="overplus_4 i18n_va" name="act_yjs" style="background: #a2a0a0;" value="已结束" />
                        </div>
                        {{/if}}
                    </li>
                </ul>
                {{/if}} {{/each}}
            </div>
            {{/each}}
        </script>
</body>

</html>