<!DOCTYPE html>
<html>

<head>
	<title>账单详情</title>
	<% include ../../components/_head.art %>
	<style>
		html,
		body {
			background: #3e7caf;
			font-size: 121.5%;
		}

		.toolbar .toolbar-inner {
			height: 2.7rem;
		}

		.toolbar .title {
			height: 2.7rem;
			font-size: 211%;
		}

		.toolbar .clear-button,
		.toolbar .picker-button {
			height: 2.7rem;
			font-size: 220%;
		}

		.weui-picker-modal .picker-items {
			font-size: 2rem;
		}
	</style>

</head>

<body>
	<article class="wx_layout">
		<header class="wx_mbilltop">
			<h1>月账单</h1>
		</header>
		<div class="wx_monthbill">
			<div class="lace"></div>
			<div class="date">
				<div class="tit"><label style="width: 100%"><input type="search"
							style="font-size: 2rem;border: 0px;width: 100%;" id="rqStart" /></label><i class="iconfont"
						style="margin-top: -34px;pointer-events:none;font-size: 2.8rem;" onclick="">&#xe794;</i></div>
				<div class="line1"></div>
				<div class="line2"></div>
			</div>
			<section>
				<div class="wx_lfline">
					<label>订单消费</label>
					<ul class="wx_change">
						<li class="on">饼状图</li>
						<li>线状图</li>
					</ul>
					<b id="sumHtamt">0万元</b>
				</div>
				<div class="wx_charts" style="height: 250px">
					<div class="chart" id="pieChart"></div>
					<div class="chart" id="lineChart"></div>
				</div>
			</section>
			<section class="wx_infofk">
				<div class="wx_lfline" id="ykdFlase">
					<label>逸控代</label>
					<ul>
						<li>未开通</li>
					</ul>
					<a class="bluebtn" onclick="toYkd()">我要开通<i class="iconfont">&#xe61c;</i></a>
				</div>
				<div id="ykdTrue" style="display: none">
					<div class="wx_lfline">
						<label>逸控代</label>
						<ul>
							<li class="on">已开通</li>
						</ul>
					</div>
					<div class="wx_table">
						<div class="thead">
							<table width="100%" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<th width="20%">时间</th>
									<th width="22%">订单号</th>
									<th width="20%">订单金额</th>
									<th width="19%">已提货量</th>
									<th width="19%">未提货量</th>
								</tr>
							</table>
						</div>
						<div class="tbody">
							<table width="100%" border="0" cellpadding="0" cellspacing="0" id="list">

							</table>
							<div class="linearbg" id="yinying"></div>
							<div class="fold" id="foldShowList" onclick="showList()"><i class="iconfont">&#xe62f;</i><label>展开</label>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="wx_lfline">
					<label>代金券</label>
				</div>
				<div class="wx_quan" id="quan">

				</div>
			</section>
		</div>
	</article>
	<% include ../../components/_foot.art %>
	<script src="../../js/echarts.min.js"></script>
	<script src="../customer/bill.js"></script>
	<script id="list_page" type="text/html">
        	{{each ykdList as value i}}
        		{{if i>1}}
        			<tr class="hide">
        		{{else}}
					<tr>
	  			{{/if}}
	  					<td width="20%" style="padding-left: 4px">{{#getDate(value.cdate)}}</td>
	  					<td width="20%">{{value.id.fphm}}</td>
	  					<td width="20%" style="padding-left: 10px">{{value.htamt}}万元</td>
	  					<td width="20%" style="padding-left: 10px">{{value.ytsl}}吨</td>
	  					<td width="20%" style="padding-left: 10px">{{value.wtsl}}吨</td>
	  				</tr>
	  		{{/each}}
        </script>
	<script id="list_page2" type="text/html">
					<tr>
	  					<td colspan="5" style="padding-left: 4px;">本月没有逸控代订单</td>
	  				</tr>
        </script>
	<script id="quan_page" type="text/html">
        	<ul>
  				<li>
  					<div class="info">
	  					<div class="tit">可使用</div>
	  					<div class="cont">
	  						<label>数量：{{djq.ksyzs}}张</label>
	  						<label>总额：{{djq.ksyje}}元</label>
	  						<a href="javaScript:" onclick="openCoupon()"><i class="iconfont">&#xeab1;</i>查看优惠券</a>
	  					</div>
  					</div>
  				</li>
  				<li class="used">
  					<div class="info">
	  					<div class="tit">已使用</div>
	  					<div class="cont">
	  						<label>数量：{{djq.ysyzs}}张</label>
	  						<label>总额：{{djq.ysyje}}元</label>
	  						<a style="display: none;" href="javaScript:" onclick="openOrder()"><i class="iconfont">&#xeab1;</i>查看订单</a>
	  						<a href="javaScript:" onclick="openCoupon()"><i class="iconfont">&#xeab1;</i>查看优惠券</a>
	  					</div>
  					</div>
  				</li>
  				<li class="limit">
  					<div class="info">
	  					<div class="tit">即将过期</div>
	  					<div class="cont">
	  						<label>数量：{{djq.kgqzs}}张</label>
	  						<label>总额：{{djq.kgqje}}元</label>
	  						<a href="javaScript:" onclick="openCoupon()"><i class="iconfont">&#xeab1;</i>查看优惠券</a>
	  					</div>
  					</div>
  				</li>
  			</ul>
        </script>
</body>

</html>