<!DOCTYPE html>
<html>

<head>
    <title  name="cu_title">切换用户</title>
    <% include ../../components/_head.art %>
        <style>
        .weui_cells_radio .weui_check:checked + .weui_icon_checked:before {
            margin-top: -20px;
        }
        
        .weui_cells {
            font-size: 1.5rem;
        }
        </style>
</head>

<body>
    <article class="wx_layout">
        <section class="wx_main" id="main">
        </section>
    </article>
    <% include ../../_foot.html %>
        <script src="../customer/changeUser.js"></script>
        <script id="main_page" type="text/html">
            <div class="weui_cells weui_cells_radio" style="margin-top: 0px;">
                {{each data as value i}}
                <label class="weui_cell weui_check_label" onclick="changeUser('{{value.userid}}')">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>{{value.mbname}}({{value.username}})</p>
                    </div>
                    <div class="weui_cell_ft">
                        <input type="radio" {{if value.userid == currentUserid}}checked {{/if}} class="weui_check" name="radio">
                        <span class="weui_icon_checked"></span>
                    </div>
                </label>
                {{/each}}
            </div>
        </script>
</body>

</html>
