<!DOCTYPE html>
<html>

<head>
    <title name="col_title">代金券列表</title>
    <% include ../../components/_head.art %>        
</head>
<style type="text/css">

.send {
    position: absolute;
    margin-left: -10px;
    width: 40px;
    font-size: 20px;
    line-height: 20px;
}
</style>
<body>
    <article class="wx_layout">
        <section class="wx_main" id="infinitePage">
            <div class="swiper-container wx_banner" id="wx_banner"></div>
            <div id="list">
            </div>
        <div class="yhq_btn" id="yhqnull0" style="display:none" onclick="toInvalid();"><span class="i18n" name="col_ckwfsydq">查看无法使用的券</span></div>
		<div class="yhq_wk" id="yhqnull1" style="display:none">
         <hr class="yhq_line" />
        <span class="yhq_nothing"><i class="iconfont icon-yhq"></i></span>
        </div>
        <p class="yhq_nothing_text" id="yhqnull2" style="display:none"><span class="i18n" name="col_zwyhq">暂无代金券</span></p>
        </section>        
    </article>
    <% include ../../_foot.html %>
        <script src="../customer/couponList.js"></script>
        <!--显示悬浮图标-->
        <script type="text/javascript">
            $(function() {
                initSuspendIcon();
            });
        </script>
    <% include ../include/menberPopup2.html %>
        <script src="../../lib/swiper.min.js"></script>
        <script id="otherBanner_page" type="text/html">
            <div class="swiper-wrapper" >
                {{each otherBanner as value i}}
                    <div class="swiper-slide">
                    <img src="{{filePath}}{{value.imgUrl}}"  onclick="toLinkUrl('{{value.title}}', '{{value.linkUrl}}')"/>
                    </div>
                {{/each}}
            </div>
        </script> 
        <script id="list_page" type="text/html">
            {{each data as value i}}
                {{if value.couponPrice < 100 }}
                <div class="wx_voucher svalue" style="{{if value.status != 0}}background: -webkit-linear-gradient(117deg,#999,#999);{{/if}}" >
                {{if value.grantMode !='抽奖'}}
                                <a class="send" style="border-bottom: 1px solid #0000FF;color: #0000FF;float: left; " class="flexible_btn flexible_btn1" onclick="showMenberPopup('{{value.couponCode}}');"><span class="i18n" name="col_zs">赠送</span></a>
                                {{/if}}
                <div class="left">
                    <div class="value"><em>￥</em><label>{{value.couponPrice}}</label></div>
                    <div class="range">
                    {{if value.ruleId!=null}} {{if value.rulePm!=null}}{{value.rulePm}}可用{{else}}活动专享{{/if}}
                {{else}}全品类可用
            {{/if}}</div>
                </div>
                <div class="right">
                    <dl>
                        <dt>代 金 券</dt>
                        <dd class="fs18">{{if value.limitMinimumPrice !=null}}满{{value.limitMinimumPrice}}元{{/if}}可用</dd>
                        <dd class="fs12 cf4eb01" style="{{if value.status != 0}}font-size: #fff{{/if}}">有效期：{{#getDate(value.startDate,"yyyy.MM.dd")}}-{{#getDate(value.endDate,"yyyy.MM.dd")}}</dd>
                        <dd><label>{{value.couponName}}</label></dd>
                    </dl>
                </div>
                <div class="dot top"><i></i><i></i></div>
                <div class="circle"></div>
                <div class="dot bom"><i></i><i></i></div>
            </div>
            {{else if value.couponPrice < 1000}}
            <div class="wx_voucher mvalue" style="{{if value.status != 0}}background: -webkit-linear-gradient(117deg,#999,#999);{{/if}}">
                {{if value.grantMode !='抽奖'}}
                                <a class="send" style="border-bottom: 1px solid #0000FF;color: #0000FF;float: left; " class="flexible_btn flexible_btn1" onclick="showMenberPopup('{{value.couponCode}}');"><span class="i18n" name="col_zs">赠送</span></a>
                                {{/if}}
                <div class="left">
                    <div class="value"><em>￥</em><label>{{value.couponPrice}}</label></div>
                    <div class="range">
                    {{if value.ruleId!=null}} {{if value.rulePm!=null}}{{value.rulePm}}可用{{else}}活动专享{{/if}}
                {{else}}全品类可用
            {{/if}}</div>
                </div>
                <div class="right">
                    <dl>
                        <dt>代 金 券</dt>
                        <dd class="fs18">{{if value.limitMinimumPrice !=null}}满{{value.limitMinimumPrice}}元{{/if}}可用</dd>
                        <dd class="fs12 cf4eb01" style="{{if value.status != 0}}font-size: #fff{{/if}}">有效期：{{#getDate(value.startDate,"yyyy.MM.dd")}}-{{#getDate(value.endDate,"yyyy.MM.dd")}}</dd>
                        <dd><label>{{value.couponName}}</label></dd>
                    </dl>
                </div>
                <div class="dot top"><i></i><i></i></div>
                <div class="circle"></div>
                <div class="dot bom"><i></i><i></i></div>
            </div>
            {{else}}
            <div class="wx_voucher lvalue" style="{{if value.status != 0}}background: -webkit-linear-gradient(117deg,#999,#999);{{/if}}">
                {{if value.grantMode !='抽奖'}}
                                <a class="send" style="border-bottom: 1px solid #0000FF;color: #0000FF;float: left; " class="flexible_btn flexible_btn1" onclick="showMenberPopup('{{value.couponCode}}');"><span class="i18n" name="col_zs">赠送</span></a>
                                {{/if}}
                <div class="twrap">
                    <div class="value"><em>￥</em><label>{{value.couponPrice}}</label></div>
                    <dl class="range">
                        <dt>代 金 券</span>
                        <dd class="fs15">
                    {{if value.ruleId!=null}} {{if value.rulePm!=null}}{{value.rulePm}}可用{{else}}活动专享{{/if}}
                {{else}}全品类可用
            {{/if}}</dd>
                    </dl>
                </div>
                <div class="bwrap">
                    <dl>
                        <dd class="fs18">{{if value.limitMinimumPrice !=null}}满{{value.limitMinimumPrice}}元{{/if}}可用</dd>
                        <dd class="fs12 cf4eb01" style="{{if value.status != 0}}font-size: #fff{{/if}}">有效期：{{#getDate(value.startDate,"yyyy.MM.dd")}}-{{#getDate(value.endDate,"yyyy.MM.dd")}}</dd>
                        <dd class="quan"><label>{{value.couponName}}</label></dd>
                    </dl>
                </div>
                <div class="dot top"><i></i><i></i></div>
                <div class="circle"></div>
                <div class="dot bom"><i></i><i></i></div>
            </div>
            {{/if}}
                            {{/each}}
        </script>
</body>

</html>
