<!DOCTYPE html>
<html>

<head>
    <title name="gp_title">优惠拼团</title>
    <% include ../../components/_head.art %>
    <style>
        .wx_main {
            top: 0px;
        }
    </style>
</head>

<body>
    <article class="wx_layout">
        <div class="rule" style="display: none;">
            <div class="rule_bg">
                <p class="rule_title" id="rulename"><span class="i18n" name="gp_yhgz">优惠规则</span></p>
                <p class="rule_detail" id="exDiscountRulesList"></p>
                <p class="rule_close"><span class="i18n" name="gp_close">关闭</span></p>
            </div>
        </div>
        <section class="wx_main" id="infinitePage">
            <div id="list"></div>
        </section>
    </article>
    <% include ../../components/_foot.art %>
    <script src="../../js/oauth2.min.js"></script>
    <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script>
        $(function () {
            wxconfig();
        });
    </script>

    <script src="../customer/groupPurchase.js"></script>
    <script id="groupBuyList_page" type="text/html">
            {{each data as value i}}
            <div class="wx_myfocus">
                <div class="commontil hytil">
                    <span class="line1"></span>
                    <span class="tiltext">{{value.title}}</span>
                    <p class="activity"><span class="i18n" name="gp_ptgzsm">拼团规则说明</span></p>
                    <i class="iconfont icon-mark" onclick="showrule3('{{value.rules}}')"></i>
                </div>                
                <ul class="focuslist">
                    {{if (value.ruleList != null && value.ruleList.length > 0)}}
                    <li class="hy_yhgz">
                        <p class="yhgz_title"><span class="i18n" name="gp_ptyhrx">拼团优惠如下</span>：</p>

                        <table class="yhgz_table" border="0" cellpadding="0" cellspacing="1">
                      <tr class="yhgz_top">
                         <td class="td1">
                            <span class="i18n" name="gp_zdyq">最低要求</span>
                            {{if value.typ ==1 }}(包){{/if}}
                            {{if value.typ ==2 }}(kg){{/if}}
                        </td>
                         <td class="td2"><span class="i18n" name="gp_dytgj">对应团购价</span></td>
                         <td><span class="i18n" name="gp_shuoming">说明</span></td>
                      </tr>
                    {{each value.ruleList as rule}}
                      <tr>
                         <td>{{rule.minNum}}</td>
                         <td>{{rule.price}}</td>
                         <td>{{rule.remark}}</td>
                      </tr>
                      {{/each}}
              
            </table>
           <p class="yhgz_bottom"> <span class="i18n" name="gp_ghdzps">该活动已拼总数</span>：<span>
                {{value.gbsl == null ? 0 : value.gbsl}}
                {{if value.typ ==1 }}包{{/if}}
                {{if value.typ ==2 }}kg{{/if}}
           </span></p>
           {{/if}}
        </li>
                    
                    {{each value.mxList as mx j}}
                    <li>
                        <p class="proname">{{mx.pm}}
                            <span class="perty">{{mx.cz}}</span> {{if mx.pm == "DTY"}}
                            <span class="perty">{{mx.str02}}</span>
                            <span class="perty">{{mx.str03}}</span> {{else}}
                            <span class="perty">{{mx.wzlb}}</span> {{if mx.str04 != null}}
                            <span class="perty">{{mx.str04}}</span> {{/if}} {{if mx.str02 != null}}
                            <span class="perty">{{mx.str02}}</span> {{/if}} {{/if}}
                            {{if mx.differentiation != null&&mx.differentiation==1}}
                            <span class="perty i18n" name="gp_cyh">差异化</span> {{/if}} 
                        </p>
                        <p class="size">
                            {{if (mx.pm != "切片" && mx.pm != "锦纶切片")}} {{mx.gg}}&nbsp;&nbsp;{{/if}} {{mx.cd}}
                        </p>                        
                        <p class="size">
                             <span class="i18n" name="gp_yp">已拼</span><em style="color: #fe9311;margin:0px 5px;">{{mx.gbsl == null ? 0 : mx.gbsl }}</em>{{if value.typ ==1 }}包{{/if}}                       {{if value.typ ==2 }}kg{{/if}}
                        </p>                        
                        <p class="size">
                            {{if mx.status == 1}}                                 
                                {{if mx.startMs }} 
                                    <span id="title_{{mx.pkid}}" name="gp_ksdjs" class="i18n">开始倒计时</span>
                                    <input type="hidden" class="time" id="{{mx.pkid}}" value="{{mx.startMs}}"/>
                                    <input type="hidden" id="endMs_{{mx.pkid}}" value="{{mx.endMs}}"/>
                                {{else}} 
                                    <span id="title_{{mx.pkid}}" name="gp_jsdjs" class="i18n">结束倒计时</span>
                                    <input type="hidden" class="time" id="{{mx.pkid}}" value="{{mx.endMs}}"/>
                                {{/if}}                                
                                    <span class="size_time" id="time_{{mx.pkid}}">
                                        
                                    </span>                                        
                            {{else if (mx.status == 0)}} 
                                 <span class="i18n" name="gp_pterror">拼团失败</span>
                            {{else if (mx.status == 2 || mx.status == 3)}}  <span class="i18n" name="gp_ptsucess">拼团成功</span>{{/if}}
                        </p>
                        <div class="price price_b">
                            <ul class="price_ul">
                                <li class="price_list"><span class="i18n" name="gp_ptprice">拼团价</span><em class="price_item1"> ￥<span class="price_num" style="font-size: 1.3rem;">{{mx.gbprice}}</span></em></li>
                                <li class="price_list"><span class="i18n" name="gp_newprice">现价</span><em class="price_item1"> ￥<span class="price_num" style="font-size: 1.3rem;">{{mx.price00}}</span></em></li>
                            </ul>
                        </div>
                        {{if mx.status ==1}}
                        <div class="price_btn">
                            {{if mx.startMs }}
                                <input type="button" class="overplus_4 i18n_va" name="gp_jdkt" id="btn_{{mx.pkid}}" style="background: #a2a0a0;" value="静等开团" /> 
                            {{else}}
                                <input type="button" class="overplus_4 i18n_va" name="gp_gopt" id="btn_{{mx.pkid}}" value="去拼团" onclick="doGroupBuy('{{value.pkid}}','{{mx.pkid}}')" />
                            {{/if}} 
                        </div>                                
                        {{else}}
                        <div class="price_btn">
                            <input type="button" class="overplus_4 i18n_va" style="background: #a2a0a0;" name="gp_yiend" value="已结束" />
                        </div>
                        {{/if}}
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
            
              
        </script>
</body>

</html>