<!DOCTYPE html>
<html>

<head>
    <title>价格预测规则</title>
    <% include ../../components/_head.art %>
<style>
body {background:#1b89d1;}
.wx_main {bottom:49px;}
</style>
</head>

<body>
<article class="wx_layout">
  <section class="wx_main" id="list">
    
  </section>
</article>
<!--<footer class="wx_footerbtn">
  <ul>
    <li class="whitebtn"><i class="iconfont icon-jiage"></i>预测价格</li>
  </ul>
</footer>-->
<% include ../../_foot.html %>
<script src="../customer/guessPriceRules.js"></script>

<script id="ruleList_page" type="text/html">
	<div class="wx_priceexp">
      <!--<div class="tit">
        <h2>活动规则</h2>
        <p class="fs16">有奖价格预测</p>
      </div>
      <div class="rulecont">
        <h3>活动时间：</h3>
        <p>一周一猜，<span class="cdb0a0f">周一9:00</span>发布猜价规格，下周一9:00公布结果及新一轮猜价规格；</p>
        <h3>活动形式：</h3>
        <p>每周选择5个产品线各经典规格组织价格预测活动（市场周均价），每个客户每个产品品类<span class="cdb0a0f">有1次</span>猜价机会，猜出的价格，离周均价最接近的1位客户，将获得精美礼品一份。</p>
        <h3>参与产品：</h3>
        <p>暂定5个产品线各2-3个规格的AA等产品（POY/FDY/DTY和ccf发布一致的经典规格，切片/短纤挑选恒逸经典规格）</p>
        <h3>均价计算方式：</h3>
        <p>3个产品线的固定经典规格，参照<span class="cdb0a0f">ccf发布</span>的周均价来比对；</p>
        <p>2个产品线的恒逸经典规格，根据<span class="cdb0a0f">恒逸一周</span>均价来比对。</p>
        <h3>猜价规则：</h3>
        <p>每周一预测本周发布规格的市场周均价（3个产品线经典规格的市场均价，2个产品线恒逸经典规格的恒逸均价）；一周结束后，根据预测价和均价的接近度来进行活动结果的评判，最接近的即可获得奖品；</p>
      </div>-->
      {{if obj.str02!=null}}
        	<div class="sg" style="padding:20px 25px 0px 25px;"><p style="word-wrap:break-word;padding:10px;" class="textbg" id="str02"></p></div>
	  {{/if}}
    </div>
</script>
</body>
</html>
