<!DOCTYPE html>
<html>

<head>
  <title>往期预测</title>
  <% include ../../components/_head.art %>
  <style>
    body {
      background: #1b89d1;
    }

    .wx_main {
      bottom: 49px;
    }
  </style>
</head>

<body>
  <article class="wx_layout">
    <section class="wx_main wx_prindex">
      <div class="wx_priceexp">
        <div class="tit">
          <h2>往期价格预测</h2>
          <div class="wx_infofk">
            <a href="../customer/guessPirceDrawline.html" class="bluebtn">预测结果图表</a>
          </div>
        </div>
        <div class="yclist" id="list">
          <div style="text-align: center; margin-top: 120px; display: none;" id="noneData">
            <img src="../../images/zwt.png" style="width: 109px;">
          </div>
        </div>
      </div>
    </section>
  </article>
  <footer class="wx_footerbtn">
    <ul>
      <li class="whitebtn" onclick="toIndex();"><i class="iconfont icon-shouye"></i>返回首页</li>
      <li class="whitebtn" onclick="toActivityIndex();">活动首页</li>
    </ul>
  </footer>
  <% include ../../_foot.html %>
  <script src="../customer/guessPricePassed.js"></script>
  <script src="../../lib/swiper.min.js"></script>

  <script id="list_page" type="text/html">

      <ul>
        {{each data as value}}
          <li onclick="toResult({{value.pkid}},{{value.flag2}})">
            <p class="fs15"><b class="fs24">{{value.title}}</b>第{{value.flag2}}期</p>
            <p class="c5d5d5d">{{#getDate(value.startDate,"yyyy年MM月dd日")}} 
            {{#getTime(value.startTime,"HH:mm:ss")}}-{{#getTime(value.endTime,"HH:mm:ss")}}</p>

            {{if value.status==2}}
            <p>本期活动评判中， 结果将于周一揭晓</p>
            {{/if}}

             {{if value.status==3}}
            <p>预测<b class="fs15 c1478d5">{{value.joinNum}}</b>个，预测成功<b class="fs15 ce30217">{{value.guessSuccessNum}}</b>个</p>
             {{/if}}
            <i class="iconfont icon-return"></i>
          </li>
        {{/each}}
        </ul>

     </script>
</body>

</html>