<!DOCTYPE html>
<html>

<head>
	<title>价格预测结果</title>
	<% include ../../components/_head.art %>
	<style>
		body {
			background: #1b89d1;
		}

		.wx_main {
			bottom: 49px;
		}
	</style>
</head>

<body>
	<article class="wx_layout">
		<section class="wx_main wx_prindex">
			<div class="wx_priceexp">
				<div class="tit">
					<h2>预测结果<label>第<span id="flag2">一</span>期</label></h2>
					<p class="fs13 c5d5d5d" id="effectProud">2018年11月12日 09:00:00-23:59:59</p>
					<p class="fs15" id="guessResult">恭喜你！预测成功<b class="fs18 cda0404">2</b>个</p>
					<div class="wx_infofk">
						<a href="guessPricePassed.html" class="bluebtn">往期结果</a>
					</div>
				</div>
				<ul class="tabnav">
					<li class="on" id="poy" onclick="toPmArea('POY')">POY</li>
					<li id="fdy" onclick="toPmArea('FDY')">FDY</li>
					<li id="dty" onclick="toPmArea('DTY')">DTY</li>
					<li id="qp" onclick="toPmArea('切片')">切片</li>
				</ul>
				<div class="tabcont">
					<div class="wx_exppro" id="list">
					</div>
					<div class="rule rule22" style="display: none;">
						<div class="pop-up">
							<div class="pop-up-top">
								<p class="pop-up-logo"><img src="../../images/icon_logo.jpg" /></p>
								<p class="pop-up-text"><span class="i18n" name="gbi_hywsc">恒逸微商城·为您服务</span></p>
							</div>
							<div class="pop-up-main">
								<p class="pop-up-title"><span class="i18n" name="gbi_wypt">请输入您预测的价格</span></p>
								<input type="number" id="price" class="pop-up-box" /><label>元/千克</label>
								<input type="hidden" id="parentId">
								<input type="hidden" id="activityId">
							</div>
							<div class="pop-up-bottom">
								<p class="pop-up-cancel" onclick="doCancel()"><span class="i18n" name="gbi_qx">取消</span></p>
								<p class="pop-up-sure" onclick="doOk()"><span class="i18n" name="gbi_qd">确定</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</article>
	<footer class="wx_footerbtn">
		<ul>
			<li class="whitebtn" onclick="toActivityIndex();">活动首页</li>
			<li class="whitebtn" onclick="toDiscuss();"><i class="iconfont icon-qysl"></i>讨论区</li>
		</ul>
	</footer>

	<% include ../../_foot.html %>
	<script src="../customer/guessPriceResult.js"></script>
	<script src="../../lib/swiper.min.js"></script>

	<script id="list_page" type="text/html">
     {{each groupList as value i}} 
     <div 
     	{{if value.pm=='POY'}}id="ul_poy"{{/if}}
		{{if value.pm=='DTY'}}id="ul_dty" style="display:none;"{{/if}}
		{{if value.pm=='FDY'}}id="ul_fdy" style="display:none;"{{/if}}
		{{if value.pm=='切片'}}id="ul_qp" style="display:none;"{{/if}}
     	>
     	<div class="yctit"><label>{{value.pm}}预测</label>
     		{{if data.status==3}}<a href="guessPriceDetail.html?pm='{{value.pm}}'&activityId={{data.pkid}}">预测详情</a>{{/if}}</div>
		<ul>
			{{each value.mxList as item}}			
			    <li>
			        <dl>
			            <dt>{{item.pm}} {{item.cz}}{{if item.status!=null && item.status==1}}<i class="iconfont icon-xuanzhong"></i>{{/if}}</dt>
			            <dd>{{item.gg}}  {{item.cd}}</dd>
			        </dl>
			        <div class="price txtr">
			            <p>本期均价：<span class="cdb0a0f">{{if item.avgPrice!=null}}{{item.avgPrice}}{{else}}¥???{{/if}}</span></p>
			            
			            {{if item.guessPrice!=null}}
			            <p>我的预测：<b class="cdb0a0f">¥ {{item.myGuessPrice}}</b></p>
			            {{else if item.myGuessPrice==null && value.guessFlag==0}}
						<a href="javaScript:void(0);" class="bb6b5b5">未预测</a>
			            {{else if item.myGuessPrice==null && value.guessFlag==1}}
			            <a href="javaScript:void(0);" class="bb6b5b5">未预测</a>
						<!--<a href="javaScript:void(0);" onclick="toGuess('{{item.pkid}}','{{item.parentId}}')" class="bb6b5b5" style="background: #1b89d1;">未预测</a>-->
						{{else if item.myGuessPrice==null && value.guessFlag==2}}
			            <a href="javaScript:void(0);" class="bb6b5b5">即将开始</a>
			            {{else if item.myGuessPrice!=null}}
			            {{item.myGuessPrice}}
			            {{/if}}
			        </div>
			    </li>
			   
			    <li class="ycresult">
	            	<label><b>预测专家：</b>{{item.hyname}}</label>
	            	<span>预测价格：<em class="c086bbf">¥ {{item.guessPrice}}</em></span>
	            </li>
	         {{/each}}
        </ul>
     </div>   
    {{/each}}
     </script>
</body>

</html>