<!DOCTYPE html>
<html>

<head>
	<title>价格预测折线图</title>
	<% include ../../components/_head.art %>
	<link rel="stylesheet" href="../../css/weui-select.min.css">
	<style>
		html,
		body {
			background: #3e7caf;
		}
	</style>
</head>

<body>
	<article class="wx_layout">
		<header class="wx_mbilltop">
			<h1>猜价折线图</h1>
		</header>
		<div class="wx_monthbill">
			<section>
				<div class="wx_lfline">
					<label>POY价格预测</label>
				</div>
				<div class="wx_charts">
					<div class="chart" id="lineChart1"></div>
				</div>
			</section>
			<section>
				<div class="wx_lfline">
					<label>FDY价格预测</label>
				</div>
				<div class="wx_charts">
					<div class="chart" id="lineChart2"></div>
				</div>
			</section>
			<section>
				<div class="wx_lfline">
					<label>DTY价格预测</label>
				</div>
				<div class="wx_charts">
					<div class="chart" id="lineChart3"></div>
				</div>
			</section>
		</div>
	</article>

	<% include ../../_foot.html %>
	<script src="../../js/echarts.min.js"></script>
	<script src="../customer/guessPirceDrawline.js"></script>

	<script id="list_page" type="text/html">


        </script>
</body>

</html>