<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title name="re_title">客户专访</title>
  <% include ../../components/_head.art %>
  <style>
    video::-internal-media-controls-download-button {
      display: none;
    }

    video::-webkit-media-controls-enclosure {
      overflow: hidden;
    }

    video::-webkit-media-controls-panel {
      width: calc(100% + 30px);
    }
  </style>
</head>


<body>
  <article class="wx_layout">

    <section class="wx_interview" style="overflow:visible">
      <div id="mark"
        style=" filter: Alpha(opacity=70); -moz-opacity: 1; opacity: 1; width: 100%; height: 100%; z-index: 100;position: absolute; left: 0; top: 0;  overflow: hidden; background-color: #000; display: none;">

      </div>
      <div class="topbox">
        <div class="swiper-container wx_banner" id="wx_banner"></div>
      </div>
      <div class="list" id="infinitePage">
        <div id="list"></div>
        <div id="botbox" class="botbox" style="background-color:#53a4cf;">
          <p class="dt">恒逸微商城 易上手的B2B化纤交易平台</p>
          <p class="dd">价格查询 | 快捷下单 | 商城活动 | 物流配送 | 行情资讯 | 金融服务</p>
        </div>
      </div>
    </section>
  </article>

  <% include ../../components/_foot.art %>
  <script src="../../js/oauth2.min.js"></script>
  <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="../customer/interview.js"></script>
  <script src="../../lib/swiper.min.js"></script>
  <script id="list_page" type="text/html">
 {{each data as value i}}
      <div class="item">
        <a class="img" href="javaScript:" onclick="openVideo({{value.eid}})">
          <img src="{{filePath}}{{value.imgUrl}}">
          <i class="icon"></i>
        </a>
        <dl>
          <dd>专访时间：{{#getDate(value.interviewDate,"yyyy年MM月dd日")}}</dd>
          <dd>专访企业：{{value.interviewCompany}}</dd>
          <dt><a onclick="openRecord({{value.eid}},{{if value.essayUrl != null}}'{{value.essayUrl}}'{{/if}});" href="javaScript:;">详情请点击：{{value.essayTitle}}</a></dt>
        </dl>
        <div class="tips">第{{recordCount-i}}期</div>
        <div id="mark{{value.eid}}" style="display: none;">
          <div style="margin: auto;position: absolute;top: 35%;left: 0;right: 0;bottom: 0;text-align: center;z-index: 122;">
        <iframe id="video{{value.eid}}" width="100%" height="50%" frameborder="0" src="{{value.videoUrl}}" allowFullScreen="true"></iframe>
                 </div>
                    <div style="float: right;margin:5px 12px 0 0;"><a class="operbtn" onclick="doCancelPolicy({{value.eid}})" style="color: #aaa;font-size: 2.6rem">关闭</a></div>
         </div>
      </div>
      {{/each}}
      
    </script>
  <script id="otherBanner_page" type="text/html">
    <div class="swiper-wrapper" >
                {{each otherBanner as value i}}
                    <div class="swiper-slide">
                    <img src="{{filePath}}{{value.imgUrl}}"  id="obanner" onclick="toLinkUrl('{{value.title}}', '{{value.linkUrl}}')"/>
                    </div>
                {{/each}}
            </div>
            </script>
</body>

</html>