<!DOCTYPE html>
<html>

<head>
    <title name="ic_title">失效的优惠券</title>
    <% include ../../components/_head.art %>        
</head>
<style type="text/css">
    .yhq_sx {
    padding: 5px 16px;
    border: 1px solid #666;
    border-radius: 2px;
    position: absolute;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    left: 95px;
    top: 25px;
    color:#666;
}
</style>
<body>
    <article class="wx_layout">
        <section class="wx_main" id="infinitePage">
            <div id="list">
            </div>
        <div class="yhq_wk" id="yhqnull1" style="display:none">
         <hr class="yhq_line" />
        <span class="yhq_nothing"><i class="iconfont icon-yhq"></i></span>
        </div>
        <p class="yhq_nothing_text" id="yhqnull2" style="display:none"><span class="i18n" name="ic_zwyhq">暂无优惠券</span></div></p>
        </section>        
    </article>
    <% include ../../_foot.html %>
        <script src="../customer/invalidCouponList.js"></script>
        <script id="list_page" type="text/html">
           {{each data as value i}}
           <!--代金券-->
           {{if value.couponPrice!=null && value.freeDays==null}}
            {{if value.couponPrice < 100 }}
                <div class="wx_voucher svalue ex1" style="{{if value.status != 0}}background: -webkit-linear-gradient(117deg,#999,#999);{{/if}}" >
                    {{if value.status ==1}} <div class="yhq_sx"> <span class="i18n" name="col_ysy">已使用</span></div>{{/if}}
                    {{if value.status ==2}} <div class="yhq_sx"> <span class="i18n" name="col_ysx">已失效</span></div>{{/if}}
                    {{if value.status ==3}}<div class="yhq_sx"> <span class="i18n" name="col_ysx">已作废</span></div>{{/if}}
                    {{if value.status ==4}}<div class="yhq_sx"> <span class="i18n" name="col_ysx">已冻结</span></div>{{/if}}
                <div class="left">
                    <div class="value"><em>￥</em><label>{{value.couponPrice}}</label></div>
                    <div class="range">
                    {{if value.ruleId!=null}} {{if value.rulePm!=null}}{{value.rulePm}}可用{{else}}活动专享{{/if}}
                {{else}}全品类可用
            {{/if}}</div>
                </div>
                <div class="right">
                    <dl>
                        <dt>代 金 券</dt>
                        <dd class="fs18">{{if value.limitMinimumPrice !=null}}满{{value.limitMinimumPrice}}元{{/if}}可用</dd>
                        <dd class="fs12 cf4eb01" style="{{if value.status != 0}}color: #fff{{/if}}">有效期：{{#getDate(value.startDate,"yyyy.MM.dd")}}-{{#getDate(value.endDate,"yyyy.MM.dd")}}</dd>
                        <dd><label>{{value.couponName}}</label></dd>
                    </dl>
                </div>
                <div class="dot top"><i></i><i></i></div>
                <div class="circle"></div>
                <div class="dot bom"><i></i><i></i></div>
            </div>
            {{else if value.couponPrice < 1000}}
            <div class="wx_voucher mvalue ex2" style="{{if value.status != 0}}background: -webkit-linear-gradient(117deg,#999,#999);{{/if}}">
                    {{if value.status ==1}} <div class="yhq_sx"> <span class="i18n" name="col_ysy">已使用</span></div>{{/if}}
                    {{if value.status ==2}} <div class="yhq_sx"> <span class="i18n" name="col_ysx">已失效</span></div>{{/if}}
                    {{if value.status ==3}}<div class="yhq_sx"> <span class="i18n" name="col_ysx">已作废</span></div>{{/if}}
                    {{if value.status ==4}}<div class="yhq_sx"> <span class="i18n" name="col_ysx">已冻结</span></div>{{/if}}
                <div class="left">
                    <div class="value"><em>￥</em><label>{{value.couponPrice}}</label></div>
                    <div class="range">
                    {{if value.ruleId!=null}} {{if value.rulePm!=null}}{{value.rulePm}}可用{{else}}活动专享{{/if}}
                {{else}}全品类可用
            {{/if}}</div>
                </div>
                <div class="right">
                    <dl>
                        <dt>代 金 券</dt>
                        <dd class="fs18">{{if value.limitMinimumPrice !=null}}满{{value.limitMinimumPrice}}元{{/if}}可用</dd>
                        <dd class="fs12 cf4eb01" style="{{if value.status != 0}}color: #fff;{{/if}}">有效期：{{#getDate(value.startDate,"yyyy.MM.dd")}}-{{#getDate(value.endDate,"yyyy.MM.dd")}}</dd>
                        <dd><label>{{value.couponName}}</label></dd>
                    </dl>
                </div>
                <div class="dot top"><i></i><i></i></div>
                <div class="circle"></div>
                <div class="dot bom"><i></i><i></i></div>
            </div>
            {{else}}
            <div class="wx_voucher lvalue ex3" style="{{if value.status != 0}}background: -webkit-linear-gradient(117deg,#999,#999);{{/if}}">
                    {{if value.status ==1}} <div class="yhq_sx"> <span class="i18n" name="col_ysy">已使用</span></div>{{/if}}
                    {{if value.status ==2}} <div class="yhq_sx"> <span class="i18n" name="col_ysx">已失效</span></div>{{/if}}
                    {{if value.status ==3}}<div class="yhq_sx"> <span class="i18n" name="col_ysx">已作废</span></div>{{/if}}
                    {{if value.status ==4}}<div class="yhq_sx"> <span class="i18n" name="col_ysx">已冻结</span></div>{{/if}}
                <div class="twrap">
                    <div class="value"><em>￥</em><label>{{value.couponPrice}}</label></div>
                    <dl class="range">
                        <dt>代 金 券</span>
                        <dd class="fs15">
                    {{if value.ruleId!=null}} {{if value.rulePm!=null}}{{value.rulePm}}可用{{else}}活动专享{{/if}}
                {{else}}全品类可用
            {{/if}}</dd>
                    </dl>
                </div>
                <div class="bwrap">
                    <dl>
                        <dd class="fs18">{{if value.limitMinimumPrice !=null}}满{{value.limitMinimumPrice}}元{{/if}}可用</dd>
                        <dd class="fs12 cf4eb01" style="{{if value.status != 0}}color: #fff{{/if}}">有效期：{{#getDate(value.startDate,"yyyy.MM.dd")}}-{{#getDate(value.endDate,"yyyy.MM.dd")}}</dd>
                        <dd class="quan"><label>{{value.couponName}}</label></dd>
                    </dl>
                </div>
                <div class="dot top"><i></i><i></i></div>
                <div class="circle"></div>
                <div class="dot bom"><i></i><i></i></div>
            </div>
            {{/if}}
            
            <!--免息券-->
            {{else}}
	            {{if value.freeDays < 5 }}
	                <div class="wx_voucher svalue fc1" style="{{if value.status != 0}}background: -webkit-linear-gradient(117deg,#999,#999);{{/if}}" >
	                    {{if value.status ==1}} <div class="yhq_sx"> <span class="i18n" name="col_ysy">已使用</span></div>{{/if}}
	                    {{if value.status ==2}} <div class="yhq_sx"> <span class="i18n" name="col_ysx">已失效</span></div>{{/if}}
	                    {{if value.status ==3}}<div class="yhq_sx"> <span class="i18n" name="col_ysx">已作废</span></div>{{/if}}
	                    {{if value.status ==4}}<div class="yhq_sx"> <span class="i18n" name="col_ysx">已冻结</span></div>{{/if}}
	                <div class="left">
	                    <div class="value"><em>天</em><label>{{value.freeDays}}</label></div>
	                    <div class="range">
	                    {{if value.ruleId!=null}} {{if value.rulePm!=null}}{{value.rulePm}}可用{{else}}活动专享{{/if}}
	                {{else}}全品类可用
	            {{/if}}</div>
	                </div>
	                <div class="right">
	                    <dl>
	                        <dt>免 息 券</dt>
	                        <dd class="fs18">{{if value.limitMinimumPrice !=null}}满{{value.limitMinimumPrice}}元{{/if}}可用</dd>
	                        <dd class="fs12 cf4eb01" style="{{if value.status != 0}}color: #fff{{/if}}">有效期：{{#getDate(value.startDate,"yyyy.MM.dd")}}-{{#getDate(value.endDate,"yyyy.MM.dd")}}</dd>
	                        <dd><label>{{value.couponName}}</label></dd>
	                    </dl>
	                </div>
	                <div class="dot top"><i></i><i></i></div>
	                <div class="circle"></div>
	                <div class="dot bom"><i></i><i></i></div>
	            </div>
	            {{else if value.couponPrice < 10}}
	            <div class="wx_voucher mvalue fc2" style="{{if value.status != 0}}background: -webkit-linear-gradient(117deg,#999,#999);{{/if}}">
	                    {{if value.status ==1}} <div class="yhq_sx"> <span class="i18n" name="col_ysy">已使用</span></div>{{/if}}
	                    {{if value.status ==2}} <div class="yhq_sx"> <span class="i18n" name="col_ysx">已失效</span></div>{{/if}}
	                    {{if value.status ==3}}<div class="yhq_sx"> <span class="i18n" name="col_ysx">已作废</span></div>{{/if}}
	                    {{if value.status ==4}}<div class="yhq_sx"> <span class="i18n" name="col_ysx">已冻结</span></div>{{/if}}
	                <div class="left">
	                    <div class="value"><em>天</em><label>{{value.freeDays}}</label></div>
	                    <div class="range">
	                    {{if value.ruleId!=null}} {{if value.rulePm!=null}}{{value.rulePm}}可用{{else}}活动专享{{/if}}
	                {{else}}全品类可用
	            {{/if}}</div>
	                </div>
	                <div class="right">
	                    <dl>
	                        <dt>免息 券</dt>
	                        <dd class="fs18">{{if value.limitMinimumPrice !=null}}满{{value.limitMinimumPrice}}元{{/if}}可用</dd>
	                        <dd class="fs12 cf4eb01" style="{{if value.status != 0}}color: #fff;{{/if}}">有效期：{{#getDate(value.startDate,"yyyy.MM.dd")}}-{{#getDate(value.endDate,"yyyy.MM.dd")}}</dd>
	                        <dd><label>{{value.couponName}}</label></dd>
	                    </dl>
	                </div>
	                <div class="dot top"><i></i><i></i></div>
	                <div class="circle"></div>
	                <div class="dot bom"><i></i><i></i></div>
	            </div>
	            {{else}}
	            <div class="wx_voucher lvalue fc3" style="{{if value.status != 0}}background: -webkit-linear-gradient(117deg,#999,#999);{{/if}}">
	                    {{if value.status ==1}} <div class="yhq_sx"> <span class="i18n" name="col_ysy">已使用</span></div>{{/if}}
	                    {{if value.status ==2}} <div class="yhq_sx"> <span class="i18n" name="col_ysx">已失效</span></div>{{/if}}
	                    {{if value.status ==3}}<div class="yhq_sx"> <span class="i18n" name="col_ysx">已作废</span></div>{{/if}}
	                    {{if value.status ==4}}<div class="yhq_sx"> <span class="i18n" name="col_ysx">已冻结</span></div>{{/if}}
	                <div class="twrap">
	                    <div class="value"><em>天</em><label>{{value.freeDays}}</label></div>
	                    <dl class="range">
	                        <dt>免 息 券</span>
	                        <dd class="fs15">
	                    {{if value.ruleId!=null}} {{if value.rulePm!=null}}{{value.rulePm}}可用{{else}}活动专享{{/if}}
	                {{else}}全品类可用
	            {{/if}}</dd>
	                    </dl>
	                </div>
	                <div class="bwrap">
	                    <dl>
	                        <dd class="fs18">{{if value.limitMinimumPrice !=null}}满{{value.limitMinimumPrice}}元{{/if}}可用</dd>
	                        <dd class="fs12 cf4eb01" style="{{if value.status != 0}}color: #fff{{/if}}">有效期：{{#getDate(value.startDate,"yyyy.MM.dd")}}-{{#getDate(value.endDate,"yyyy.MM.dd")}}</dd>
	                        <dd class="quan"><label>{{value.couponName}}</label></dd>
	                    </dl>
	                </div>
	                <div class="dot top"><i></i><i></i></div>
	                <div class="circle"></div>
	                <div class="dot bom"><i></i><i></i></div>
	            </div>
	            {{/if}}
            {{/if}}
            {{/each}}
               </script>
</body>

</html>
