<!DOCTYPE html>
<html>

<head>
    <title name="jk_title">融资申请</title>
    <% include ../../components/_head.art %>
    <link rel="stylesheet" href="../../css/weui-select.min.css">
</head>

<body>
    <article class="wx_layout">
        <section class="wx_main" id="main">
        </section>
    </article>
    <% include ../../components/_foot.art %>
    <script src="../customer/jksq.js"></script>
    <script id="main_page" type="text/html">
            <div class="wx_hyordermesbox">
                <p class="ddnumber">
                    {{contract.fphm}}
                    <span>（{{contract.depname2}}）</span>
                </p>
                <div class="ordermesbox">
                    <ul class="ordermes">
                        {{each contract.mxlist as mx i}}
                        <li>
                            <p class="proname_a">
                                {{mx.pm}}
                                <span class="perty_a">{{mx.cz}}</span> {{if mx.pm == "DTY"}}
                                <span class="perty_a">{{mx.str02}}</span>
                                <span class="perty_a">{{mx.str03}}</span> {{else if (mx.pm == "切片" || mx.pm == "锦纶切片")}}
                                <span class="perty_a">{{mx.gg}}</span>
                                <span class="perty_a">{{mx.cd}}</span> {{else}}
                                <span class="perty_a">{{mx.wzlb}}</span> {{if mx.str04 != null}}
                                <span class="perty_a">{{mx.str04}}</span> {{/if}} {{if mx.str02 != null}}
                                <span class="perty_a">{{mx.str02}}</span> {{/if}} {{/if}}
                            </p>
                            {{if (mx.pm != "切片" && mx.pm != "锦纶切片")}}
                            <p class="size">{{mx.gg}}&nbsp;&nbsp;&nbsp;&nbsp;{{mx.cd}}</p>
                            {{/if}}
                            <p class="size_a">
                                <span class="price">￥<em>{{mx.price}}</em></span> 重量：{{mx.sl2}}{{mx.sldw2}}&nbsp;&nbsp;&nbsp;&nbsp;箱包数：{{mx.sl1}}
                            </p>
                            <div class="status">
                                {{if mx.shStatus == 100}} 待审核 {{else if mx.shStatus == 200}} 审核中 {{else if mx.shStatus == 300}} 已拒绝 {{else if mx.shStatus == 400}} 已审核 {{/if}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="time">
                        {{#getDate(contract.cdate,"yyyy-MM-dd HH:mm")}}
                        <div class="total">
                            <input type="hidden" id="htamt" value="{{contract.htamt}}" /> <span class="i18n" name="jk_heji">合计</span>
                            <span class="jg">￥<em>{{contract.htamt}}</em></span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <ul class="sqrz_item">
                <li class="jhway">
                    <span class="i18n" name="jk_rztype">">合同类型</span>
                    <em class="way current"> <span class="i18n" name="jk_kh">逸控代</span></em>
                </li>
                <li class="sqrz_list">
                    <span class="i18n" name="jk_rzjigou">融资机构</span>
                    <input type="hidden" id="shopno" value="{{creditList[0].shopno}}" /> {{if creditList.length == 1}} {{creditList[0].shopname}} {{else}}
                    <input type="text" id="shopname" value="{{creditList[0].shopname}}" class="i18n_ph" name="jk_placerzjgtip" placeholder="请选择融资机构" /> 
                    <i class="iconfont icon-xiala"></i>
                    {{/if}}
                </li>
                <li class="sqrz_list">
                    <span class="i18n" name="jk_kyedu">可用额度</span>
                    <input type="hidden" id="freeamt" value="{{creditList[0].freeamt}}" /> 
                    <em id="freeamtTxt">{{creditList[0].freeamt}}</em>
                </li>
                <li class="sqrz_list">
                   <span class="i18n" name="jk_eduyxq">额度有效期</span>
                    <em id="dqrq">{{#getDate(creditList[0].endDate,"yyyy-MM-dd")}}</em>
                </li>
            </ul>
            <div class="sqrz_message">
                <ul class="sqrz_item">
                    <li class="sqrz_list">
					 <span class="i18n" name="jk_rzksrq">融资开始日期</span>
                      <em id="jkrq">{{jkrq}}</em>
                    </li>
                    <li class="sqrz_list">
                       <span class="i18n" name="jk_zhhkrq">最后还款日期</span>
                        <em id="hkrq">{{hkrq}}</em>
                    </li>
                    <li class="sqrz_list">
                      <span class="i18n" name="jk_rzqx">融资期限</span>
                      <em id="jkqx">{{jkqx}}</em><span class="i18n" name="jk_day">天</span>
                    </li>
                </ul>
                <p class="sqrz_label"><span>*</span><span class="i18n" name="jk_bcrzxytqzf">本次融资需要提前支付</span><span id="brate">{{creditList[0].brate}}%</span><span class="i18n" name="jk_bzj">的保证金</span></p>
            </div>
            <div class="sqrz_message" style="background: #fff;">
                <p class="sqrz_label"><span>*</span>   <span class="i18n" name="jk_tcxx">服务费费率</span></p>
                <table id="tcmxList" class="yhgz_table" border="0" cellpadding="0" cellspacing="1">
                    <tr>
                        <td><span class="i18n" name="jk_jkzq">借款周期(天)</span></td>
                        <td><span class="i18n" name="jk_ll">利率(万分之)</span></td>
                    </tr>
                    {{each creditList[0].creditTc.mxList as tcmx}}
                    <tr>
                        <td>{{tcmx.fromDays}} - {{tcmx.toDays}}</td>
                        <td>{{tcmx.rate}}</td>
                    </tr>
                    {{/each}}                    
                </table>
            </div>
            <div class="weui_btn_area" style="margin-bottom: 30px;">
                <a class="weui_btn" style="background:#3e7baf;" href="javascript:" onclick="doSave()"><span class="i18n" name="jk_ljsq">立即申请</span></a>
            </div>
        </script>
    <script id="tcmxList_page" type="text/html">
          <tr>
              <td><span class="i18n" name="jk_jkzq">借款周期(天)</span></td>
              <td><span class="i18n" name="jk_ll">利率(万分之)</span></td>
          </tr>
          {{each creditTc.mxList as tcmx}}
            <tr>
                <td>{{tcmx.fromDays}} - {{tcmx.toDays}}</td>
                <td>{{tcmx.rate}}</td>
            </tr>
          {{/each}}
        </script>
</body>

</html>