<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>站内信详情</title>
<meta name="keywords" content="站内信详情">
<meta name="description" content="站内信详情">
<script>
</script>
<style>
body { background:#fff;}
#content{margin-left: 10px; margin-right: 10px;}
</style>
</head>
<% include ../../components/_head.art %>
<body>
<article class="wx_layout">
  <section class="wx_main">
    <div class="wx_hytitle">
      <div class="hytitle">
        <p class="til" id="title"></p>
        <p class="time" id="createdate"></p>
      </div>
    </div>
    <div id="content">

    </div>
  </section>
</article>
<% include ../../components/_foot.art %>
<script src="../customer/letterDetail.js"></script>
</body>
</html>
