<!DOCTYPE html>
<html>

<head>
    <title name="ml_title">融资订单列表</title>
    <% include ../../components/_head.art %>
    <style>
        .wx_main {
            top: 89px;
        }

        .wx_searchbox .searchbg {
            opacity: 1;
            border-radius: 4px;
        }

        .wx_searchbox .search_s {
            color: #3e7baf;
        }

        .wx_searchbox,
        .wx_searchboxbg {
            padding: 0px 0px;
        }



        .ordermesbox .ordermes li {
            padding: 0px;
        }

        .ordermes li .proname_a {
            overflow: hidden;
        }

        .ordermes li .proname_a .perty_a {
            width: 50%;
            display: inline-block;
            margin-left: 0px;
            float: left;
        }

        .time .total .jg {
            border: 1px solid #fe9311;
            padding: 2px 5px;
            border-radius: 5px;
        }
    </style>
    <link rel="stylesheet" href="../../css/weui-select.min.css">
</head>

<body>
    <header class="wx_searchbox">
        <div class="weui_search_bar">
            <form id="form" class="weui_search_outer">
                <div class="weui_search_inner">
                    <i class="weui_icon_search"></i>
                    <input type="search" class="weui_search_input i18n_ph" name="com_search" id="querykey"
                        placeholder="搜索" value="" />
                    <a href="javascript:" class="weui_icon_clear"></a>
                </div>
                <label for="querykey" class="weui_search_text">
                    <i class="weui_icon_search"></i>
                    <span class="i18n" name="com_search">搜索</span>
                </label>
            </form>
            <a href="javascript:" class="weui_search_cancel">
                <span class="i18n" name="com_cancel">取消</span>
            </a>
        </div>
    </header>
    <article class="wx_layout">
        <ul class="wx_hyfilter">
            <li class="" style="position: relative;"><em id="rqTxt">
                    <span class="i18n" name="ml_loandate">订单日期</span>
                </em>
                <span class="xl"></span>
                <input type="text" id="rq" value=""
                    style="opacity: 0;top:0;position: absolute;left: 0px;width: 100%;" />
            </li>
            <li class="" id="statusTxt">
                <span class="i18n" name="com_status">状态</span>
                <span class="xl"></span>
            </li>
            <li class="" id="sort">
                <span class="i18n" name="com_sorting">排序</span>
                <span class="xl"></span>
            </li>
            <input type="hidden" id="status" value="" />
            <input type="hidden" id="orderName" value="" />
            <input type="hidden" id="order" value="" />
        </ul>
        <section class="wx_main" id="infinitePage">
            <div id="list"></div>
        </section>
    </article>
    <% include ../../_foot.html %>
    <script src="../customer/loansOrderList.js"></script>
    <!--显示悬浮图标-->
    <script type="text/javascript">
        $(function () {
            initSuspendIcon();
        });
    </script>
    <script id="list_page" type="text/html">
            {{each data as value i}}
            <div class="wx_hyordermesbox">
                <p class="ddnumber">{{value.fphm}}<span>
            {{if (isSaleman != null && isSaleman === 1)}}
              （{{value.hyname}}）
            {{else}}
                {{if value.depname2 != null}}
                （{{value.depname2}}）
                {{else}}
                  （{{value.hzname}}）
                {{/if}}              
            {{/if}}
            {{if value.htflag11 == 1}} 
                合约A   
           {{/if}}
           {{if value.htflag11 == 2}} 
                合约B    
           {{/if}}
            </span></p>
                <div class="ordermesbox">
                    <ul class="ordermes" id="ul_{{value.fphm}}">
                        {{each value.mxlist as mx i}}
                        <li id="{{mx.wzgid}}" gpls="{{mx.extbillno}}">
                            <input type="hidden" id="cfxx_{{mx.wzgid}}" value="{{value.circleId}}_{{value.hzdm}}_{{mx.pm}}_{{value.depid2}}_{{value.orderType}}" />
                            <p class="proname_a">
                                {{mx.pm}}
                                <span class="size">{{mx.cz}}</span> {{if mx.pm == "DTY"}}
                                <span class="size">{{mx.str02}}</span>
                                <span class="size">{{mx.str03}}</span> {{else if (mx.pm == "切片" || mx.pm == "锦纶切片")}}
                                <span class="size">{{mx.gg}}</span>
                                <span class="size">{{mx.cd}}</span> {{else}}
                                <span class="size">{{mx.wzlb}}</span> {{if mx.str04 != null}}
                                <span class="size">{{mx.str04}}</span> {{/if}} {{if mx.str02 != null}}
                                <span class="size">{{mx.str02}}</span> {{/if}} {{/if}}
								{{if mx.differentiation == "1"}}<span class="size">差异化</span>{{/if}}
                            </p>
                            {{if (mx.pm != "切片" && mx.pm != "锦纶切片")}}
                            <p class="size">{{mx.gg}}&nbsp;&nbsp;&nbsp;&nbsp;{{mx.cd}}</p>
                            {{/if}}
                            
                            {{if (value.couponType != null && value.couponType==13)}}
                            <p class="size">
                            	<span class="perty_a">货价:￥{{mx.htamt}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            	<!--<span>保费:￥{{mx.brateFeeAmt}}</span>-->
                            	<span class="perty_a">利息:￥
                            	{{#getAdd(mx.rateAmt,mx.brateFeeAmt)}}
                            	</span>
                            </p>
                            {{if (mx.brateAmt!=0)}}
                            <p class="size">
                            	<span class="perty_a">保证金:￥{{mx.brateAmt}}</span>
                            </p>
                            {{/if}}
                            {{/if}}
                            
                            <p class="size_a">
                                <span class="price">{{if (value.languageFlag == 1)}}$ {{else}}￥{{/if}}<em>{{mx.price}}</em></span> <span name="com_zl" class="i18n">重量</span>：{{mx.sl2}}{{mx.sldw2}}&nbsp;&nbsp;&nbsp;&nbsp;<span name="com_xbs" class="i18n">箱包数</span>：{{mx.sl1}}
                            </p>
							{{if (mx.pm == "切片" || mx.pm == "锦纶切片")}}
                            <p class="size">&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            {{/if}}
                            
							<div class="status">
                                
                            <span class="xd i18n" name="com_hj">合计</span>
                            <span class="jg">{{if (value.languageFlag == 1)}}$ {{else}}￥{{/if}}<em>
                            	{{value.creditAmt}}
                            </em></span>
                            </div>
                            
                            {{if (value.languageFlag != 1)}}
					       	<div class="time">
		                    	{{if value.status01!=null && value.status01==100}}
		                        	已还款
		                        {{/if}}
		                        <div class="total" style="line-height: 60px;">
		                            {{if value.prePayPermission != null && value.prePayPermission == 1}}
		                                <span class="jg" onclick="hksq('{{value.fphm}}')">提前还款</span>
		                            {{/if}}
		                        </div>
		                    </div>
					       {{/if}}
                          
                        </li>
                        {{/each}}
                    </ul>
                    <div class="time" {{if value.prePayPermission != null && value.prePayPermission == 1}} onclick="hksq('{{value.fphm}}')"  {{/if}}>{{#getDate(value.cdate,"yyyy-MM-dd HH:mm")}}
                       {{if value.couponType != null && value.couponType == 7}}逸白条{{else if value.couponType != null && value.couponType == 13}}逸信代{{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </script>
    <script id="otherBanner_page" type="text/html">
            <div class="swiper-wrapper" >
                {{each otherBanner as value i}}
                    <div class="swiper-slide">
                    <img src="{{filePath}}{{value.imgUrl}}" id="obanner" onclick="toLinkUrl('{{value.title}}', '{{value.linkUrl}}')"/>
                    </div>
                {{/each}}
            </div>
        </script>
</body>

</html>