<!DOCTYPE html>
<html>

<head>
    <title name="my_title">我的</title>
    <% include ../../components/_head.art %>
    <style>
        .wx_main {
            bottom: 49px;
        }

        .wx_myorder .ordersta li .num {
            width: 20px;
            height: 20px;
            line-height: 20px;

        }
    </style>
</head>

<body>
    <article class="wx_layout">
        <section class="wx_main">
            <div class="wx_hyheader">
                <p class="hesdpic" id="photo" onclick="toUserInfo();"><img id="userPhotoImg"
                        src="../../images/headpic.png" /></p>
                <p class="mename" id="name"></p>
            </div>
            <ul class="wx_myfunc" id="mboptRelationLabel" style="display: none;">
                <li onclick="changeUser();">
                    <p><span class="i18n" name="my_switching">切换客户</span></p><span class="iconbox"><i
                            class="iconfont icon-qhkh"></i></span><i class="iconfont icon-rarrow"></i>
                </li>
            </ul>
            <ul class="wx_myfunc">
                <li onclick="unconfirmedOrder();">
                    <p><span class="i18n" name="my_pendingorder">待审核订单</span>
                    </p><span class="iconbox"><i class="iconfont icon-orderdqr"></i></span><i
                        class="iconfont icon-rarrow"></i>
                </li>
                <li onclick="sapOrder();">
                    <p><span class="i18n" name="my_ordertracking">订单查询</span></p><span class="iconbox"><i
                            class="iconfont icon-chaxun"></i></span><i class="iconfont icon-rarrow"></i>
                </li>
                <li onclick="toJkqdList();">
                    <p><span class="i18n" name="my_myfinancing">我的融资</span></p><span class="iconbox"><i
                            class="iconfont icon-orderdqr"></i></span><i class="iconfont icon-rarrow"></i>
                </li>
            </ul>
            <ul class="wx_myfunc">
                <li onclick="toBalance();">
                    <p><span class="i18n" name="my_balanceinquiry">余额查询</span></p><span class="iconbox"><i
                            class="iconfont icon-oyjr"></i></span><i class="iconfont icon-rarrow"></i>
                </li>
                <li onclick="toDeliveryList();">
                    <p><span class="i18n" name="my_checkoutdetails">出库明细查询</span></p><span class="iconbox"><i
                            class="iconfont icon-chaxun"></i></span><i class="iconfont icon-rarrow"></i>
                </li>
                <li onclick="toInvoiceCheck();">
                    <p><span class="i18n" name="my_invoicereconciliation">发票对账</span></p><span class="iconbox"><i
                            class="iconfont icon-rgwdzc"></i></span><i class="iconfont icon-rarrow"></i>
                </li>
            </ul>
            <ul class="wx_myfunc">
                <li onclick="toMyGroupBuy();">
                    <p><span class="i18n" name="my_myteam">我的拼团</span></p><span class="iconbox"><i
                            class="iconfont icon-ptkh"></i></span><i class="iconfont icon-rarrow"></i>
                </li>
                <li onclick="toAuction();">
                    <p><span class="i18n" name="my_myauction">我的竞拍</span></p><span class="iconbox"><i
                            class="iconfont icon-jp"></i></span><i class="iconfont icon-rarrow"></i>
                </li>
                <li onclick="toCoupon();">
                    <p><span class="i18n" name="my_mydiscountcoupon">我的优惠券</span></p><span class="iconbox"><i
                            class="iconfont icon-yhq"></i></span><i class="iconfont icon-rarrow"></i>
                </li>
            </ul>
            <ul class="wx_myfunc wx_myfunc_a">
                <li onclick="toExcipient();">
                    <p><span class="i18n" name="my_fuelaccessoryorders">燃辅料订单</span></p><span class="iconbox"><i
                            class="iconfont icon-rfl"></i></span><i class="iconfont icon-rarrow"></i>
                </li>
                <li onclick="toRecommend();">
                    <p><span class="i18n" name="my_recommendedprize">推荐有奖</span></p><span class="iconbox"><i
                            class="iconfont icon-tjyj"></i></span><i class="iconfont icon-rarrow"></i>
                </li>
                <li onclick="toUserInfo();">
                    <p><span class="i18n" name="my_userinfo">个人信息</span></p><span class="iconbox"><i
                            class="iconfont icon-mewdzl"></i></span><i class="iconfont icon-rarrow"></i>
                </li>
            </ul>
            <ul class="wx_myfunc wx_myfunc_a">
                <li onclick="toComplaintList();">
                    <p><span class="i18n" name="my_service">售后服务</span></p><span class="iconbox"><i
                            class="iconfont icon-shfw"></i></span><i class="iconfont icon-rarrow"></i>
                </li>
            </ul>

            <div id="logoutBtn" class="weui_btn_area" style="display: none; margin-bottom: 30px;">
                <a class="weui_btn" style="background:#3e7baf;" href="javascript:" onclick="doLogout()"><span
                        class="i18n" name="my_exit">退出</span></a>
            </div>

        </section>
    </article>
    <footer class="wx_hybtmnav">
        <ul class="wx_hybtmnavmc">
            <li onclick="toIndex();"><i class="iconfont icon-hyhomek"></i><em class="i18n" name="com_indexname">首页</em>
            </li>
            <li onclick="toBuy();"><i class="iconfont icon-hyorderk"></i><em class="i18n" name="com_ordername">下单</em>
            </li>
            <li onclick="goShoppingCart();"><i class="iconfont icon-hybuyk"></i><em class="i18n"
                    name="com_shopname">购物车</em></li>
            <li onclick="toMyPage();" class="current"><i class="iconfont icon-hymek"></i><em class="i18n"
                    name="com_myname">我的</em></li>
        </ul>
    </footer>
    <% include ../../components/_foot.art %>
    <script src="../customer/my.js"></script>
</body>

</html>