<!DOCTYPE html>
<html>

<head>
    <title name="ml_title">我的融资</title>
    <% include ../../components/_head.art %>
    <style>
        .wx_main {
            top: 89px;
        }

        .wx_searchbox .searchbg {
            opacity: 1;
            border-radius: 4px;
        }

        .wx_searchbox .search_s {
            color: #3e7baf;
        }

        .wx_searchbox,
        .wx_searchboxbg {
            padding: 0px 0px;
        }



        .ordermesbox .ordermes li {
            padding: 0px;
        }

        .ordermes li .proname_a {
            overflow: hidden;
        }

        .ordermes li .proname_a .perty_a {
            width: 50%;
            display: inline-block;
            margin-left: 0px;
            float: left;
        }

        .time .total .jg {
            border: 1px solid #fe9311;
            padding: 2px 5px;
            border-radius: 5px;
        }
    </style>
    <link rel="stylesheet" href="../../css/weui-select.min.css">
</head>

<body>
    <header class="wx_searchbox">
        <div class="weui_search_bar">
            <form id="form" class="weui_search_outer">
                <div class="weui_search_inner">
                    <i class="weui_icon_search"></i>
                    <input type="search" class="weui_search_input i18n_ph" name="com_search" id="querykey"
                        placeholder="搜索" value="" />
                    <a href="javascript:" class="weui_icon_clear"></a>
                </div>
                <label for="querykey" class="weui_search_text">
                    <i class="weui_icon_search"></i>
                    <span class="i18n" name="com_search">搜索</span>
                </label>
            </form>
            <a href="javascript:" class="weui_search_cancel">
                <span class="i18n" name="com_cancel">取消</span>
            </a>
        </div>
    </header>
    <article class="wx_layout">
        <ul class="wx_hyfilter">
            <li class="" style="position: relative;"><em id="rqTxt">
                    <span class="i18n" name="ml_loandate">订单日期</span>
                </em>
                <span class="xl"></span>
                <input type="text" id="rq" value=""
                    style="opacity: 0;top:0;position: absolute;left: 0px;width: 100%;" />
            </li>
            <li class="" id="statusTxt">
                <span class="i18n" name="com_status">状态</span>
                <span class="xl"></span>
            </li>
            <li class="" id="sort">
                <span class="i18n" name="com_sorting">排序</span>
                <span class="xl"></span>
            </li>
            <input type="hidden" id="status" value="" />
            <input type="hidden" id="orderName" value="" />
            <input type="hidden" id="order" value="" />
        </ul>
        <section class="wx_main" id="infinitePage">
            <div id="list"></div>
        </section>
    </article>
    <% include ../../components/_foot.art %>
    <script src="../customer/myJkqdList.js"></script>
    <!--显示悬浮图标-->
    <script type="text/javascript">
        $(function () {
            initSuspendIcon();
        });
    </script>
    <script id="list_page" type="text/html">
            {{each data as value i}}
            <div class="wx_hyordermesbox">
                <p class="ddnumber" onclick="jkqdInfo('{{value.fphm}}');">
                    {{value.fphm}}
                    <span>({{value.shopname}})</span>
                </p>
                <div class="ordermesbox">
                    <ul class="ordermes" onclick="jkqdInfo('{{value.fphm}}');">
                        <li>
                            <p class="proname_a">
                                <span class="perty_a">
                                    订单日期：{{#getDate(value.startDate,"yyyy-MM-dd")}}
                                </span>
                                <span class="perty_a">
                                    最后发货日期：{{#getDate(value.endDate,"yyyy-MM-dd")}}
                                </span>
                                <span class="perty_a">
                                    规格：{{value.ggs}}
                                </span>
                                <span class="perty_a">
                                    批号：{{value.czs}}
                                </span>
                                <span class="perty_a">
                                    保证金比例：{{value.brate}}%
                                </span>
                                <span class="perty_a">
                                    借款金额：{{value.amt}}
                                </span>
                                <span class="perty_a">
                                    订单编号：{{value.extbill}}
                                </span> {{if value.amt1 != null}}
                                <span class="perty_a">
                                    已还金额：{{value.amt1}}
                                </span> {{/if}}
                            </p>
                        </li>
                    </ul>
                    <div class="time">
                        {{value.statusStr}}
                        <div class="total">
                            {{if value.status == 10}}
                                <span class="jg" onclick="hksq('{{value.extbill}}')">发货申请</span>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </script>
</body>

</html>