<!DOCTYPE html>
<html>

<head>
    <title name="sm_khgl">订单查询</title>
    <% include ../../components/_head.art %>
</head>

<body>
    <article class="wx_layout">
        <section class="wx_main">
            <div class="wx_functionbox">
                <p class="gntext i18n" name="sm_khglgnlb">订单列表</p>
                <ul class="gnlist">
                    <li onclick="toAppointmentOrderList();">
                        <span><i class="iconfont icon-hyda"></i></span>
                        <p class="til i18n" name="sm_khda">预约订单</p>
                        <p class="cont i18n" name="sm_jkhzjkd">将客户装进口袋</p>
                        <i class="iconfont icon-rarrow"></i>
                    </li>
                    <li onclick="sapOrder()">
                        <span><i class="iconfont icon-rank"></i></span>
                        <p class="til i18n" name="sm_khdj">发货订单</p>
                        <p class="cont i18n" name="sm_jkhzjkd">将客户装进口袋</p>
                        <i class="iconfont icon-rarrow"></i>
                    </li>
                </ul>
            </div>
        </section>
    </article>
    <% include ../../_foot.html %>
    <script src="../customer/orderQuery.js"></script>
</body>

</html>