<!DOCTYPE html>
<html>

<head>
  <% include ../../components/_head.art %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="恒逸微商城化纤特惠专场">
  <title>限时购</title>
  <link rel="stylesheet" href="../../css/customer/purchase.min.css">
  <style>
    .wx_main {}

    .wx_searchbox .searchbg {
      opacity: 1;
      border-radius: 4px;
    }

    .wx_searchbox .search_s {
      color: #50c6d8;
    }

    .ms_top {
      background: none;
      padding: 0px;
    }

    .purchase-rule {
      color: red;
      width: 50px;
      float: right;
      margin-top: 31px;
      font-size: 12px;
      position: relative;
      z-index: 5;
    }
  </style>
</head>

<body>
  <article class="wx_layout">
    <section class="wx_main">
      <div class="ms_top">
        <img id="purchaseBanner" src="../../images/defult_banner.png" width="100%" />
      </div>
      <div class="ms_djs">
        <p class="ms_djs_line"></p>
        <span class="xsg">特惠倒计时：<em id="days">0</em>天<em id="hour">00</em>时<em id="min">00</em>分</span>
        <p class="purchase-rule" onclick="toRule()">活动规则</p>
      </div>
      <div class="purchase__wrap">
        <div id="purchaseTabsWrap"></div>
        <div id="purchaseList" class="purchase__list"></div>
      </div>
    </section>
  </article>
  <% include ../../_foot.html %>
  <% include ../include/_popup.html %>
  <script src="../customer/purchase.js"></script>
  <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <!-- 商品tab -->
  <script id="purchaseTabs" type="text/html">
    <ul class="purchase__tabs">
      {{each tabs as value}}
      <li val="{{value}}" onclick="changePm(this)" class="purchase__tabs-item {{$index===0?'active':''}}">{{value}}</li>
      {{/each}}
    </ul>
  </script>
  <!-- 商品列表 -->
  <script id="purchaseGroup" type="text/html">
    {{each list as group idx}}
    <div class="purchase__group {{group.length>1?'group':''}}">
      {{each group as value}}
      <div class="purchase__item">
        <div class="purchase__item-title"><span class="main">{{value.pm}}</span><span>{{value.cz}}</span></div>
        <div class="purchase__item-attr">
          <span>{{value.gg}}</span>
          <span>{{value.cd}}</span>
          <span>{{value.wzlb}}</span>
          <span>箱包净重:{{value.packstr?value.packstr+'kg':'不定重'}}</span>
        </div>
        <div class="purchase__item-price">
          <span>限时价：<b>¥</b><em>{{value.newPrice}}</em></span>
          <span class="delete">原价：¥{{value.oldPrice}}</span>
        </div>
        <div class="purchase__item-weight">重量：{{value.remainder}}kg</div>
        <div class="purchase__item-buy {{group.length>1?'group':''}} {{group.length-1===$index?'':'hide'}}">
          {{if started === 1}}
            {{if value.status == 1}}
            <div class="purchase__buy" onclick="purchase('{{idx}}','{{+value.buyInBatchesFlag}}')">马上抢</div>
            {{else}}
            <div class="purchase__buy disabled">售 罄</div>
            {{/if}}
          {{else}}
          <div class="purchase__buy disabled">即将开始</div>
          {{/if}}
        </div>
      </div>
      {{/each}}
    </div>
    {{/each}}
  </script>
</body>

</html>