<!DOCTYPE html>
<html>

<head>
    <title name="ri_title">商品详情</title>
    <% include ../../components/_head.art %>
        <link rel="stylesheet" href="../../css/weui-select.min.css">
        <style>
        .wx_main {
            bottom: 49px;
        }
        
        .ordermesbox {
            padding: 0 10px;
            background: #fff;
        }
        
        .ordermesbox .ordermes li {
            border: none;
        }
        
        .ordermes li .size_a {
            font-size: 1.3rem;
        }
        </style>
</head>

<body>
    <article class="wx_layout">
	   <input type="hidden" id="openid" value=""/>
       <section class="wx_main" id="main">
       </section>
    </article>
    <footer id="footer" class="wx_btntwo" style="display: none;">
        <div class="backbuy" onclick="toShoppingCart();">
            <i class="iconfont icon-hybuyk"></i>
            <p class="buynum">
				<span class="i18n" name="ri_gouwuche">购物车</span>
			<span id="gwcsl"></span></p>
        </div>
        <ul class="btntwo">
            <li class="gwc" onclick="saveShopping();"><span class="i18n" name="ri_jrgouwuche">加入购物车</span></li>
            <li class="gm" onclick="createbill();"><span class="i18n" name="ri_ljgm">立即购买</span></li>
        </ul>
    </footer>
    <% include ../../components/_foot.art %>
	   <script src="../../js/oauth2.min.js"></script>
        <script src="../customer/resourceInfo.js"></script>
        <script id="main_page" type="text/html">
            <div class="tradecomp"><span class= "i18n" name="ri_fgs">分公司</span>：{{data.depname}}</div>
            <div class="ordermesbox">
                <ul class="ordermes">
                    <li>
					    {{if shop != null}}
						<input type="hidden" id="pkid" value="{{shop.pkid}}" />
						<input type="hidden" id="kpdm" value="{{shop.customerId}}" />
		                <input type="hidden" id="kpname" value="{{shop.customerName}}" />
						<input type="hidden" id="packNum" value="{{shop.packstr}}">

                {{if shop.differentiation != null&&shop.differentiation==1}}
                <input type="hidden" id="cfxx" value="{{shop.circleId}}_{{shop.hzdm}}_{{shop.pm}}_{{shop.depid}}_{{shop.orderType}}_{{shop.flag11}}_{{shop.differentiation}}_{{shop.activityMxId}}" />
                {{else}}
				<input type="hidden" id="cfxx" value="{{shop.circleId}}_{{shop.hzdm}}_{{shop.pm}}_{{shop.depid}}_{{shop.orderType}}_{{shop.flag11}}_0_{{shop.activityMxId}}" />
				{{/if}}

						{{/if}}
					    <input type="hidden" id="gpls" value="{{data.gpls}}">
						<input type="hidden" id="wzid" value="{{data.wzid}}">
						<input type="hidden" id="cd" value="{{data.cd}}" />
                        <input type="hidden" id="depid" value="{{data.depid}}" />
                        <p class="proname_a">
                            {{data.pm}}
                            <span class="perty_a">{{data.cz}}</span> {{if data.pm == "DTY"}}
                            <span class="perty_a">{{data.str02}}</span>
                            <span class="perty_a">{{data.str03}}</span> {{else}}
                            <span class="perty_a">{{data.wzlb}}</span> {{if data.str04 != null}}
                            <span class="perty_a">{{data.str04}}</span> {{/if}} {{if data.str02 != null}}
                            <span class="perty_a">{{data.str02}}</span> {{/if}} {{/if}}

                            {{if data.differentiation != null&&data.differentiation==1}}
                            <span class="perty i18n" name="ri_chayh">差异化</span> {{/if}}
                        </p>
                        <p class="size_a">
                            {{if data.pm != "切片" && data.pm != "锦纶切片"}} {{data.gg}}&nbsp;&nbsp; {{/if}} {{data.cd}}
                        </p>
                        {{if isLogin}}
                        <p class="jgpri">
                            <span class="jg">{{#data.price00Str}}</span>
                            <span class="zt i18n" name="ri_ziti">自提</span>
                        </p>
                        {{else}}
                        <p class="jgpri"><span class="zt i18n" name="ri_ziti" style="margin-left:0px;">自提</span></p>
                        {{/if}} {{if focusFlag == "1"}}
                        <div class="yfocus" id="focus" onclick="cancelFocus();"><span class="i18n" name="ri_yiguanzhu">已收藏</span></div>
                        {{else}}
                        <div class="focus" id="focus" onclick="doFocus();"> <span class="i18n" name="ri_guanzhu">收藏</span></div>
                        {{/if}}
                        <!--          
          <div class="case">10kg/箱</div>
          -->
                    </li>
                </ul>
            </div>
            <ul class="wx_setlist">
                <li><span class="i18n" name="ri_weight">重量</span>
                    <input id="sl02" class="i18n_ph" name="ri_weighttip" type="number" oninput="updateShopping();" placeholder="请输入重量"  {{if shop != null}} value="{{shop.sl02}}" {{/if}} /><em class="dwkg">{{data.sldw2}}</em></li>
                <li class="write"><span class="i18n" name="ri_packnum">箱包数</span>
                    <input id="sl01" type="number" class="i18n_ph" name="ri_packnumtip" placeholder="请输入箱包数" oninput="changeSl1();"   {{if shop != null}} value="{{shop.sl01}}" {{/if}}/>
                </li>
        {{if packstrList != null }}
        <li class="jhway" id="packstr">
            <span>箱包净重：</span> {{each packstrList as value i}} {{if i == 0}}
            <em class="way current" val="{{value}}">{{value}}{{data.sldw2}}</em> {{else}}
            <em class="way" val="{{value}}">{{value}}{{data.sldw2}}</em> {{/if}} {{/each}}
        </li>
        {{else}}
        <li class="write" style="text-align: right;">
            <span>箱包净重：</span> {{if (data.packstr != null && data.packstr != "")}} {{data.packstr}}{{data.sldw2}} {{else}} 不定重 {{/if}}
        </li>
        {{/if}} {{if data.lsxs != null && data.lsxs != 0}}
        <li class="write" style="text-align: right;"><span>单丝净重：</span> {{data.lsxs}}{{data.sldw2}}
        </li>
        {{/if}}
                <li class="write"><span class="i18n" name="ri_beizhu">备注</span>
                    <input id="remark" class="i18n_ph" name="ri_beizhutip" type="text"  oninput="updateShopping();" placeholder="请输入备注"  {{if shop != null}} value="{{shop.remark}}" {{/if}} />
                </li>
            </ul>
            {{if opt != null }}
            <div class="wx_hylxrcont">
                <div class="commontil"><span class="line"></span><span class="tiltext i18n" name="ri_lianxiren">联系人</span></div>
                <ul class="lxrmess">
                    <li>
                        <p class="name">{{opt.name}}</p>
                        {{if opt.mobile != null}}
                        <p class="tel">{{opt.mobile}}</p>
                        <span class="telbtn" onclick="doCall('{{opt.mobile}}')"></span> {{/if}}
                    </li>
                </ul>
            </div>
            {{/if}}
        </script>
</body>

</html>
