<!DOCTYPE html>
<html>
<head>

<title>秒杀规则</title>
<style>
body { background:#fff;}
#content{margin-left: 10px; margin-right: 10px;}
</style>
</head>
<% include ../../components/_head.art %>
<body>
<article class="wx_layout">
  <section class="wx_main">
    <div class="wx_hytitle">
      <div class="hytitle">
        <p class="til" id="title">秒杀规则</p>
      </div>
    </div>
    <div>
		活动规则：1、每个秒杀产生1位得主，先抢先得；2、秒杀成功后，如果悔单，用户将禁秒1个月；3、秒杀数量请以秒杀当天的数量为准；4、如有疑问，请联系微商城客户服务微信：airbaby929
    </div>
  </section>
</article>
<% include ../../components/_foot.art %>
</body>
</html>
