<!DOCTYPE html>
<html>

<head>
    <title name="ai_title">秒杀详情</title>
    <% include ../../components/_head.art %>
    <link rel="stylesheet" href="../../css/weui-select.min.css">
 
</head>

<body>
    <article class="wx_layout">
        <section class="wx_main" id="main">
        </section>
    </article>
    <% include ../../_foot.html %>
    <script src="../customer/seckillInfo.js"></script>
    
    <script id="main_page" type="text/html">
        <div class="wx_myfocus">
      <div class="commontil hytil">
         <span class="line1"></span>
         <span class="tiltext i18n" name="ai_xsjp">限时秒杀</span>
      </div>
      <ul class="focuslist">
		 {{each data as mx j}} 
         <li>
         <p class="proname">{{mx.pm}}
                            <span class="perty">{{mx.cz}}</span> {{if mx.pm == "DTY"}}
                            <span class="perty">{{mx.str02}}</span>
                            <span class="perty">{{mx.str03}}</span> {{else}}
                            <span class="perty">{{mx.wzlb}}</span> {{if mx.str04 != null}}
                            <span class="perty">{{mx.str04}}</span> {{/if}} {{if mx.str02 != null}}
                            <span class="perty">{{mx.str02}}</span> {{/if}} {{/if}}
          </p>
		  <p class="size">
          {{if (mx.pm != "切片" && mx.pm != "锦纶切片")}} {{mx.gg}}&nbsp;&nbsp;{{/if}} {{mx.cd}}
          </p>
		   {{if mx.sl }}
		   <p class="size"><span class="i18n" name="ai_xbweight">重量</span> {{mx.sl}}kg</p>
           {{/if}}
		    <div class="price price_b">
            <ul class="price_ul">
              <li class="price_list"><span name="act_dqprice" class="i18n">当前秒杀单价</span><em class="price_item1"> ￥<span class="price_num">{{mx.msprice }}</span></em></li>
            </ul>
           </div>
		   </li>
         {{/each}}
		 <li>
      </ul> 
    </div>
    
    <div class="shop_detail">
       <p class="shop_note"><i class="iconfont icon-jp"></i><span class="i18n" name="ai_jpjl">秒杀记录</span></p>
       <ul class="shop_table">
	   {{each recordList as value i}}
        <li class="shop_tr"><p class="shop_td">
		{{value.mbname}}
		</p><p class="shop_td shop_td2">
			{{#getDate(value.cdate,"yyyy.MM.dd HH:mm:ss")}}</p>
        </li>
		{{/each}}
       </ul>
    </div>
       
    </script>
</body>

</html>
