<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>问卷调查详情</title>
</head>
<style type="text/css">
	.wx_layout {
		background: #fff;
	}

	.required {
		font-style: normal;
		margin-right: 2px;
		color: red !important;
	}
</style>
<% include ../../components/_head.art %>

<body>
	<article class="wx_layout">
		<section class="wx_main wx_lookinto_info">
			<div class="top">
				<h2 id="queName"></h2>
				<p id="summary"></p>
			</div>
			<div class="cont" id="list">

			</div>
			<div class="wx_lookinto_btn" onclick="submit()"><a>提交</a></div>
		</section>
	</article>
	<% include ../../components/_foot.art %>
	<script src="../customer/startItem.js"></script>
	<script id="list_page" type="text/html">
    {{each list as value i}}
			<div class="item" name="{{value.relyOption}}">
        <p class="tit"><i class="required">{{value.isMust&&value.itemType!=3?'*':''}}</i>{{value.itemNum}}、{{value.title}}
        {{if value.itemType == 0}}
        	(单选)
        {{else if value.itemType == 1}}
        	(多选)
    		{{else if value.itemType == 3}}
    			(综合评分)
        {{/if}}
        </p>
        {{if value.itemType == 0 || value.itemType == 1}}
	        <ul class="list2 {{value.isMust?'is-must':''}}" num="{{value.itemNum}}" id="{{value.pkid}}">
	        	{{each value.optList as opt i}}
	          	<li onclick="selectOpt(this, '{{value.itemType}}', '{{opt.pkid}}')"><i id="{{opt.pkid}}" class="iconfont icon-checkbox"></i>{{opt.optTitle}}</li>
	          {{/each}}
	        </ul>
	      {{else if value.itemType == 2}}
	      	<div class="textareabox {{value.isMust?'is-must':''}}" num="{{value.itemNum}}">
          	<textarea id="{{value.pkid}}" maxlength="256"></textarea>
        	</div>
        {{else if value.itemType == 3}}
	       <div id="{{value.pkid}}">
	       	{{if value.optList.length>0}}
	        <div class="clist">
	        	<p class="tit"></p>
	        	<ul class="list1 void">
		          <li>2</li>
		          <li>4</li>
		          <li>6</li>
		          <li>8</li>
		          <li>10</li>
		        </ul>
	        </div>
	        {{each value.optList as option}}
		        <div class="clist">
		        	<p class="tit">{{option.optIndex}}). {{option.optTitle}}</p>
		        	<ul class="list1" id="{{option.pkid}}">
			          <li><i class="iconfont icon-checkbox"></i></li>
			          <li><i class="iconfont icon-checkbox"></i></li>
			          <li><i class="iconfont icon-checkbox"></i></li>
			          <li><i class="iconfont icon-checkbox"></i></li>
			          <li><i class="iconfont icon-selectcur"></i></li>
			        </ul>
		        </div>
		      {{/each}}
		      {{/if}}
		      </div>
        {{/if}}
      </div>
    {{/each}}
	</script>
</body>

</html>