<!DOCTYPE html>
<html>

<head>
    <title name="ui_title">个人信息</title>
    <% include ../../components/_head.art %>
    <link rel="stylesheet" href="../../css/weui-select.min.css">
    <style>
        .headpic {
            width: 58px;
            height: 58px;
            border-radius: 50%;
            margin: 0 auto;
            overflow: hidden;
        }

        .headpic img {
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="bd">
        <div class="weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>
                        <span class="i18n" name="ui_avatar">头像</span>
                    </p>
                </div>
                <div class="weui_cell_ft" onclick="uploadImg();">
                    <input type='hidden' id="userPhotoPath" />
                    <div>
                        <p class="headpic">
                            <img id="userPhotoImg" src="../../images/headpic.png" />
                        </p>
                    </div>
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label"><span class="must_input"></span>
                        <span class="i18n" name="ui_username">姓名</span>
                    </label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input id='userName' class="weui_input i18n_ph" style="text-align: right;" name="ui_tobeperfectname"
                        type="text" placeholder="待完善">
                </div>
            </div>
        </div>
        <div class="weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label"><span class="must_input"></span>
                        <span class="i18n" name="ui_email">Email</span>
                    </label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input id='email' class="weui_input i18n_ph" name="ui_tobeperfectemail" style="text-align: right;"
                        type="text" placeholder="待完善">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label">
                        <span class="i18n" name="ui_area">收货地区</span>
                    </label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input type="hidden" id="dq1code" value="" />
                    <input type="hidden" id="dq1name" value="" />
                    <input type="hidden" id="dqcode" value="" />
                    <input type="hidden" id="dqname" value="" />
                    <input type="hidden" id="xjcode" value="" />
                    <input type="hidden" id="xjname" value="" />
                    <input id='dq_txt' class="weui_input i18n_ph" name="ui_tobeperfectarea" style="text-align: right;"
                        type="text" placeholder="待完善" click="unFocus();" />
                </div>
                <div class="weui_cell_ft"></div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label"><span class="must_input"></span>
                        <span class="i18n" name="ui_address">收货地址</span>
                    </label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input id='shaddr' class="weui_input i18n_ph" name="ui_tobeperfectaddress"
                        style="text-align: right;" type="text" placeholder="待完善">
                </div>
            </div>
        </div>
    </div>
    <footer class="wx_btnnext">
        <div id="btnMyModify" onclick="updateUserInfo();">
            <span class="i18n" name="ui_save">保存</span>

        </div>
    </footer>
    <% include ../../_foot.html %>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        $(function () {
            wxconfig();
        });
    </script>
    <script src="../customer/userInfo.js"></script>
    <script src="../../lib/city-picker.min.js"></script>
</body>

</html>