<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>基本信息</title>
	<% include ../../components/_head.art %>
	<style type="text/css">
		.t35 {
			top: 35px;
		}

		.weui-picker-modal.weui-picker-modal-visible {
			margin-bottom: 45px;
			height: 17rem;
		}

		.weui-picker-modal .picker-items {
			height: 12rem;
			font-size: 1.5rem;
		}

		.icon-cha {
			float: right;
		}

		input {
			border: none;
		}
	</style>
</head>

<body>
	<div class="wx_pubtab">
		<ul>
			<li class="on" onclick="toDetailInfo(this)">基本信息</li>
			<li onclick="toMyInfo(this)">详细信息</li>
		</ul>
	</div>
	<article class="wx_layout t35">
		<section class="wx_main wx_ordcomment">
			<div class="wx_myinfo" id="baseInfo">
				<div class="box">
					<h2 class="tit">操作员信息</h2>
					<div class="cont czyinfo">
						<ul>
							<li id="userName">姓名：</li>
							<li id="mobile">手机号码：</li>
						</ul>
						<input type="hidden" id="userPhotoPath" />
						<div class="img" onclick="uploadImg('userPhotoCallback');">
							<img id="userPhotoImg" src="../../images/wx_infoimg.jpg">
						</div>
					</div>
				</div>
				<div class="box">
					<h2 class="tit">公司信息</h2>
					<div class="cont gsinfo">
						<ul>
							<li class=" upfile">
								<div class="item">
									<input type="hidden" id="shno2url" />
									<div class="flex"><em>*</em>营业执照(必填)</div>
									<img class="upload" id="shno2PhotoImg" src="../../images/add.jpg"
										onclick="uploadImg('shno2PhotoCallback');" />
								</div>
							</li>
							<li class=" upfile">
								<div class="item">
									<input type="hidden" id="billingInfo" />
									<div class="flex">开票资料</div>
									<img class="upload" id="billingPhotoImg" src="../../images/add.jpg"
										onclick="uploadImg('billingPhotoCallback');" />
								</div>
							</li>
							<li>
								<div class="item">法人：<div class="flex"><input id="fr" type="text" placeholder="请输入"></div>
								</div>
							</li>
							<li>
								<div class="item">联系人：<div class="flex"><input id="coplxr" type="text" placeholder="请输入"></div>
								</div>
							</li>
							<li>
								<div class="item">联系电话： <div class="flex"><input id="coptel" type="text" placeholder="请输入"></div>
								</div>
							</li>
							<li>
								<div class="item">开票电话：<div class="flex"><input id="billingTel" type="text" placeholder="请输入"></div>
								</div>
							</li>
							<li class="line">
								<input type="hidden" id="dq1code" value="" />
								<input type="hidden" id="dq1name" value="" />
								<input type="hidden" id="dqcode" value="" />
								<input type="hidden" id="dqname" value="" />
								<input type="hidden" id="xjcode" value="" />
								<input type="hidden" id="xjname" value="" />
								<div class="item">地区：
									<div class="flex" id="dq_txt">
										<span class="c999">请选择地区</span>
									</div>
									<i class="iconfont arrow">&#xe626;</i>
								</div>
							</li>
							<li class="line">
								<div class="item"><span class="lt">公司地址：</span>
									<div class="flex"><input id="shaddr" type="text" placeholder="请输入"></div>
								</div>
							</li>
							<li>
								<div class="item"><span class="lt">税号：</span>
									<div class="flex"><input type="text" id="shno1" placeholder="请输入">
							</li>
							<li>
								<div class="item"><span class="lt">开户行：</span>
									<div class="flex"><input type="text" id="khbank" placeholder="请输入"></div>
								</div>
							</li>
							<li class="line">
								<div class="item"><span class="lt">银行卡：</span>
									<div class="flex"><input type="text" id="khzh" placeholder="请输入"></div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="wx_myinfo" id="detailInfo" style="display: none;">
				<div class="box">
					<h2 class="tit">主要使用规格</h2>
					<div class="cont gginfo">
						<ul id="ggList">
							<li><input type="text" id="gg" placeholder="请输入规格" /></li>
						</ul>
						<div class="add" onclick="add()"><i class="iconfont">&#xe612;</i></div>
					</div>
				</div>
				<div class="box">
					<h2 class="tit">主要应用领域</h2>
					<div class="cont gsinfo">
						<ul>
							<li class="line">
								<div class="item">
									<div class="flex"><input type="text" id="applicationArea"></div>
									<i class="iconfont modify">&#xe793;</i>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="box">
					<h2 class="tit">月需求量</h2>
					<div class="cont gsinfo">
						<ul>
							<li>
								<div class="item">
									<span class="lt">DTY：</span>
									<div class="flex"><input type="text" id="DTY"></div>
									<i class="iconfont modify">&#xe793;</i>
								</div>
							</li>
							<li>
								<div class="item">
									<span class="lt">POY：</span>
									<div class="flex"><input type="text" id="POY"></div>
									<i class="iconfont modify">&#xe793;</i>
								</div>
							</li>
							<li>
								<div class="item">
									<span class="lt">FDY：</span>
									<div class="flex"><input type="text" id="FDY"></div>
									<i class="iconfont modify">&#xe793;</i>
								</div>
							</li>
							<li>
								<div class="item">
									<span class="lt">涤纶切片：</span>
									<div class="flex"><input type="text" id="dlqp"></div>
									<i class="iconfont modify">&#xe793;</i>
								</div>
							</li>
							<li>
								<div class="item">
									<span class="lt">锦纶切片：</span>
									<div class="flex"><input type="text" id="jlqp"></div>
									<i class="iconfont modify">&#xe793;</i>
								</div>
							</li>
							<li>
								<div class="item">
									<span class="lt">短纤：</span>
									<div class="flex"><input type="text" id="dx"></div>
									<i class="iconfont modify">&#xe793;</i>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</article>
	<% include ../../components/_foot.art %>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>
		$(function () {
			wxconfig();
		});
	</script>
	<script src="../customer/userInfo.js"></script>
	<script src="../../lib/city-picker.min.js"></script>
	<div class="wx_pop" style="display: none;">
		<div class="wx_tipsbox" style="display: none;" id="approval">
			<div class="box">
				<h2 class="tit">系统提示</h2>
				<dl class="cont">
					<dt><i class="iconfont">&#xe73e;</i>您的信息正在审核中......</dt>
					<dd>您将在24小时内获得审核结果，在此期间您的账户无法下单。</dd>
				</dl>
			</div>
		</div>
		<div class="wx_footerbtn" style="display: none;" id="footBtn">
			<ul>
				<li class="whitebtn" onclick="toIndex();"><i class="iconfont icon-shouye"></i>返回首页</li>
				<li class="bluebtn" onclick="toMyPage();"><i class="iconfont icon-gly"></i>我的</li>
			</ul>
		</div>
		<div class="wx_tipsbox" style="display: none;" id="refuse">
			<div class="box">
				<h2 class="tit">系统提示</h2>
				<dl class="cont">
					<dt class="red"><i class="iconfont">&#xe6a1;</i>您的公司信息审核未通过......</dt>
					<dd id="jjly">对不起，您的公司信息审核未通过，请修改公司信息。</dd>
					<dd class="link" onclick="$('.wx_pop').hide();"><a><i class="iconfont">&#xe626;</i>点击修改</a></dd>
				</dl>
			</div>
		</div>
	</div>
	<footer class="wx_footerbtn">
		<ul>
			<li class="bluebtn" onclick="updateUserInfo();">保存</li>
		</ul>
	</footer>
</body>

</html>