<!DOCTYPE html>
<html>

<head>
    <title>燃辅料订单</title>
    <% include ../../components/_head.art %>
    <style>
        .wx_main {
            top: 89px;
        }

        .wx_searchbox .searchbg {
            opacity: 1;
            border-radius: 4px;
        }

        .wx_searchbox .search_s {
            color: #3e7baf;
        }

        .wx_searchbox,
        .wx_searchboxbg {
            padding: 0px 0px;
        }

        .zxf_a {
            font-size: 1.3rem;
            line-height: 23px;
            color: #999;
        }

        .wx_hyfilter li {
            width: 50%;
        }

        .size_a .price {
            color: #fe9311;
            margin-right: 10px;
        }

        .buybtn {
            position: absolute;
            right: 0px;
            bottom: 10px;
            border: 1px solid #fe9311;
            border-radius: 2px;
            color: #fe9311;
            padding: 0px 5px;
            font-size: 1.3rem;
            line-height: 22px;
        }
    </style>
    <link rel="stylesheet" href="../../css/weui-select.min.css">
</head>

<body>
    <header class="wx_searchbox">
        <div class="weui_search_bar">
            <form id="form" class="weui_search_outer">
                <div class="weui_search_inner">
                    <i class="weui_icon_search"></i>
                    <input type="search" class="weui_search_input" id="querykey" placeholder="搜索订单" value="" />
                    <a href="javascript:" class="weui_icon_clear"></a>
                </div>
                <label for="querykey" class="weui_search_text">
                    <i class="weui_icon_search"></i>
                    <span>搜索订单</span>
                </label>
            </form>
            <a href="javascript:" class="weui_search_cancel">取消</a>
        </div>
    </header>
    <article class="wx_layout">
        <ul class="wx_hyfilter">
            <li class="" style="position: relative;"><em id="dateli">日期</em>
                <span class="xl"></span>
                <input type="text" id="date10Str" value=""
                    style="opacity: 0;top:0;position: absolute;left: 0px;width: 100%;" />
            </li>
            <li class="" id="status" style="display:none;">
                状态<span class="xl"></span>
            </li>
            <li class="" id="sort">
                排序<span class="xl"></span>
            </li>
            <input type="hidden" id="cdate" value="" />
            <input type="hidden" id="shStatus" value="" />
            <input type="hidden" id="orderName" value="" />
            <input type="hidden" id="order" value="" />
        </ul>
        <section class="wx_main" id="infinitePage">
            <div id="list"></div>
        </section>
    </article>
    <% include ../../_foot.html %>
    <script src="../purchasing/excipientOrder.js"></script>
    <!--显示悬浮图标-->
    <script type="text/javascript">
        $(function () {
            initSuspendIcon();
        });
    </script>
    <script id="list_page" type="text/html">
            {{each data as value i}}
            <div class="wx_hyordermesbox">
                <p class="ddnumber">{{value.fphm}}<span>
            {{if (isSaleman != null && isSaleman === 1)}}
              （{{value.hyname}}）
            {{else}}
                {{if value.depname2 != null}}
                （{{value.depname2}}）
                {{else}}
                  （{{value.hzname}}）
                {{/if}}              
            {{/if}}
            {{if value.htflag11 == 1}} 
                合约A   
           {{/if}}
           {{if value.htflag11 == 2}} 
                合约B    
           {{/if}}
            </span></p>
                <div class="ordermesbox">
                    <ul class="ordermes" id="ul_{{value.fphm}}">
                        {{each value.mxlist as mx i}}
                        <li id="{{mx.wzgid}}" gpls="{{mx.extbillno}}">
                            <input type="hidden" id="cfxx_{{mx.wzgid}}" value="{{value.circleId}}_{{value.hzdm}}_{{mx.pm}}_{{value.depid2}}_{{value.orderType}}" />
                            <p class="proname_a">
                                {{mx.pm}}
                                <span class="perty_a">{{mx.cz}}</span> 
                                <span class="perty_a">{{mx.str03}}</span>
								<span class="perty_a">{{mx.str04}}</span>
							</p>
							<p class="size_a">
							<div class="rfl_img rfl_img1">
                    <div class="rfl_pic rfl_pic1">
                    <img src="{{filePath}}{{mx.logoimg00}}" />
                    </div>
                    </div>
							</p>
                            <p class="size_a">
                                <span class="price">￥<em>{{mx.price}}</em></span> 重量：{{mx.sl2}}{{mx.sldw2}}
                            </p>
                            <div class="status">
                                {{if mx.shStatus == 101}} 已提交 {{else if mx.shStatus == 201}} 已处理 {{else if mx.shStatus == 301}} 已发货 {{else if mx.shStatus == 401}} 已完结 {{/if}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="time">{{#getDate(value.cdate,"yyyy-MM-dd HH:mm")}}
                        <div class="total">
                            <span class="xd">
                         {{if value.orderType == 1}} 
                              代客下单
                         {{else value.orderType == 0}} 
                              客户下单
                         {{/if}}
                  </span> 合计
                            <span class="jg">￥<em>{{value.htamt}}</em></span>
                        </div>
                    </div>
                    {{if (value.couponType != null && value.couponAmt != null && value.couponAmt != 0)}}
                    <div class="time" style="border-top: 1px solid #ddd;">
                        {{value.couponName}}
                        <div class="total">
                            优惠<span class="jg">￥<em>{{value.couponAmt}}</em></span>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </script>
</body>

</html>