<!DOCTYPE html>
<html>

<head>
  <title>燃辅料外卖</title>
  <% include ../../components/_head.art %>
  <link rel="stylesheet" href="../../css/weui-select.min.css">
  <style>
    .wx_main {
      top: 89px;
      bottom: 45px;
    }

    .wx_main2 {
      top: 44px;
    }

    .wx_searchbox .searchbg {
      opacity: 1;
      border-radius: 4px;
    }
  </style>
</head>

<body>
  <header class="wx_searchbox wx_searchbox2">
    <ul class="wx_ziyfilter wx_ziyfilter1">
      <li>燃辅料</li>
      <input type="hidden" id="pp" name="pp" />
      <li id="pptitle" onclick="showSelect('pp')">品牌<span class="xl"></span></li>
    </ul>
  </header>
  <article class="wx_layout">
    <section class="wx_main wx_main2" id="infinitePage">
      <div id="list"></div>
    </section>
  </article>
  <footer class="wx_btnnext" onclick="gotoShoppingCart();">进入购物车</footer>
  <div class="wx_opacity2" style="display:none;top: 45px;" onclick="toHide();"></div>
  <div class="wx_pulldownbox2" style="display:none;">
    <div class="pulldown">
      <ul class="middlenav" style="top: 45px;" id="xlsx">
      </ul>
    </div>
    <ul class="pullbtn">
    </ul>
  </div>
  <% include ../../_foot.html %>
  <script src="../purchasing/excipientList.js"></script>
  <script id="list_page" type="text/html">
      {{each data as value i}} 
           <div class="resourcelist resourcelist1">
      <div class="rfl_list">
        <p class="proname">{{value.pm}}<span class="perty">{{value.str03}}</span></p>
        <p class="size"><span class="price">￥<em>{{value.price00}}</em></span>{{value.str04}}</p>
        <div class="buybtn {{if value.isxg == 1}}buybtn1{{/if}}"  id="{{value.gpls}}" onclick="saveShopping('{{value.gpls}}','{{value.wzid}}');"><i class="iconfont icon-gouwck"></i></div>
      </div>
      <div class="rfl_img">
        <div class="rfl_pic">
          <img src="{{filePath}}{{value.logoimg00}}" />
        </div>
      </div>
    </div>
    {{/each}}
      </script>
  <script id="pplist_page" type="text/html">
                <li id="pp_bx" name="pp_bx" onclick="middleSelect('品牌','pp','bx');">不限</li>
                {{each data as value i}}
                <li onclick="middleSelect('{{value}}','pp','{{i}}');" id="pp_{{i}}" name="pp_{{i}}">{{value}}</li>
                {{/each}}
            </script>
</body>

</html>