<!DOCTYPE html>
<html>

<head>
   <title>我的奖励</title>
   <% include ../../components/_head.art %>
   <link rel="stylesheet" href="../../css/weui-select.min.css">
   <style>
      .wx_mainmesbox {
         margin-top: 30%;
      }
   </style>
</head>

<body>
   <article class="wx_layout" id="main">




   </article>
   <% include ../../components/_foot.art %>
   <script src="../recommend/recommendInfo.js"></script>
   <script id="main_page" type="text/html">
	<div class="wdjl_contain">
        <div class="wdjl_box">
           <p class="wdjl_til"><span class="i18n" name="tj_ydjl">已得奖励</span>（<span id="yuan_gjh" class="i18n" name="tj_bz">元</span>）</p>
           <p class="wdjl_num">{{data.count2 * 100}}</p>
        </div>
        <ul class="wdjl_list">
           <li class="wdjl_item"><p class="wdjl_name"><span class="i18n" name="tj_yyq">已邀请（人）</span></p><p class="wdjl_sum">{{data.count0}}</p></li>
           <li class="wdjl_item"><p class="wdjl_name"><span class="i18n" name="tj_yzc">已注册（人）</span></p><p class="wdjl_sum">{{data.count1}}</p></li>
           <li class="wdjl_item"><p class="wdjl_name"><span class="i18n" name="tj_ysh">已审核（人）</span></p><p class="wdjl_sum">{{data.count2}}</p></li>
        </ul>
     </div>
	 <section class="wx_main hy_main1" >
     <div class="wdjl_yqlb">
        <p class="yqlb_title"><span class="i18n" name="tj_zclb">注册列表</span><i class="iconfont icon-yqlb"></i></p>
        <div class="yqlb_contain">
		 {{each list as value i}}
           <div class="yqlb_list">
              <div class="yqlb_info">
                 <p class="yqlb_name">{{value.coplxr}}</p>
                 <p class="yqlb_tel">{{value.copmobile}}</p>
                 <p class="yqlb_company">{{value.mbname}}</p>
              </div>
              <p class="yqlb_zcsj"><span class="i18n" name="tj_zcsj">注册时间</span><span>{{#getDate(value.regdate,"yyyy-MM-dd HH:mm:ss")}}</span></p>
              <p class="yqlb_shsj"><span class="i18n" name="tj_shsj">审核时间</span><span>{{#getDate(value.shrq,"yyyy-MM-dd HH:mm:ss")}}</span></p>
           </div>
		   {{/each}}
          </div>
     </div>
	 </section>
	</script>
</body>

</html>