<!DOCTYPE html>
<html>

<head>
   <title>活动规则</title>
   <% include ../../components/_head.art %>
   <link rel="stylesheet" href="../../css/weui-select.min.css">
   <style>
      .wx_mainmesbox {
         margin-top: 30%;
      }
   </style>
</head>

<body>
   <article class="wx_layout">
      <section class="wx_main hy_main">
         <div class="hy_hdgz">
            <p class="hdgz_line"></p>
            <p class="hdgz_title">活动规则</p>
         </div>
         <ol class="hdgz_list">
            <li class="hdgz_item">
               邀请好友注册恒逸微商城审核并通过，则邀请人与被邀请人均可获得下单优惠券。邀请人奖励100元下单优惠券，被邀请人获得一次大转盘抽奖的机会，奖励100元-1000元金额不等的优惠券。
            </li>
            <li class="hdgz_item">
               被邀请人通过邀请链接首次提交注册信息，并且在收到邀请后完成审核，邀请人和被邀请人即可获得奖励，奖励以优惠券的形式发放到邀请人账户内，被邀请人通过大转盘抽奖后奖励以优惠券的形式发放到被邀请人账户内。</li>
            <li class="hdgz_item">奖励均以优惠券的形式发放到邀请人和被邀请人账户内。</li>
            <li class="hdgz_item">如用户在活动期间，虚构信息或有其他违反平台规定的情形，将取消全部奖励。</li>
            <li class="hdgz_item">优惠券有效期为30天，满足优惠券使用条件方可使用。</li>
            <li class="hdgz_item">非客户原因，订单全额退款退货的情况可以退还所使用的优惠券，其余情况不退还优惠券，优惠券人工退回，需联系对接的业务员。</li>
         </ol>
      </section>
   </article>
   <% include ../../_foot.html %>
   <script src="../recommend/rule.js"></script>
</body>

</html>