<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>答一答</title>
<% include ../../components/_head.art %>
<script>
</script>
<style>
.wx_searchbox .searchbg { opacity:1; border-radius:4px;}
.wx_searchbox .search_s { color:#50c6d8;}
</style>
</head>

<body>
<article class="wx_layout">
  <input type="hidden" id="timemd5" name="">
    <section class="wx_main b00">
        <div class="zyz_top">回答1个问题可获3000纤币<span>（每个问题可获1次奖励，每天最多获3次回答奖励，如内容不符主题，纤币将撤回）</span></div>
        <div class="jf_xbdh zyz_xbdh dyd_xbdh" id="list"> 
           
           
        </div>
        <!-- <p class="zyz_more">下拉显示更多</p> -->
    </section>
</article> 
    <% include ../../components/_foot.art %>
    <script src="../score/answer.js"></script>
<script type="text/html" id="list_page">
  {{each data as value}}
  <div class="zqxb_list">
               <div class="zqxb_item">
                   <p class="zqxb_detail">{{value.title}}</p>
                   {{if value.questionFlag==1}}
                   <span class="xbdh_qdbtn" id="">已答</span>
                   </div>
                   <p class="dyd_key">答：{{value.answer}}</p> 
                   {{else}}
                   <span class="xbdh_qdbtn xbdh_btn" onclick="showAnswerWindow('{{value.pkid}}')">回答</span></div> 
                   <div class="dyd_form" style="display: none" id="{{value.pkid}}_window">
                       <textarea class="dyd_table" placeholder="请输入内容，最多不超过300字" id="{{value.pkid}}_answer"></textarea>
                       <p class="dyd_submit"><span onclick="giveup()">取消</span><span class="dyd_refer" onclick="doAnswer('{{value.pkid}}')">提交</span></p>
                   </div>
                   {{/if}}
           </div>
  {{/each}}
</script>
</body>
</html>
