<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>代金券兑换</title>
    <!DOCTYPE html>
    <html>

    <head>
        <title>兑换优惠券列表</title>
        <% include ../../components/_head.art %>
        </script>
        <style>
            .wx_searchbox .searchbg {
                opacity: 1;
                border-radius: 4px;
            }

            .wx_searchbox .search_s {
                color: #50c6d8;
            }

            .jf_pop_box .djq_pop_detail .couponTip {
                font-size: 12px;
                padding-top: 5px;
                color: #da020c;
            }
        </style>
    </head>

<body>
    <article class="wx_layout">
        <section class="wx_main b00">
            <input type="hidden" id="timemd5">
            <div class="zyz_top djq_top">当前纤币：<b id="myCount">
                    500000</b><span onclick="toExchangeDetail()">兑换明细</span></div>
            <div class="jf_xbdh zyz_xbdh djq_xbdh" id="main">

            </div>
        </section>
    </article>

    <% include ../../_foot.html %>
    <script src="../score/couponList.js"></script>

    <!--代金券兑换-->
    <div class="jf_pop" id="confirmDiv" style="display:none;">
        <div class="jf_pop_border djq_pop_border">
            <div class="jf_pop_box">
                <input id="pkid" type="hidden">
                <div class="jf_pop_detail djq_pop_detail">
                    <p>确定兑换<span id="couponPrice"></span>元代金券？</p>
                    <p class="couponTip">代金券与“阳光折扣”不能一起使用</p>
                </div>
                <div class="jf_pop_btn">
                    <span class="jf_btn_left"><a onclick="cancle()">取消</a></span>
                    <span class="jf_btn_right"><a class="btn_true" onclick="confirmExchange()">我要兑换</a></span>
                </div>
            </div>
        </div>
    </div>
    <!--代金券兑换-->
    <div class="jf_pop" id="successDiv" style="display:none;">
        <div class="jf_pop_border djq_pop_border">
            <div class="jf_pop_box">
                <div class="jf_pop_detail djq_pop_detail">
                    <i class="iconfont icon-selected"></i>
                    <p>恭喜您，兑换成功！</p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script type="text/html" id="main_page">
	{{each data.result as value i}}
	{{if value.couponSl>0 && value.score<=account.score}}
	<div class="zqxb_list">
            <div class="sawtooth">
                   <div class="djq_box">
                       <div class="djq_number"><span>￥</span>{{value.couponPrice}}<em>代<br />金<br />券</em></div>
                       <p class="djq_limit">满{{value.limitMinimumPrice}}可使用</p>
                   </div>
               </div>  
               <div class="triangle"></div>
               <span class="triangle_text">限量</span>
               <div class="djq_list">
                   <p class="djq_list_title">{{value.couponPrice}}元代金券</p>
                   <p class="djq_list_descript">{{value.score}}纤币（今日仅剩{{value.couponSl}}张）</p>
                   <p class="djq_list_states">正在抢兑中......</p>
               </div>             
               <span class="xbdh_qdbtn djq_qdbtn" onclick="toExchange('{{value.pkid}}','{{value.couponPrice}}')">立即兑换</span>
           </div>
        </div>
    {{else if value.couponSl==0}}
        <div class="zqxb_list">
           <div class="zqxb_list">
               <div class="sawtooth">
                   <div class="djq_box">
                       <div class="djq_number"><span>￥</span>{{value.couponPrice}}<em>代<br />金<br />券</em></div>
                       <p class="djq_limit">满{{value.limitMinimumPrice}}可使用</p>
                   </div>
               </div>  
               <div class="triangle"></div>
               <span class="triangle_text">限量</span>
               <div class="djq_list">
                   <p class="djq_list_title">{{value.couponPrice}}元代金券</p>
                   <p class="djq_list_descript">{{value.score}}纤币（今日仅剩0张）</p>
                   <p class="djq_list_states">已兑完</p>
               </div>
               <span class="xbdh_qdbtn">已兑完</span>
           </div>
        </div>
    {{else if value.score>account.score}}
           	<div class="zqxb_list">
               <div class="sawtooth">
                   <div class="djq_box">
                       <div class="djq_number"><span>￥</span>{{value.couponPrice}}<em>代<br />金<br />券</em></div>
                       <p class="djq_limit">满{{value.limitMinimumPrice}}可使用</p>
                   </div>
               </div>  
               <div class="triangle"></div>
               <span class="triangle_text">限量</span>
               <div class="djq_list">
                   <p class="djq_list_title">{{value.couponPrice}}元代金券</p>
                   <p class="djq_list_descript">{{value.score}}纤币（今日仅剩{{value.couponSl}}张）</p>
                   <p class="djq_list_states">正在抢兑中......</p>
               </div>
               <span class="xbdh_qdbtn">纤币不足</span>
           </div>
        </div>
    {{/if}}
    {{/each}}
</script>
</body>

</html>