<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>免息券兑换</title>
<% include ../../components/_head.art %>
<script>
</script>
<style>
.wx_searchbox .searchbg { opacity:1; border-radius:4px;}
.wx_searchbox .search_s { color:#50c6d8;}
</style>
</head>

<body>
<article class="wx_layout">
    <section class="wx_main b00">
      <input type="hidden" id="timemd5">
        <div class="zyz_top djq_top">当前纤币：<b id="myCount">
          0</b><span onclick="toExchangeDetail()">兑换明细</span></div>
        <div class="jf_xbdh zyz_xbdh djq_xbdh" id="main"> 
           
        </div>
    </section>
</article> 
<% include ../../components/_foot.art %>
  <script src="../score/fcCoupon.js"></script>
   
<!--免息券兑换-->
<div class="jf_pop" id="confirmDiv" style="display:none;">
    <div class="jf_pop_border djq_pop_border">
        <div class="jf_pop_box">
            <input id="pkid" type="hidden" >
            <div class="jf_pop_detail djq_pop_detail">
                <p>确定兑换<span id="couponPrice"></span>日免息券？</p>
            </div>
            <div class="jf_pop_btn">
                <span class="jf_btn_left"><a onclick="cancle()">取消</a></span>
                <span class="jf_btn_right"><a class="btn_true" onclick="confirmExchange()">我要兑换</a></span>
            </div>
        </div>
    </div>
</div> 
<!--免息券兑换-->
<div class="jf_pop" id="successDiv" style="display:none;">
    <div class="jf_pop_border djq_pop_border">
        <div class="jf_pop_box">
            <div class="jf_pop_detail djq_pop_detail">
                <i class="iconfont icon-selected"></i>
                <p>恭喜您，兑换成功！</p>
            </div>
            </div>
        </div>
    </div>
</div> 

<script type="text/html" id="main_page">
  {{each data as value i}} 
        <div class="zqxb_list">
               <div class="sawtooth mxq_sawtooth">
                   <div class="djq_box">
                       <div class="djq_number">{{value.freeDays}}日<em>免<br />息<br />券</em></div>
                       <p class="djq_limit">逸控代专用券</p>
                   </div>
               </div>  
               <div class="triangle"></div>
               <span class="triangle_text">限量</span>
               <div class="djq_list">
                   <p class="djq_list_title">逸控代{{value.freeDays}}日免息券</p>
                   <p class="djq_list_descript">{{value.score}}纤币（今日仅剩{{value.couponSl}}张）</p>
                   
               {{if value.couponSl>0 && value.score<=account.score}}
               <p class="djq_list_states">正在抢兑中......</p>
               </div>
               <span class="xbdh_qdbtn djq_qdbtn" onclick="toExchange('{{value.pkid}}','{{value.freeDays}}')">立即兑换</span>
               {{else if value.couponSl<=0}}
               <p class="djq_list_states">已兑完</p>
               </div>
               <span class="xbdh_qdbtn">已兑完</span>
                {{else}}
                <p class="djq_list_states">正在抢兑中......</p>
               </div>
               <span class="xbdh_qdbtn">纤币不足</span>
               {{/if}}
           </div>
    {{/each}}
</script>
</body>
</html>
