<!DOCTYPE html>
<html>

<head>
  <title>转一转</title>
  <% include ../../components/_head.art %>
  <script>
  </script>
  <style>
    .wx_searchbox .searchbg {
      opacity: 1;
      border-radius: 4px;
    }

    .wx_searchbox .search_s {
      color: #50c6d8;
    }

    #mcover {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      display: none;
      z-index: 20000;
    }

    #mcover img {
      position: fixed;
      right: 18px;
      top: 5px;
      width: 260px;
      height: 180px;
      z-index: 999;
    }
  </style>
</head>

<body>
  <article class="wx_layout">
    <input type="hidden" id="articleId" name="">
    <input type="hidden" id="timemd5" name="">
    <section class="wx_main b00">
      <div class="jf_xbdh zyz_xbdh" id="list">


      </div>
    </section>
    <div id="mcover" style="display: none;">
      <img src="../../images/share.png">
    </div>
  </article>
</body>
<% include ../../components/_foot.art %>
<script src="../../js/oauth2.min.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../score/forwardInfo.js"></script>

</html>