<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>问题详情</title>
    <% include ../../components/_head.art %>
    <script>
    </script>
    <style>
        .wx_searchbox .searchbg {
            opacity: 1;
            border-radius: 4px;
        }

        .wx_searchbox .search_s {
            color: #50c6d8;
        }

        .wt_kp .kaopu {
            display: inline-block;
            width: 32px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            position: absolute;
            left: 0;
            top: 0;
            color: #fff;
            font-size: 1.2rem;
        }
    </style>
</head>

<body>
    <article class="wx_layout">
        <section class="wx_main b00" id="infinitePage">
            <div class="wtxq_top">待解决问题<span class="wtxq_wh"><i class="iconfont icon-wenhao"></i></span><span
                    class="wtxq_sc" onclick="doFocus()"><i class="iconfont icon-favorite"></i>收藏</span></div>
            <div class="wt_box">
                <div class="wt_box_wt">
                    <div class="wt_box_top" id="main">

                    </div>
                    <div class="wt_box_form">
                        <p class="wt_form_title"><span onclick="showAnswer()"><span class="wt_wlhd"><i
                                        class="iconfont icon-dayida"></i></span>我来回答</span></p>
                        <div class="dyd_form " style="display: none">
                            <textarea class="dyd_table" id="answer" placeholder="请输入内容，最多不超过300字"></textarea>
                            <p class="dyd_submit"><span onclick="closeAnswer()">取消</span><span class="dyd_refer"
                                    onclick="doAnswer()">回答</span></p>
                        </div>
                    </div>
                </div>
                <div id="list" style="min-height: 250px"></div>
        </section>
    </article>
    <% include ../../components/_foot.art %>
    <script src="../score/problemAnswer.js"></script>
    <script type="text/html" id="main_page">
  <div class="wt_left">
                        <span class="wt_image">
<img style="max-height: 56px;width: auto;" 
 src="../../images/xz_head_photo.png" /><em>{{problem.username}}</em></span>
                    </div>
                    <p class="wt_detail">{{problem.problem}}</p>
                    <p class="wt_twsj">提问时间：{{#getDate(problem.cdate,'yyyy.MM.dd HH:mm')}}</p>
</script>
    <script type="text/html" id="list_page">
  {{each data as value}}
    <div class="wt_box_da">
               <div class="wt_box_top">
                    <div class="wt_left">
                        <span class="wt_image">
<img style="max-height: 56px; width: auto;" src="../../images/xz_head_photo.png" /><em>{{value.username}}</em></span>
                    </div>
                    <p class="wt_detail">{{value.answer}}</p>
                    <p class="wt_twsj">提问时间：{{#getDate(value.cdate,'yyyy.MM.dd HH:mm')}}</p>
                    <div class="wt_kp" style="display: none"><span class="wt_kp_bfb{{if value.proper==1}}1{{/if}}"></span><sp class="kaopu" value="{{value.pkid}}">靠谱</sp></div>
                </div> 
            </div>
  {{/each}}
</script>
</body>

</html>