<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>纤知</title>
<% include ../../components/_head.art %>
<script>
</script>
<style>
.wx_searchbox .searchbg { opacity:1; border-radius:4px;}
.wx_searchbox .search_s { color:#50c6d8;}
.jf_pop{z-index: 99}
.dian_span{    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #3e7caf;
    margin-right: 5px;
    position: absolute;
    left: 5px;
    top: 10px;}
</style>
</head>

<body>
<article class="wx_layout">
  <section class="wx_main b00">
    <input type="hidden" id="cid" value="" class="problemQuery">
    <input type="hidden" id="reward" value="" class="problemQuery">
    <input type="hidden" id="answerNum" value="" class="problemQuery">
    <input type="hidden" id="focusFlag" value="" class="problemQuery">
    <input type="hidden" id="mineFlag" value="" class="problemQuery">
    <input type="hidden" id="order" value="desc" class="">
    <input type="hidden" id="orderName" value="" class="">
    <input type="hidden" id="problemReward" value="0" class="problem">
    <input type="hidden" id="problemCid" value="" class="problem">
        <div class="xz_top_box">
            <div class="jf_top xz_top">
                <p class="jf_money xz_title">纤知</p>
                <div class="jf_name">
                    <b class="line_left"></b>
                    <b class="line_right"></b>
                    <span>求助、互助，化纤人更“知”你</span>
                </div>
                <p class="jf_company"><a>产品、管理、招聘、创业、职场、生活杂谈......</a></p>
            </div>
        </div>
        <div class="xz_xbdh">
            <div class="dyd_form">
                <textarea class="dyd_table" id="problem" placeholder="请输入您的问题，尽量详细，以便获得更详细和专业的解答；提问获500纤币，回答获300纤币。"></textarea>
                <p class="dyd_submit xz_submit"><span  class="dyd_refer" onclick="showAnswerWindow()">提问题</span><span class="dyd_refer" onclick="queryMoreData(1)">找答案</span></p>
            </div>
        </div>
         <div class="xz_xbdh" style="    padding-bottom: 1px;">
            <p class="xz_bt">问题分类</p>
            <ul class="xz_wtfl" id="category">
              </ul>
            <div class="xz_wt" style="border: 1px solid #e5e5e5;padding: 10px 5px;margin-top: 15px;margin-bottom: 10px;">
             <div class="xz_tab"><a onclick="queryList('all','0',this)" class="xz_tab_current">全部</a><a  onclick="queryList('answerNum','0',this)" >零回答</a><a  onclick="queryList('reward','1',this)" >悬赏</a><a  onclick="queryList('focusFlag','1',this)" >收藏</a><a  onclick="queryList('mineFlag','1',this)" >我的</a><span><em id="isNew"  onclick="queryList('orderName','cdate')" >最新</em>|<em id="isHot" onclick="queryList('orderName','answerNum')" >最热</em></span></div>
             <div class="xz_bd">
                 <div class="xz_prolist">
                     <p class="xz_fl"><span class="xz_wttitle">问题</span><span class="xz_hds">回答数</span><span class="xz_twsj">提问时间</span></p>
                     <ul id="list">  
                      </ul>                     
                      <p class="zyz_more" onclick="loadData()">点击查看更多</p>
                   </div>
               </div>
            </div>
        </div>
        <div class="xz_xbdh">
            <p class="xz_bt">上周回答排行榜</p>
            <p class="xz_fl xz_phb"><span class="xz_wttitle">排名</span><span class="xz_hds">用户</span><span class="xz_twsj">获得纤币</span></p>
            <ul id="rankingList"> 
            </ul>
        </div>
    </section>
</article> 
<!--提问问题-->
<div class="jf_pop" style="display:none;">
    <div class="jf_pop_border xz_pop_border">
        <div class="jf_pop_box">
            <div class="radio_box">
                <div class="xz_radio" >
                   <div class="xz_radio_box"><input type="radio" onclick="chooseThis(0)" checked name="a" /><span class="real_target"></span></div><em>普通求助</em>
                </div>
                <div class="xz_radio" >
                   <div class="xz_radio_box"><input type="radio" onclick="chooseThis(1)" name="a" /><span class="real_target"></span></div><em>悬赏求助</em>
                </div>
                <p class="radio_descript">悬赏求助可以帮你更快获得解答，需花费300纤币</p>
            </div>
            <div class="jf_pop_detail xz_pop_detail">
                <div class="jf_choose">
                    <label>问题分类：</label>
                    <span class="choose_box">
                        <em class="jf_qxz" onclick="showCategoryList()">请选择</em>
                        <i class="iconfont icon-rarrow"></i>
                    </span>
                </div>
                <i>请选择所提问题应属的分类</i>
            </div>
            <div class="jf_pop_btn xz_pop_btn">
                <span class="jf_btn_left"><a onclick="giveup()">取消</a></span>
                <span class="jf_btn_right"><a class="btn_true" onclick="doProblem()">提交</a></span>
                <!--<span class="jf_btn_right"><a>纤币不足</a></span>-->
            </div>
        </div>
    </div>
    <div class="choose_days" style="display:none;">
        <p class="choose_title">请选择问题分类<i class="iconfont icon-chadel" onclick="closeCategoryList()"></i></p>
        <ul id="categorySelect">
        </ul>
    </div>
</div> 
    <% include ../../components/_foot.art %>
    <script src="../score/problem.js"></script>
<script type="text/html" id="category_page">
  {{each categoryList as value i}}
      {{if i%4==0}}
    <li class="wtfl_item">
      {{/if}}
      <p id="cid_p_{{value.pkid}}" class="cid_p" onclick="queryList('cid','{{value.pkid}}')"><span></span>{{value.cname}}</p>
      {{if i%4==3}}
    </li>
      {{/if}}
  {{/each}}
</script>
<script type="text/html" id="list_page">
  {{each data as value}}
      <li class="xz_fl xz_item {{if value.reward==1}}xz_shang{{/if}}" onclick="toInfo('{{value.pkid}}')">
        <spa class="dian_span"></spa> <span class="xz_wttitle "><em>赏</em>{{value.problem}}</span>
         <span class="xz_hds">{{value.answerNum}}</span>
         <span class="xz_twsj">{{#getDate(value.cdate)}}</span>
     </li>
  {{/each}}
</script>
<script type="text/html" id="rankingList_page">
  {{each rankingList as value i}}
      <li class="xz_fl xz_phb xz_item xz_szhd">
          <span class="xz_wttitle {{if i < 3 }}wttitle_special 
      {{/if}}">{{i+1}}</span>
          <span class="xz_hds">{{value.username}}</span>
          <span class="xz_twsj">{{value.score2}}</span>
      </li>
  {{/each}}
</script>
<script type="text/html" id="categorySelect_page">
  {{each categoryList as value i}}
      <li onclick="chooseCategory('{{value.pkid}}','{{value.cname}}')">
        <span class="days">{{value.cname}}</span>
      </li>
  {{/each}}
</script>
</body>
</html>
