<!DOCTYPE html>
<html>
<head>

<title>发送建议</title>
<% include ../../components/_head.art %>
<style>
body {background:#78a9c0;}
.wx_main {bottom:49px;}
.wx_yjxbd {margin-bottom: 40px;}
</style>
</head>

<body>
<article class="wx_layout">
  <section class="wx_main">
      <div class="wx_yjxhd">
      <dl>
        <dt>您的满意是我们最大的追求！</dt>
        <dd>当你遇到任何问题，欢迎向我们吐槽和建议！</dd>
      </dl>
    </div>
    <div class="wx_yjxbd" >
      <p class="tit">请输入您的吐槽与建议</p>
      <div class="box">
        <textarea placeholder="请输入您的具体内容（不超过300字）" id="content"></textarea>
      </div>
      <a class="btn"  id="tj1">提 交</a>
      <!-- <a class="btn" id="tj2" style="display:none">提 交</a> -->
    </div>  
       </section>
    </article>
<footer class="wx_footerbtn">
  <ul>
    <li class="whitebtn" onclick="goback()"><i class="iconfont icon-shouye"></i>返回首页</li>
    <li class="bluebtn" onclick="myAdvice()"><i class="iconfont icon-gly"></i>我的吐槽</li>
  </ul>
</footer>
<% include ../../components/_foot.art %>
<script src="../public/adviceSend.js"></script>
</body>
</html>
