<!DOCTYPE html>
<html>

<head>
<title>高达微鑫</title>
<% include ../../components/_head.art %>
<% include ../../components/_foot.art %>
<script>
</script>
<style>
.wx_layout {background:#3e7caf;}
</style>
</head>

<body>
<article class="wx_layout">
  <section class="wx_main">
    <div class="wx_bidtips">
      <dl>
        <dt>恭喜您竞拍成功！</dt>
        <dd onclick="toGetRedPacket()">前往抽奖 <i class="iconfont">&#xe626;</i></dd>
      </dl>
      <div class="img"><img src="../../images/wx_bidtipsimg.png"></div>
    </div>
  </section>
</article>
<script src="../public/auctionSucceed.js"></script>
</body>
</html>
