<!DOCTYPE html>
<html>

<head>
    <title>订单确认</title>
    <% include ../../components/_head.art %>
    <link rel="stylesheet" href="../../css/weui-select.min.css">
    <style>
        .wx_main {
            bottom: 70px;
        }

        .tradecomp {
            padding-left: 36px;
            position: relative;
        }

        .tradecomp .icon-checkbox {
            font-size: 16px;
            line-height: 16px;
            color: #999;
            position: absolute;
            left: 10px;
            top: 50%;
            margin-top: -8px;
        }

        .tradecomp.current i:before {
            content: "\e62b";
            color: #3e7baf;
        }

        .totalpri {
            position: fixed;
            bottom: 49px;
            z-index: 100;
            width: 100%;
            height: 44px;
            box-sizing: border-box;
            background: #fff;
            padding: 0 10px;
            font-size: 1.5rem;
            line-height: 44px;
            color: #333;
        }

        .totalpri .prinum {
            color: #fe9311;
        }

        .totalpri .prinum em {
            font-size: 1.2rem;
        }

        .totalpri .smwz {
            font-size: 1rem;
            color: #999;
        }

        .wx_tasdelist li .promes .btnframe {
            right: 0px;
        }

        .wx_tasdelist li .promes .price_a {
            right: 40px;
        }

        .xbjzselect {
            padding-right: 10px !important;
        }

        .xbjzselect .xbjz {
            border: 1px solid #ccc;
            border-radius: 2px;
            box-sizing: border-box;
            color: #333;
            display: block;
            float: right;
            font-size: 1.4rem;
            height: 26px;
            line-height: 24px;
            margin-left: 5px;
            text-align: center;
            width: 55px;
        }

        .xbjzselect .xbjz.curr {
            background: #3e7baf none repeat scroll 0 0;
            border: medium none;
            color: #fff;
            line-height: 26px;
        }

        .wx_btnjs {
            height: 98px;
        }

        .wx_btnjs .price {
            border-bottom: 1px solid #ddd;
        }

        .wx_btnjs .settle {
            top: 49px;
        }

        .wx_btnjs .total em {
            color: #fe9311;
            font-size: 13px;
        }

        .wx_btnjs .total span {
            font-size: 16px;
        }

        .rtxt {
            text-align: right !important;
            padding-right: 10px !important;
        }

        .yhgz_table {
            background: #fff;
        }

        .rz {
            display: none;
        }

        .loans {
            display: none;
        }

        #mypoint {
            position: absolute;
            display: inline-block;
            width: 10px;
            height: 10px;
            right: -5px;
            top: 3px;
            background: #f92c04;
            border-radius: 50%;
        }

        .wx_layout {
            height: 95%;
        }
    </style>


</head>

<body>
    <header>
        <div class="swiper-container wx_banner" id="wx_banner"></div>
    </header>
    <article class="wx_layout">

        <input type="hidden" id="openid" value="" />
        <input type="hidden" id="activityId" value="" />
        <input type="hidden" id="couponType" value="" />
        <input type="hidden" id="couponCode" value="" />
        <input type="hidden" id="couponName" value="" />
        <input type="hidden" id="couponAmt" value="" />
        <input type="hidden" id="ruleId" value="" />
        <input type="hidden" id="couponLimitMinAmt" value="" />
        <input type="hidden" id="fccouponCode" value="" />
        <input type="hidden" id="fccouponName" value="" />
        <input type="hidden" id="freeDays" value="" />
        <section class="wx_main wx_checkorder ">
            <ul class="wx_setlist" style="margin-bottom: 10px;display:none;" id="dxLump">
                <li class="jhway" id="dx" style="display:none;"><span class="i18n" name="or_gcmc">工厂名称</span>
                    <em class="way i18n gcs" name="or_fjgc" onclick="lightThis($(this),0)" val="9510">福建</em>
                    <em class="way i18n gcs" name="or_gxgc" onclick="lightThis($(this),0)" val="3100">高新</em>
                    <em class="way i18n gcs" name="or_gxgc" onclick="lightThis($(this),0)" val="9610">逸达</em>
                    <em class="way i18n gcs" name="or_hmgc" onclick="lightThis($(this),0)" val="6510">恒鸣</em>
                </li>
                <li class="jhway" id="jlqp" style="display:none;"><span class="i18n" name="or_gcmc">工厂名称</span>
                    <em class="way i18n gcs" name="or_fjgc" onclick="lightThis($(this),0)" val="J000">锦纶</em>
                    <em class="way i18n gcs" name="or_gxgc" onclick="lightThis($(this),0)" val="JA00">逸宸</em>
                </li>

                <li class="jhway" id="sheng_id" style="display:none;"><span class="i18n" name="or_sheng">省</span>
                    <input type="text" id="province_text" placeholder="省" readonly='readonly' class="hynewlytext"
                        onchange="lightThis($(this),1)" />
                    <input type="hidden" id="provinceVal" value="" />
                </li>

                <li class="jhway" id="shi_id" style="display:none;"><span class="i18n" name="or_shi">市</span>
                    <input type="text" id="city_text" placeholder="市" readonly='readonly' class="hynewlytext"
                        onchange="lightThis($(this),2)" />
                    <input type="hidden" id="cityVal" value="" />
                </li>

                <li class="jhway" id="town_id" style="display:none;"><span class="i18n" name="or_town">区</span>
                    <input type="text" id="town_text" placeholder="区" readonly='readonly' class="hynewlytext"
                        onchange="lightThis($(this),3)" />
                    <input type="hidden" id="townVal" value="" />
                </li>

                <li class="jhway" id="street_id" style="display:none;"><span class="i18n" name="or_street">镇</span>
                    <input type="text" id="street_text" placeholder="镇" readonly='readonly' class="hynewlytext"
                        onchange="lightThis($(this),4)" />
                    <input type="hidden" id="streetVal" value="" />
                </li>


                <li class="jhway" id="fare_price_id" style="display:none;"><span class="i18n"
                        name="or_yunfei">运费（元/吨）</span>
                    <input type="text" id="fare_price_text" readonly="readonly" class="hynewlytext" />
                </li>
            </ul>
            <div class="wx_orderinfo">

            </div>
            <div class="wx_cart">

            </div>
            <div class="wx_quan">

            </div>
            <div class="wx_rzinfo">

            </div>
            <!--逸信贷-->
            <div class="wx_loansinfo">

            </div>
            <!--逸白条-->
            <div class="wx_eloaninfo">

            </div>
        </section>
    </article>
    <footer class="wx_bominfo">
        <div class="wx_bgline"></div>
        <div class="wx_sum" style="padding-left: 10px;"><label style="padding-right: 5px;">总价：<span id="yuan">¥</span><b
                    id="totalAmt"></b></label><label id="couponAmtHtml"></label>
            <a style="color: #3380ff;font-weight: bold; display: none;" id="showMx" onclick="mxShow()"
                href="javaScript:;">（明细）</a><label>总重：<b id="totalSl2"></b>kg</label>
            <div class="wx_smbtn" id="rzEnd" style="display: none;" onclick="scrollToEnd()">融资</div>
        </div>
    </footer>
    <footer class="wx_footerbtn" style="z-index: 99;">
        <ul>
            <li class="bluebtn" id="balance" style="pointer-events: auto;">提交订单</li>
        </ul>
    </footer>

    <div class="fc_pop" id="amtMx" style="display:none;">
        <div class="fc_close"><i class="iconfont icon-chadel"></i></div>
        <div class="fc_cartipsbox">
            <h2 class="fc_title">总价明细</h2>
            <div class="fc_content">
                <p class="fc_detail"><span>1</span>货物总金额：<em>￥<b id="goodsAmt"></b></em></p>
                <!--<p class="fc_detail"><span>2</span>保<i style="visibility: hidden;">
                	占位符</i>费：<em>￥<b id="brateFeeAmt"></b></em></p>-->
                <p class="fc_detail"><span>2</span>利<i style="visibility: hidden;">
                        占位符</i>息：<em>￥<b id="rateAmt"></b></em></p>
                <p class="fc_detail" id="brateAmtP"><span>3</span>保证金金额：<em>￥<b id="brateAmt"></b></em></p>
            </div>
        </div>
    </div>

    <div class="fc_pop" style="display:none;">
        <div class="fc_cartipsbox">
            <h2 class="fc_title">提示</h2>
            <div class="fc_content">
                <p id="message">我已确认此订单信息确认无误，确定提交订单？</p>
                <div class="fc_surebtn">
                    <span class="fc_btnleft"><a class="btn_gray" onclick="doCancle();" href="javaScript:;">取消</a></span>
                    <span class="fc_btnright"><a class="btn_blue" onclick="doSubmit();"
                            href="javaScript:;">确认提交</a></span>
                </div>
            </div>
        </div>
    </div>
    <% include ../../_foot.html %>
    <% include ../include/couponPopup.html %>
    <% include ../include/fccouponPopup.html %>
    <!-- <% include ../include/sendRandomCode.html %> -->
    <script src="../../js/oauth2.min.js"></script>
    <script src="../public/confirmOrder.js"></script>
    <script src="../../lib/swiper.min.js"></script>
    <script id="main_page" type="text/html">
            {{if shoppingCartData!=null && shoppingCartData.length>0 && data != null &&  data.length > 0}}
            <ul>
            {{each shoppingCartData as valued i}}
                {{each data as value j}}
                    {{if value.pkid==valued.pkid}}
                <li >
                    {{if value.differentiation != null&&value.differentiation==1}}
                <input type="hidden" id="cfxx_{{value.pkid}}" value="{{value.circleId}}_{{value.hzdm}}_{{value.pm}}_{{value.depid}}_{{value.orderType}}_{{value.flag11}}_{{value.differentiation}}_{{value.activityMxId}}" />
                    <input type="hidden" id="differentiation_{{value.pkid}}" value="{{value.differentiation}}" />
                {{else}}
                <input type="hidden" id="cfxx_{{value.pkid}}" value="{{value.circleId}}_{{value.hzdm}}_{{value.pm}}_{{value.depid}}_{{value.orderType}}_{{value.flag11}}_0_{{value.activityMxId}}" />
                {{/if}}
                    <input type="hidden" id="gpls_{{value.pkid}}" value="{{value.gpls}}" />
                    <input type="hidden" id="pm_{{value.pkid}}" value="{{value.pm}}" />
                    <input type="hidden" id="cd_{{value.pkid}}" value="{{value.cd}}" />
                    <input type="hidden" id="depid_{{value.pkid}}" value="{{value.depid}}" />
                    <input type="hidden" id="flag11_{{value.pkid}}" value="{{value.flag11}}" />
                    <input type="hidden" id="{{value.pkid}}" class="checkicon current"/>
                    <dl>
                        <dt><span>{{value.pm}}</span>{{value.cz}} 
                            {{if value.pm == "DTY"}}
                                {{value.str02}} 
                                {{value.str03}} 
                            {{else}}
                                {{value.wzlb}} 
                                {{if value.str04 != null}}
                                    {{value.str04}} 
                                {{/if}}
                                {{if value.str02 != null}}
                                    {{value.str02}} 
                                {{/if}}
                            {{/if}}
                            {{if value.differentiation != null&&value.differentiation==1}}
                            <span >差异化</span> 
                            {{/if}}</dt>
                        <dd><p>{{if (value.pm != "切片" && value.pm != "锦纶切片")}}
                                {{value.gg}}&nbsp;&nbsp;
                            {{/if}}
                                {{value.cd}}&nbsp;&nbsp;
                            {{if value.pm == "DTY"}}
                                {{value.inventoryStr}}&nbsp;&nbsp;
                            {{/if}}<!--<i class="iconfont">&#xe62f;</i>--></p></dd>
                            {{if value.tclx != null}}
                        <dd><label>箱包净重：{{if (value.packstr != null && value.packstr != "")}}{{value.packstr}}{{value.sldw2}}
                        {{else}}不定重{{/if}}</label></dd>
                        {{if (value.pm == "FDY" && value.lsxs != null && value.lsxs != 0)}}
                            <dd><label>单丝重量:{{value.lsxs}}{{value.sldw2}}</label></dd>
                            {{/if}}
                        {{else}}
                        <dd><label>箱包净重：
                         {{if (value.packstr != null && value.packstr != "")}}
                            {{value.packstr}}{{value.sldw2}}
                         {{else}}不定重{{/if}}</label>
                    {{if (value.pm == "FDY" && value.lsxs != null && value.lsxs != 0)}}
                    <label >单丝重量:{{value.lsxs}}{{value.sldw2}}</label>
                    {{/if}}</dd>
                        {{/if}}
                        <dd class="price">
                        	{{if value.price00==null}}
                        	<span style="align-content: right; float: right; color: blue;">预约 </span>
                        	{{else}}
                            <em id="price_{{value.pkid}}" style="display: none;">{{#getPrice(value.price00,portList)}}</em>
                            <em>{{if language =="zh"}}￥{{else}}${{/if}}</em>
                            <span id="currentprice_{{value.pkid}}">
                            	{{#getPrice(value.price00,portList)}}
                            </span>
                            {{/if}}
                        </dd>
                    </dl>
                    <div class="ginfo"> 
                        <input id="sl02_{{value.pkid}}" type="hidden" value="{{value.sl02}}"/>
                        <label>重量：{{value.sl02}}kg</label>
                        {{if language !="zh" && value.cartonBag !=null}}
                            <label>柜数：{{if language !="zh" && value.sl01%value.cartonBag ==0}}{{value.sl01/value.cartonBag}}{{else}}{{value.sl01/value.cartonPallet}}{{/if}}kg</label>
                            <input type="hidden" id="cartonBag_{{value.pkid}}" value="{{value.cartonBag}}"/>
                            <input type="hidden" id="sl01_{{value.pkid}}" value="{{value.sl01}}"/>
                                {{if language !="zh" && value.sl01%value.cartonBag ==0}}
                                <input id="sl03_{{value.pkid}}" type="hidden"  value="{{value.sl01/value.cartonBag}}"  pm="{{value.pm}}" />
                                {{else}}
                                <input id="sl03_{{value.pkid}}" type="hidden"  value="{{value.sl01/value.cartonPallet}}"  pm="{{value.pm}}" />
                                {{/if}}
                        {{else}}
                            <label>箱包数：{{value.sl01}}</label>
                                <input id="sl01_{{value.pkid}}" type="hidden" value="{{value.sl01}}"  pm="{{value.pm}}"  />
                        {{/if}}
                    </div>
                    {{if customerId !="" &&value.pm != "锦纶切片" && value.pm != "短纤"}}
                    <div class="remark">
                        <label>备注：{{value.remark}}</label>
                    </div>
                    <div class="remark">
                        <label>阳光折扣：{{value.sunshineDiscount}}</label>
                    </div><div class="remark">
                        <label>折扣原因：{{value.sunshineRemark}}</label>
                    </div><div class="remark">
                        <label>优惠政策：{{value.policyPreferences}}</label>
                    </div>
                    {{else}}
                    <div class="remark">
                        <label>备注：{{value.remark}}</label>
                    </div>
                    {{/if}}
                </li>
            
                    {{/if}}
                {{/each}}
            {{/each}}
            </ul>
            {{else}}
            <div style="text-align: center; margin-top: 120px;">
                <img src="../../images/zwt.png" style="width: 109px;" />
            </div>
            {{/if}}
        </script>

    //购物车列表
    <script id="orderinfo_page" type="text/html">
             <ul>
                    <li><label>税号</label><span>{{menber.shno1}}</span></li>
                    <li id="htflag06"><label>交货方式</label><span class="current"  val="3">配送</span></li>
                    <li><label>开票单位</label><span>{{menber.mbname}}</span>
                        <input type="hidden" id="kpdm" value="{{menber.hydm}}" />
                        <input type="hidden" id="kpname" value="{{menber.mbname}}" />
                    </li>
                    <li><label>要货日期</label><span><input type="text" placeholder="请选择" id="date10Str" readonly /><i class="iconfont">&#xe626;</i></span></li>
                    {{if tabList!=null && tabList.length>0}}
                    <li><label>特殊标识</label>
                    	<span>
                    		<input type="text" placeholder="请选择" id="menberTab" readonly /><i class="iconfont">&#xe626;</i>
                    	</span>
                    </li>
             		{{/if}}   
             </ul>
                <div class="wx_bgline"></div>
        </script>
    <script id="tcmxList_page" type="text/html">
          <tr>
              <td>借款周期(天)</td>
              <td>利率(万分之)</td>
          </tr>
          {{each creditTc.mxList as tcmx}}
            <tr>
                <td>{{tcmx.fromDays}} - {{tcmx.toDays}}</td>
                <td>{{tcmx.rate}}</td>
            </tr>
          {{/each}}
        </script>
    <script id="wx_quan_page" type="text/html">
            {{if creditFlag==1 || XfcreditFlag==1 || creditLoans!=null || eloanCredit != null}}
            <!--<div class="wx_isrz"><label>是否融资</label><span id="rzFlag"><a href="javaScript:;"  val="0" class="current">否</a><a href="javaScript:;"  val="1">是</a></span></div>
            -->
            <div class="wx_yhquan" style="border-bottom: 1px solid #ccd5dc;"><label>融资类型</label>
            	<span>
            		<input type="text" id="rzFlag"  class="i18n_ph" name="sh_qxzyhqname" placeholder="请选择" readonly value="" />
            		<i class="iconfont">&#xe626;</i></span>
            </div>    
            {{/if}}
            {{if language =="zh"}}
                {{if couponFlag}}
                    <div class="wx_yhquan" id="shopCarCouponList"><label>选用优惠券</label><span onclick="showCouponList();" id="confirmOrderCoupon"><input type="text" id="couponText"  class="i18n_ph" name="sh_qxzyhqname" placeholder="请选择" readonly value="" /><i class="iconfont">&#xe626;</i></span></div>          	
                {{/if}}
                {{if fccouponFlag}}
                    <div class="wx_yhquan" id="shopCarFcCouponList" style="display: none;"><label>选用免息券</label><span onclick="showFcCouponList();"><input type="text" id="fccouponText"  class="i18n_ph" name="sh_qxzyhqname" placeholder="请选择" readonly value="" /><i class="iconfont">&#xe626;</i></span></div>
                {{/if}}
                {{if scoreAmt!=null}}
                <div class="wx_ckquan">
					<ul>
						<li id="useScore">
							<div class="checkicon">
								<i class="iconfont">&#xe64b;</i>
							</div>
							<label>纤币抵用，可抵用<span id="changeAmt">{{scoreAmt}}</span>元 </label><span style="font-size: 1.2rem;color: green;">(不可与优惠券同时使用)</span>
						</li>
					</ul>
				</div>
				{{/if}}
            {{/if}}
        </script>

    //逸控代
    <script id="wx_rzinfo_page" type="text/html">
            {{if creditFlag==1 || XfcreditFlag==1}}
            <div class="wx_rzlist rz">
                    <div class="tit">融资信息</div>
                    <ul>
                        <li id="rzly"><label >类型</label><span>
                        {{if XfcreditFlag==1}} 
                            <div class="wx_smbtn current" val="2">纯信用</div>
                        {{/if}}
                        {{if creditFlag==1}} 
                            <div class="wx_smbtn current" val="1">逸控代</div>
                        {{/if}} 
                        </span></li>
                        {{if creditFlag==1}} 
                        <li><label>融资机构</label><span>
                        <input type="hidden" id="shopno" value="{{creditList[0].shopno}}" /> 
                         {{if creditList.length == 1}} 
                            {{creditList[0].shopname}} 
                        {{else}}
                            <input type="text" id="shopname" value="{{creditList[0].shopname}}" placeholder="请选择融资机构" /> 
                            <i class="iconfont icon-xiala"></i>
                        {{/if}}
                        </span></li>
                        <li><label>可用额度</label>
                            <input type="hidden" id="freeamt" value="{{creditList[0].freeamt}}" /> 
                            <span id="freeamtTxt">{{creditList[0].freeamt}}</span></li>
                        <li><label>额度有效期</label><span id="dqrq">{{#getDate(creditList[0].endDate,"yyyy-MM-dd")}}</span></li>
                        {{/if}}
                        {{if XfcreditFlag==1}}
                        <li><label>融资机构</label><span>华夏银行</span></li>
                        <li><label>可用额度</label>
                            <input type="hidden" id="freeamt" value="{{XfCredit.freeamt}}" />
                            <span id="freeamtTxt">{{#getXfPrice(XfCredit.freeamt)}}</span></li>
                        <li><label>额度有效期</label><span id="dqrq">{{#getDate(XfCredit.startDate,"yyyy-MM-dd")}}至{{#getDate(XfCredit.endDate,"yyyy-MM-dd")}}</span></li>
                        {{/if}}
                        
                    </ul>
                </div>
                <div class="wx_rzlist rz">
                    <p>本次融资需要提前支付<label id="brate">{{creditList[0].brate}}%</label>的保证金</p>
                    <ul>
                        <li><label>融资开始日期</label><span id="jkrq">{{jkrq}}</span></li>
                        <li><label>最后还款日期</label><span id="hkrq">{{hkrq}}</span></li>
                        <li><label>融资期限</label><span id="jkqx">{{jkqx}}天</span></li>
                    </ul>
                </div>
                {{if creditFlag==1}} 
                <div class="wx_rzlist rz">
                    <p>服务费费率</p>
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <th>借款周期（天）</th>
                            <th>利率（万分之）</th>
                        </tr>
                        {{each creditList[0].creditTc.mxList as tcmx}}
                        <tr>
                            <td>{{tcmx.fromDays}} - {{tcmx.toDays}}</td>
                            <td>{{tcmx.rate}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
                {{/if}}
                {{if XfcreditFlag==1}} 
                <div class="wx_rzlist rz">
                    <p>费用（随借随还）</p>
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td >代款本金（元）</td>
                            <td >代款期限（天）</td>
                            <td >综合费率（%）</td>
                            <td >每日息费仅需（元）</td>
                        </tr>
                        <tr>
                        <td><em id="dkAmt">0</em></td>
                        <td>{{jkqx}}</td>
                        <td>9%</td>
                        <td><em id="xffwf">0</em></td>
                    </tr>
                    </table>
                </div>
               {{/if}}
               {{/if}}
        </script>

    //逸信代
    <script id="wx_loansinfo_page" type="text/html">
        	{{if creditLoans!=null}}
            <div class="wx_rzlist loans">
                    <div class="tit">融资信息</div>
                    <ul>
                        <li id="rzly"><label >类型</label><span>
                            <div class="wx_smbtn current" val="1">逸信代</div>
                        </span></li>
                        <li><label>可用额度</label>
                            <input type="hidden" id="availableAmt" value="{{creditLoans.availableAmt}}" />
                            <span id="availableAmtTxt">{{creditLoans.availableAmt}}</span></li>
                        <li><label>额度有效期</label><span id="dqrq">{{#getDate(creditLoans.edate,"yyyy-MM-dd")}}</span></li>
                    	{{if creditLoans.brateReturn == 1}}
                        <li><label>收取保证金比例</label>
                            <span>{{creditLoans.brateRate}}%</span></li>
                        {{else if creditLoans.brateReturn == 2}}
                        <li><label>退还保证金比例</label>
                            <span>{{creditLoans.brateRate}}%</span></li>
                        {{/if}}
                        <!--<li><label>保险费费率</label>
                            <span>{{creditLoans.brateFeeRate}}%</span></li>-->
                    </ul>
                </div>
                <div class="wx_rzlist loans">
                    <p>服务费费率</p>
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <th>借款周期（天）</th>
                            <th>利率（万分之）</th>
                        </tr>
                        <tr>
                            <td>{{creditLoans.loansDays}}</td>
                            <td>{{creditLoans.rate}}</td>
                        </tr>
                    </table>
                </div>
                {{/if}}
        </script>

    //逸白条
    <script id="wx_eloaninfo_page" type="text/html">
            {{if eloanCredit!=null && eloanCredit>0}}
            <div class="wx_rzlist eloan">
                <div class="tit">融资信息</div>
                <ul>
                    <li id="rzly"><label >类型</label><span>
                    <div class="wx_smbtn current" val="3">逸白条</div>
                    </span></li>

                    <li><label>融资机构</label>
                    	<span>工商银行</span>
					</li>
                    <li><label>可用额度</label>
                        <input type="hidden" id="freeamt" value="{{eloanCredit}}" /> 
                        <span id="freeamtTxt">{{eloanCredit}}</span>
                    </li>
                </ul>
           </div>               
           {{/if}}
        </script>
</body>

</html>