<!DOCTYPE html>
<html>

<head>
    <title>出库明细查询</title>
    <% include ../../components/_head.art %>
    <style>
        .wx_main {
            top: 89px;
            bottom: 45px;
        }

        .wx_searchbox .searchbg {
            opacity: 1;
            border-radius: 4px;
        }

        .wx_searchbox .search_s {
            color: #3e7baf;
        }

        .wx_searchbox,
        .wx_searchboxbg {
            padding: 0px;
        }

        .rq {
            opacity: 0;
            top: 0;
            position: absolute;
            left: 0px;
            width: 100%;
        }

        .wx_hyfilter li {
            width: 25%;
        }
    </style>
    <link rel="stylesheet" href="../../css/weui-select.min.css">
</head>

<body>

    <article class="wx_layout">
        <header class="wx_searchbox">
            <div class="swiper-container wx_banner" id="wx_banner"></div>
            <div class="weui_search_bar">
                <form id="form" class="weui_search_outer">
                    <div class="weui_search_inner">
                        <i class="weui_icon_search"></i>
                        <input type="search" class="weui_search_input" id="querykey" placeholder="发货单号" value="" />
                        <a href="javascript:" class="weui_icon_clear"></a>
                    </div>
                    <label for="querykey" class="weui_search_text">
                        <i class="weui_icon_search"></i>
                        <span>请输入订单号</span>
                    </label>
                </form>
                <a href="javascript:" class="weui_search_cancel">取消</a>
            </div>
        </header>
        <ul class="wx_hyfilter">
            <input type="hidden" id="hydm" value="" />
            <input type="hidden" id="mbname" value="" />
            <input type="hidden" id="sapCustomerId" value="" />
            <input type="hidden" id="vkorg" value="" />
            <input type="hidden" id="wbstate" value="" />

            <input type="hidden" id="e_circleId" value="" />
            <input type="hidden" id="e_isSalesman" value="" />
            <input type="hidden" id="e_userId" value="" />
            <input type="hidden" id="e_sapCustomerId" value="" />

            <li onclick="showMenberPopup();" id="khname" style="display: none;">
                <span class="i18n" name="com_kh">客户</span><span class="xl"></span>
            </li>
            <li id="depname" style="display: none;">
                <span class="i18n" name="com_xszz">销售组织</span><span class="xl"></span>
            </li>
            <li style="position: relative;"><em id="rqStartTxt" name="com_ksrq" class="i18n">开始日期</em>
                <span class="xl"></span>
                <input class="rq" type="text" id="rqStart" value="" />
            </li>
            <li style="position: relative;"><em id="rqEndTxt" name="com_jsrq" class="i18n">结束日期</em>
                <span class="xl"></span>
                <input class="rq" type="text" id="rqEnd" value="" />
            </li>
            <li id="wbsta">
                <span class="i18n" name="com_status">状态</span><span class="xl"></span>
            </li>
        </ul>
        <section class="wx_main" id="infinitePage">

            <div id="list"></div>
            <div class="weui-infinite-scroll">
                <div class="infinite-preloader"></div><span class="i18n" name="com_loading">正在加载</span>
            </div>
        </section>
    </article>
    <footer class="wx_btnnext i18n" onclick="toExportDelivery();" name="com_dc">导出</footer>
    <% include ../../_foot.html %>
    <% include ../include/menberPopup.html %>
    <script src="../public/deliveryList.js"></script>
    <!--显示悬浮图标-->
    <script type="text/javascript">
        $(function () {
            initSuspendIcon();
        });
    </script>
    <script src="../../lib/swiper.min.js"></script>
    <script id="otherBanner_page" type="text/html">
            <div class="swiper-wrapper" >
                {{each otherBanner as value i}}
                    <div class="swiper-slide">
                    <img src="{{filePath}}{{value.imgUrl}}" id="obanner" onclick="toLinkUrl('{{value.title}}', '{{value.linkUrl}}')"/>
                    </div>
                {{/each}}
            </div>
        </script>
    <script id="list_page" type="text/html">
                {{each data as value i}}
                <div class="wx_cargobox">
                    <p class="datetil">{{#getDate(value.erdat,"yyyy-MM-dd")}}</p>
                    <div class="cargomes">
                        <p class="comp">
                            {{if isSalesman != null && isSalesman === 1}}
                                {{if value.mbname != null}}
                                    {{value.mbname}} 
                                {{else}} 
                                    {{value.kunnr}} 
                                {{/if}}
                            {{else}}
                                {{if value.depname != null}}
                                    {{value.depname}}
                                {{else}}
                                    {{value.vkorg}}
                                {{/if}}
                            {{/if}}
                        </p>
                        <p class="odd">
                            <span name="de_ddbh" class="i18n">订单编号</span>：{{value.vgbel}}
                            &nbsp;&nbsp;
                            <span name="de_fhdh" class="i18n">发货单号</span>：{{value.vbeln}}
                            {{if value.contractTypes == 1}}
							                &nbsp;合约A
							              {{/if}}
							              {{if value.contractTypes == 2}}
							                &nbsp;合约B
							              {{/if}}
                        </p>                        
                    </div>
                    <ul class="cargolist">
                        {{each value.mxList as mx }}
                        <li>
                            <p class="main">
                                {{mx.pm}}
                                <span class="else">{{mx.cz}}&nbsp;&nbsp;{{mx.gg}}&nbsp;&nbsp;{{mx.cd}}</span>
                            </p>
                            <p class="sum">
							<span name="com_zl" class="i18n">总重量</span>：{{mx.orderSl}}{{mx.meins}}
							&nbsp;
							累计已发量：{{mx.sumDeliverySl}}{{mx.meins}}
							</p>
                            <p class="sum">
                                未发量：{{mx.unDeliverySl}}{{mx.meins}}
                                &nbsp;
                                本次发货量：{{mx.deliverySl}}{{mx.meins}}
                                <span class="status">
                                    {{if mx.wbsta == "A"}}没有处理{{/if}}
                                    {{if mx.wbsta == "B"}}部分处理{{/if}}
                                    {{if mx.wbsta == "C"}}完全地处理{{/if}}
                                </span>
                            </p>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/each}}
            </script>
</body>

</html>