<!DOCTYPE html>
<html>

<head>
    <title>物流查询</title>
    <% include ../../components/_head.art %>
        <style>
        .wx_main {
            top: 89px;
            bottom: 45px;
        }
        
        .wx_searchbox .searchbg {
            opacity: 1;
            border-radius: 4px;
        }
        
        .wx_searchbox .search_s {
            color: #3e7baf;
        }
        
        .wx_searchbox,
        .wx_searchboxbg {
            padding: 0px 0px;
        }
        
        .zxf_a {
            font-size: 1.3rem;
            line-height: 23px;
            color: #999;
        }
         .wx_hyfilter li{width: 33%;}
        .size_a .price {color: #fe9311; margin-right: 10px;}
        .buybtn {position: absolute; right: 0px; bottom: 10px; border: 1px solid #fe9311; border-radius:2px; color: #fe9311; padding: 0px 5px; font-size: 1.3rem; line-height: 22px;}
        </style>
        <link rel="stylesheet" href="../../css/weui-select.min.css">
</head>

<body>
    <header class="wx_searchbox">
        <div class="weui_search_bar">
            <form id="form" class="weui_search_outer">
                <div class="weui_search_inner">
                    <i class="weui_icon_search"></i>
                    <input type="search" class="weui_search_input" id="querykey" placeholder="搜索订单" value="" />
                    <a href="javascript:" class="weui_icon_clear"></a>
                </div>
                <label for="querykey" class="weui_search_text">
                    <i class="weui_icon_search"></i>
                    <span>搜索订单</span>
                </label>
            </form>
            <a href="javascript:" class="weui_search_cancel">取消</a>
        </div>
    </header>
    <article class="wx_layout">
        <ul class="wx_hyfilter">
            <input type="hidden" id="hydm" value=""/>
            <input type="hidden" id="sapCustomerId" value=""/>
            <input type="hidden" id="vkorg" value=""/>

            <li style="position: relative;"><em id="dateli_start" name="com_ksrq" class="i18n" >开始日期</em>
                <span class="xl"></span>
                <input type="text" id="date10Str_start" value="" style="opacity: 0;top:0;position: absolute;left: 0px;width: 100%;" />
            </li>
            <li style="position: relative;"><em id="dateli_end" name="com_jsrq" class="i18n">结束日期</em>
                <span class="xl"></span>
                <input type="text" id="date10Str_end" value="" style="opacity: 0;top:0;position: absolute;left: 0px;width: 100%;" />
            </li>
            <li id="sort">
                <span class="i18n" name="com_sorting">排序</span><span class="xl"></span>
            </li>
            <input type="hidden" id="start_date" value="" />
						<input type="hidden" id="end_date" value="" />
            <input type="hidden" id="shStatus" value="" />
            <input type="hidden" id="orderName" value="" />
            <input type="hidden" id="order" value="" />
        </ul>
        <section class="wx_main" id="infinitePage">            
            <div id="list"></div>
            <div class="weui-infinite-scroll">
                    <div class="infinite-preloader"></div><span class="i18n" name="com_loading">正在加载</span></div>
        </section>
    </article>
    <!--<footer class="wx_btnnext" onclick="toExport();">导出</footer>-->
    <% include ../../_foot.html %>
       <% include ../include/menberPopup.html %>
        <script src="../public/htmsList.js"></script>
        <script id="list_page" type="text/html">
            {{each data as value i}}
            <div class="wx_hyordermesbox">
                <p class="ddnumber">{{value.sapCode}}<span>
           （ {{value.customerName}}
            ）
            </span></p>
                <div class="ordermesbox">
                    <ul class="ordermes" id="ul_{{value.fphm}}">
                        <li>
                            <p class="proname_a">
                                {{pm}}
                                <span class="perty_a">{{cz}}</span> {{if pm == "DTY"}}
                                <span class="perty_a">{{nx}}</span>
                                <span class="perty_a">{{sz}}</span> {{else if (pm == "切片" || pm == "锦纶切片")}}
                                <span class="perty_a">{{gg}}</span>
                                <span class="perty_a">{{cd}}</span> {{else}}
                                <span class="perty_a">{{wzlb}}</span>
                                <span class="perty_a">{{lbsm}}</span> {{/if}}
                            </p>
                            {{if (pm != "切片" && pm != "锦纶切片")}}
                            <p class="size">{{gg}}&nbsp;&nbsp;&nbsp;&nbsp;{{cd}}</p>
                            {{/if}}
                            <p class="size_a">
                            <span name="com_zl" class="i18n">重量</span>：{{value.applyTotalTonNum}} KG&nbsp;&nbsp;&nbsp;&nbsp;<span name="com_xbs" class="i18n">箱包数</span>：{{value.applyTotalPackNum}}</p>
                            <div class="status">
                                {{value.transportStatusDesc}}
                            </div>
                            
                        </li>
                    </ul>
                    <ul class="ckwl_info">
						          <li class="ckwl_list">收货地址：{{value.address}}</li>
						        </ul>
                    <div class="time">{{#getDate(value.tranferCreateTime,"yyyy-MM-dd")}}{{#getDate(value.tranferCreateTime," HH:mm")}}
                        <div class="buybtn" onclick="toHtmsInfo('{{value.orderCode}}','{{value.sapCode}}')">物流信息</div>
                    </div>
                </div>
            </div>
            {{/each}}
        </script>
</body>

</html>
