<!DOCTYPE html>
<html>

<head>
    <title>物流信息详情</title>
    <% include ../../components/_head.art %>
     <link rel="stylesheet" href="../../css/weui-select.min.css">
        <style>
        .wx_main { bottom:93px;}
				.tradecomp { padding-left:36px; position:relative;}
				.tradecomp .icon-checkbox { font-size:16px; line-height:16px; color:#999; position:absolute; left:10px; top:50%; margin-top:-8px;}
				.tradecomp.current i:before { content: "\e62b"; color:#3e7baf;}
        </style>
</head>

<body>
    <article class="wx_layout">
		  <section class="hy_main hy_main4" id="sec">
		    
		    
		  </section>
		</article>
		<div  id="container">
		 </div>
    <% include ../../components/_foot.art %>
    		
    		<script id="sec_page" type="text/html">
    			<ul class="sqrz_item">
		      <li class="sqrz_list"><span>发货申请时间</span>{{#getDate(data.shipCreateTime,"yyyy-MM-dd")}}{{#getDate(data.shipCreateTime," HH:mm:ss")}}</li>
		      <li class="sqrz_list"><span>内勤审批时间</span>{{#getDate(data.approveTime,"yyyy-MM-dd")}}{{#getDate(data.approveTime," HH:mm:ss")}}</li>
		      <li class="sqrz_list"><span>物流分配时间</span>{{#getDate(data.tranferCreateTime,"yyyy-MM-dd")}}{{#getDate(data.tranferCreateTime," HH:mm:ss")}}</li>
			    </ul>
			    <ul class="sqrz_item">
		      <li class="sqrz_list"><span>车牌号</span>{{data.vehicleNo}}</li>
		      <!--<li class="sqrz_list"><span>车辆装载状态</span>{{}}</li>-->
		      <li class="sqrz_list"><span>目前已到达</span>{{data.sendDesc}}</li>
		      <li class="sqrz_list"><span>签收状态</span> {{data.transportStatusDesc}}</li>
		    </ul>
    		</script>
		    <script src="../../lib/swiper.min.js"></script>
		    <script src="../../js/oauth2.min.js"></script>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <!-- 高德地图插件 -->
        <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
		    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
		    <script src="http://webapi.amap.com/maps?v=1.4.4&key=ccf94614371b7c44fdbcae2c3d89ab48"></script>
		    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
        <script>
        $(function() {
            wxconfig();
        });
        </script>
        <script src="../public/htmsInfo.js"></script>
</body>

</html>
