<!DOCTYPE html>
<html>

<head>
    <title>订单管理</title>
    <% include ../../components/_head.art %>
        <style>
        .wx_main {
            top: 89px;
        }
        
        .wx_searchbox .searchbg {
            opacity: 1;
            border-radius: 4px;
        }
        
        .wx_searchbox .search_s {
            color: #3e7baf;
        }
        
        .wx_searchbox,
        .wx_searchboxbg {
            padding: 0px 0px;
        }
        
        .zxf_a {
            font-size: 1.3rem;
            line-height: 23px;
            color: #999;
        }
        .size_a .price {color: #fe9311; margin-right: 10px;}
        .buybtn {position: absolute; right: 0px; bottom: 10px; color: #fe9311; padding: 0px 5px; font-size: 1.3rem; line-height: 22px;}
        </style>
        <link rel="stylesheet" href="../../css/weui-select.min.css">
</head>

<body>
    <header class="wx_searchbox">
        <div class="weui_search_bar">
            <form id="form" class="weui_search_outer">
                <div class="weui_search_inner">
                    <i class="weui_icon_search"></i>
                    <input type="search" class="weui_search_input" id="querykey" placeholder="搜索订单" value="" />
                    <a href="javascript:" class="weui_icon_clear"></a>
                </div>
                <label for="querykey" class="weui_search_text">
                    <i class="weui_icon_search"></i>
                    <span>搜索订单</span>
                </label>
            </form>
            <a href="javascript:" class="weui_search_cancel">取消</a>
        </div>
    </header>
    <article class="wx_layout">
        <section class="wx_main" id="infinitePage">
            <ul class="wx_hyfilter">
                <input type="hidden" id="hydm" value=""/>
                <input type="hidden" id="mbname" value=""/>
                <input type="hidden" id="sapCustomerId" value=""/>
                <input type="hidden" id="vkorg" value=""/>
                <li onclick="showMenberPopup();" id="khname" style="display: none;">
                  <span class="i18n" name="com_kh">客户</span><span class="xl"></span>
                </li>
                <li id="depname" style="display: none;">
                   <span class="i18n" name="com_xszz">销售组织</span><span class="xl"></span>
                </li>
                <li style="position: relative;"><em id="dateli" class="i18n" name="com_date">日期</em>
                    <span class="xl"></span>
                    <input type="text" id="date10Str" value="" style="opacity: 0;top:0;position: absolute;left: 0px;width: 100%;" />
                </li>
                <li id="sort">
                    <span class="i18n" name="com_sorting">排序</span><span class="xl"></span>
                </li>
                <input type="hidden" id="cdate" value="" />
                <input type="hidden" id="shStatus" value="" />
                <input type="hidden" id="orderName" value="" />
                <input type="hidden" id="order" value="" />
            </ul>
            <div id="list"></div>
            <div class="weui-infinite-scroll">
                    <div class="infinite-preloader"></div><span class="i18n" name="com_loading">正在加载</span></div>
        </section>
    </article>
    <% include ../../components/_foot.art %>
       <% include ../include/menberPopup.html %>
        <script src="../public/orderManager.js"></script>
        <script id="list_page" type="text/html">
            {{each data as value i}}
            <div class="wx_hyordermesbox">
                <p class="ddnumber">{{value.id.fphm}}&nbsp;&nbsp;<span>（{{value.hyname}}）</span></p>
                <div class="ordermesbox">
                    <ul class="ordermes" id="ul_{{value.fphm}}">
                        <li>
                            <p class="proname_a">
                                {{value.pm}}
                                <span class="perty_a">{{value.cz}}</span> 
                                <span class="perty_a">{{value.gg}}</span>
                                <span class="perty_a">{{value.cd}}</span> 
                                <span class="perty_a">{{value.wzlb}}</span>
                            </p>
                            <p class="size">{{value.depname2}}&nbsp;&nbsp;&nbsp;&nbsp;{{value.couponTypeStr}}</p>
                            <p class="size_a"><span class="price">￥<em>{{value.price}}</em></span><span name="com_zl" class="i18n">重量</span>：{{value.sl2}} &nbsp;&nbsp;&nbsp;&nbsp;<span name="com_xbs" class="i18n">箱包数</span>：{{value.sl1}}</p>
                            <div class="status">
                                {{value.orderTypeStr}}
                            </div>
                            <div class="buybtn">{{value.shStatusStr}}</div>
                        </li>
                    </ul>
                    <div class="time">{{value.cdate}}
                        <div class="total"><span>{{value.optName}}</span></div>
                    </div>
                    
                </div>
            </div>
            {{/each}}
        </script>
</body>

</html>
