<!DOCTYPE html>
<html>

<head>

  <title>订单评价</title>
  <% include ../../components/_head.art %>
  <style>
    .wx_qdphoto li {
      padding: 0;
    }
  </style>
</head>

<body>
  <article class="wx_layout">
    <section class="wx_main wx_ordcomment">
      <div class="wrap topinfo" id="list">

      </div>
      <div class="wrap comment">
        <div class="item borbot">
          <span class="tl c333">产品评价</span>
          <div class="wx_stars">
            <i title="非常不满意"></i>
            <i title="不满意"></i>
            <i title="一般"></i>
            <i title="满意"></i>
            <i title="非常满意"></i>
            <span class="result"><em class=num_val>请评分</em></span>
          </div>
        </div>
        <div class="info">
          <textarea placeholder="产品满足你的期待吗？说说它的优点和美中不足的地方吧" id="proText"></textarea>
        </div>
        <!-- <div class="imglist">
        <ul>
          <li><a class="add" ><i class="iconfont">&#xe6d3;</i><p>添加图片</p></a></li>
        </ul>
      </div> -->
        <div class="imglist">
          <input type="hidden" id="complaintImages" value="" />
          <ul class="wx_qdphoto wx_cjht" id="img_ul">
            <li id="addImg">
              <p><img src="../../images/add.jpg"></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="wrap comment">
        <p class="tit">业务员评价</p>
        <div class="item">
          <span class="tl">专业知识</span>
          <div class="wx_stars">
            <i title="非常不满意"></i>
            <i title="不满意"></i>
            <i title="一般"></i>
            <i title="满意"></i>
            <i title="非常满意"></i>
            <span class="result"><em class=num_val>请评分</em></span>
          </div>
        </div>
        <div class="item">
          <span class="tl">响应速度</span>
          <div class="wx_stars">
            <i title="非常不满意"></i>
            <i title="不满意"></i>
            <i title="一般"></i>
            <i title="满意"></i>
            <i title="非常满意"></i>
            <span class="result"><em class=num_val>请评分</em></span>
          </div>
        </div>
        <div class="item borbot">
          <span class="tl">个人诚信</span>
          <div class="wx_stars">
            <i title="非常不满意"></i>
            <i title="不满意"></i>
            <i title="一般"></i>
            <i title="满意"></i>
            <i title="非常满意"></i>
            <span class="result"><em class=num_val>请评分</em></span>
          </div>
        </div>
        <div class="info h100">
          <textarea placeholder="您对业务员满意吗？说说他的优点和需要改进的地方吧" id="perText"></textarea>
        </div>
      </div>
    </section>
  </article>
  <footer class="wx_btnnext" onclick="doEvaluate();" id="tj">提交</footer>
  <% include ../../_foot.html %>
  <script src="../../js/oauth2.min.js"></script>
  <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script>
    $(function () {
      wxconfig();
    });
  </script>
  <input type="hidden" id="posnr" value="" />
  <input type="hidden" id="vbeln" value="" />
  <input type="hidden" id="czyid" value="" />
  <script src="../public/orderEvaluate.js"></script>
  <script src="../../lib/jquery.i18n.properties.js"></script>
  <script src="../../js/language.min.js"></script>
  <script id="list_page" type="text/html">
    <ul>
        <li>订单编号：<span>{{data.vbeln}}</span></li>
        <li>时间：<span>{{#getDate(data.erdat,"yyyy-MM-dd")}}{{#getDate(data.erzet," HH:mm")}}</span></li>
        <li>产品信息：<span>
            <p class="proname_a">
                {{data.pm}}
                <span class="perty_a">{{data.cz}}</span> {{if data.pm == "DTY"}}
                <span class="perty_a">{{data.nx}}</span>
                <span class="perty_a">{{data.sz}}</span> {{else if (data.pm == "切片" || data.pm == "锦纶切片")}}
                <span class="perty_a">{{data.gg}}</span>
                <span class="perty_a">{{data.cd}}</span> {{else}}
                <span class="perty_a">{{data.wzlb}}</span>
                <span class="perty_a">{{data.lbsm}}</span> {{/if}}
            </p>
            {{if (data.pm != "切片" && data.pm != "锦纶切片")}}
            <p class="size">{{data.gg}}&nbsp;&nbsp;&nbsp;&nbsp;{{data.cd}}</p>
            {{/if}}
            <p class="size_a">
            {{if data.vkorg == "9700" && (isSalesman=="1" || e_isSalesman=="1")}}
             <span class="price">￥<em>{{data.price}}</em></span>
            {{/if}}
            <span name="com_zl" class="i18n">重量</span>：{{data.kwmeng}} {{data.meins}}&nbsp;&nbsp;&nbsp;&nbsp;<span name="com_xbs" class="i18n">箱包数</span>：{{data.volum}}{{data.voleh}}</p>
        </span></li>
        <li>业务员：<span id="czy">{{username}}</span></li>
      </ul>
</script>


</body>

</html>