<!DOCTYPE html>
<html>

<head>
    <title>购物车</title>
    <% include ../../components/_head.art %>
        <link rel="stylesheet" href="../../css/weui-select.min.css">
        <style>
        .wx_main {
            bottom:143px;
        }
        
        .tradecomp {
            padding-left: 36px;
            position: relative;
        }
        
        .tradecomp .icon-checkbox {
            font-size: 16px;
            line-height: 16px;
            color: #999;
            position: absolute;
            left: 10px;
            top: 50%;
            margin-top: -8px;
        }
        
        .tradecomp.current i:before {
            content: "\e62b";
            color: #3e7baf;
        }
        
        .totalpri {
            position: fixed;
            bottom: 49px;
            z-index: 100;
            width: 100%;
            height: 44px;
            box-sizing: border-box;
            background: #fff;
            padding: 0 10px;
            font-size: 1.5rem;
            line-height: 44px;
            color: #333;
        }
        
        .totalpri .prinum {
            color: #fe9311;
        }
        
        .totalpri .prinum em {
            font-size: 1.2rem;
        }
        
        .totalpri .smwz {
            font-size: 1rem;
            color: #999;
        }
        
        .wx_tasdelist li .promes .btnframe {
            right: 0px;
        }
        
        .wx_tasdelist li .promes .price_a {
            right: 40px;
        }

        .xbjzselect {padding-right: 10px !important;}
        .xbjzselect .xbjz {
            border: 1px solid #ccc;
               border-radius: 2px;
        box-sizing: border-box;
        color: #333;
        display: block;
        float: right;
        font-size: 1.4rem;
        height: 26px;
        line-height: 24px;
        margin-left: 5px;
        text-align: center;
        width: 55px;
    }

    .xbjzselect .xbjz.curr {
    background: #3e7baf none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    line-height: 26px;
}
    .wx_btnjs {height:98px;}
    .wx_btnjs .price {border-bottom: 1px solid #ddd;}
    .wx_btnjs .settle { top:49px;}
    .wx_btnjs .total em {color:#fe9311;font-size: 13px;}
    .wx_btnjs .total span {font-size: 16px;}

    .rtxt {text-align: right !important; padding-right: 10px !important;}
    .yhgz_table {background: #fff;}
    .rz {display: none;}
    #mypoint{
    	position:absolute;
        display:inline-block;
        width:10px; height:10px;
        right:-5px;
        top:3px;
        background:#f92c04;
        border-radius:50%;
    }
</style>    
    
    
</head>

<body>
    <header><div class="swiper-container wx_banner" id="wx_banner"></div></header>
    <article class="wx_layout">

        <a class="gwc_zd" id="toEnd" style="display: none;" onclick="scrollToEnd()"><span class="gwc_rz i18n" style="font-weight:bold;color: #fff;width: 70px;" name="sh_financingname" >融资</span></a>
      
        <input type="hidden" id="openid" value=""/>
        <input type="hidden" id="activityId" value=""/>
        <input type="hidden" id="couponType" value=""/>
        <input type="hidden" id="couponCode" value="" />
        <input type="hidden" id="couponName" value="" />
        <input type="hidden" id="couponAmt" value="" />
        <input type="hidden" id="ruleId" value="" />
        <input type="hidden" id="couponLimitMinAmt" value="" />
		<input type="hidden" id="fccouponCode" value="" />
        <input type="hidden" id="fccouponName" value="" />
		<input type="hidden" id="freeDays" value="" />
        <section class="wx_main" id="main1">
            <div id="main"></div>
        </section> 
    </article>
    <footer class="wx_btnjs" style="display: none;bottom:50px;">
        <input type="hidden" id="totalSl1" value=""/>
        <div class="total price"><span class="i18n" name="com_zj">总价</span>：<em id="yuanfh" name="yuanfh">￥</em><span id="totalAmt">0</span><span id="couponAmtHtml" style="margin-left: 15px;"></span>
        </div>
        <div class="total"><span class="i18n" name="com_zz">总重</span>：<span id="totalSl2">0</span><em>kg</em></div>
        <div class="settle i18n" onclick="doSubmit();" name="sh_submitname">提交订单</div>
    </footer>
    <footer class="wx_hybtmnav">
        <ul class="wx_hybtmnavmc">
            <li onclick="toIndex();"><i class="iconfont icon-hyhomek"></i><em class="i18n" name="com_indexname">首页</em></li>
            <li onclick="toBuy();"><i class="iconfont icon-hyorderk"></i><em class="i18n"  name="com_ordername">下单</em></li>
            <li onclick="toShoppingCart();" class="current"><i class="iconfont icon-hybuyk"></i><em class="i18n"  name="com_shopname">购物车</em></li>
            <li onclick="toFavorites();"><i class="iconfont icon-storek" style="font-size: 26px;"><span id="shopAmount" class="shopAmount" style="display: none;"></span> </i><em class="i18n"  name="com_shopname">收藏夹</em></li>
            <li onclick="toMyPage();"><i class="iconfont icon-hymek" ><span style="right:32px;top: 8px; display: none;" id="mypoint"></i><em class="i18n"  name="com_myname">我的</em></li>
        </ul>
    </footer>
    <% include ../../_foot.html %>
    <% include ../include/couponPopup.html %>
    <% include ../include/fccouponPopup.html %>
    <!-- <% include ../include/sendRandomCode.html %> -->
    <script src="../../js/oauth2.min.js"></script>
        <script src="../public/shoppingCart.js"></script>
        <script src="../../lib/swiper.min.js"></script>
        <script id="main_page" type="text/html">
            {{if data != null && data.length > 0}}
            <div class="tradecomp">
                <i class="iconfont icon-checkbox" onclick="doCheckAll(this)"></i> {{menber.mbname}}
            </div>
            <ul class="wx_tasdelist">
                {{each data as value i}}
                <li id="{{value.pkid}}" checkid="{{value.pkid}}" class="isChecked">
				{{if value.differentiation != null&&value.differentiation==1}}
                <input type="hidden" id="cfxx_{{value.pkid}}" value="{{value.circleId}}_{{value.hzdm}}_{{value.pm}}_{{value.depid}}_{{value.orderType}}_{{value.flag11}}_{{value.differentiation}}_{{value.activityMxId}}" />
                    <input type="hidden" id="differentiation_{{value.pkid}}" value="{{value.differentiation}}" />
                {{else}}
				<input type="hidden" id="cfxx_{{value.pkid}}" value="{{value.circleId}}_{{value.hzdm}}_{{value.pm}}_{{value.depid}}_{{value.orderType}}_{{value.flag11}}_0_{{value.activityMxId}}" />
				{{/if}}
                    <input type="hidden" id="gpls_{{value.pkid}}" value="{{value.gpls}}" />
                    <input type="hidden" id="pm_{{value.pkid}}" value="{{value.pm}}" />
                    <input type="hidden" id="cd_{{value.pkid}}" value="{{value.cd}}" />
                    <input type="hidden" id="depid_{{value.pkid}}" value="{{value.depid}}" />
					<input type="hidden" id="flag11_{{value.pkid}}" value="{{value.flag11}}" />
                    <div class="promes">
                        <i class="iconfont icon-checkbox"  {{if !value.activityMxId}} onclick="doCheck('{{value.pkid}}');" {{/if}}></i>
                        <p class="proname_a" {{if !value.activityMxId}} onclick="doCheck('{{value.pkid}}');" {{/if}}>
                            {{value.pm}}
                            <span class="perty_a">{{value.cz}}</span>
                            {{if value.pm == "DTY"}}
                                <span class="perty_a">{{value.str02}}</span>
                                <span class="perty_a">{{value.str03}}</span>
                            {{else}}
                                <span class="perty_a">{{value.wzlb}}</span>
                                {{if value.str04 != null}}
                                    <span class="perty_a">{{value.str04}}</span>
                                {{/if}}
                                {{if value.str02 != null}}
                                    <span class="perty_a">{{value.str02}}</span>
                                {{/if}}
                            {{/if}}
                            {{if value.differentiation != null&&value.differentiation==1}}
                            <span class="perty i18n" name="sh_differentialpname">差异化</span> {{/if}}
                        </p>
                        <p class="size_a" {{if !value.activityMxId}} onclick="doCheck('{{value.pkid}}');" {{/if}}> 
                            {{if (value.pm != "切片" && value.pm != "锦纶切片")}}
                                {{value.gg}}&nbsp;&nbsp;&nbsp;
                            {{/if}}
                            {{value.cd}}&nbsp;&nbsp;&nbsp;
                            {{if value.pm == "DTY"}}
                                {{value.inventoryStr}}&nbsp;&nbsp;&nbsp;
                            {{/if}}
                        </p>
                        <div class="price_a">{{if language =="zh"}}￥{{else}}${{/if}}<em id="price_{{value.pkid}}">{{#getPrice(value.price00,portList)}}</em></div>
                        {{if !value.activityMxId}}
                        <div class="btnframe" onclick="deleteShopping('{{value.gpls}}','{{value.wzid}}','{{value.depid}}','{{value.salesType}}');">
                            <div class="delbtn"></div>
                        </div>
						{{/if}}
						{{if language !="zh" && value.cartonBag !=null}}
						<p class="size_a"> 
                            {{value.packstr}}KGS per carton,load  {{value.cartonBag}}cartons
                        </p>
						{{/if}}
						{{if language !="zh" && value.cartonBag !=null}}
						<p class="size_a"> 
                            {{value.palletWeight}}KGS per weight,load  {{value.cartonPallet}}pallet
                        </p>
						{{/if}}
					 </div>
				   {{if language !="zh" && value.cartonBag !=null}}
				   <div class="selectbox xbjzselect compselect" id="company_{{value.pkid}}">
                         <span>Company：</span>
						 <em class="xbjz" val="20ft">20ft</em> 
						 <em class="xbjz curr" val="40hq">40HQ</em>
						
						
                    </div>
                   <div class="selectbox xbjzselect packselect" id="packing_{{value.pkid}}">
                        <span class="i18n" name="com_packingm">包装：</span>
						 {{if language !="zh" && value.cartonPallet !=null && value.sl01%value.cartonPallet ==0&& value.sl01 >0}}
						 <em class="xbjz curr" val="Pallet" id="pallet_{{value.pkid}}">Pallet</em> 
						 <input type="hidden" id="palletWeight_{{value.pkid}}" value="{{value.palletWeight}}"/>
						 <input type="hidden" id="cartonPallet_{{value.pkid}}" value="{{value.cartonPallet}}"/>
						 {{else}}
                         <em class="xbjz " val="Pallet" id="pallet_{{value.pkid}}">Pallet</em> 
						 <input type="hidden" id="palletWeight_{{value.pkid}}" value="{{value.palletWeight}}"/>
						 <input type="hidden" id="cartonPallet_{{value.pkid}}" value="{{value.cartonPallet}}"/>
						 {{/if}}
						 {{if language !="zh" && value.cartonBag !=null && value.sl01%value.cartonBag ==0}}
						 <em class="xbjz curr" val="Box" id="box_{{value.pkid}}">Carton</em>
						 {{else}}
						 <em class="xbjz" val="Box" id="box_{{value.pkid}}">Carton</em>
						 {{/if}}
						
                    </div>
					{{/if}}
                    <dl class="fillbox">
                        <dt class="zlbox"><span class="zl i18n" name="com_zlm">重量：</span>
                            <input id="sl02_{{value.pkid}}" type="number" placeholder="0.00" value="{{value.sl02}}" oninput="changeSl2('{{value.pkid}}');" /><span class="kg">kg</span></dt>
                        
						{{if language !="zh" && value.cartonBag !=null}}
						<dt class="xbsbox"><span class="xbs i18n" name="com_gsm">柜数：</span>
					    	<input type="hidden" id="cartonBag_{{value.pkid}}" value="{{value.cartonBag}}"/>
							<input type="hidden" id="sl01_{{value.pkid}}" value="{{value.sl01}}"/>
							{{if language !="zh" && value.sl01%value.cartonBag ==0}}
							<input id="sl03_{{value.pkid}}" type="number" placeholder="0" value="{{value.sl01/value.cartonBag}}" oninput="changeSl3('{{value.pkid}}');" pm="{{value.pm}}" />
                            {{else}}
							<input id="sl03_{{value.pkid}}" type="number" placeholder="0" value="{{value.sl01/value.cartonPallet}}" oninput="changeSl3('{{value.pkid}}');" pm="{{value.pm}}" />
                            {{/if}}
                         </dt>
                        {{else}}
						<dt class="xbsbox"><span class="xbs i18n" name="com_xbs">箱包数：</span>
					     	
                            <input id="sl01_{{value.pkid}}" type="number" placeholder="0" value="{{value.sl01}}" oninput="changeSl1('{{value.pkid}}');" pm="{{value.pm}}" />
                        </dt>
						{{/if}}
                    </dl>                    
                    {{if value.tclx != null}}
                        <div class="selectbox xbjzselect xbselect" id="packstr_{{value.pkid}}">
                            <span class="i18n" name="com_xbjzm">箱包净重：</span> 
                            {{each value.tclx.split(",") as xbjz j}}     
                                {{if value.packstr != null}}
                                    {{if value.packstr == xbjz}}
                                        <em class="xbjz curr" val="{{xbjz}}">{{xbjz}}{{value.sldw2}}</em>
                                    {{else}}
                                        <em class="xbjz" val="{{xbjz}}">{{xbjz}}{{value.sldw2}}</em>
                                    {{/if}}
                                {{else}}
                                    {{if j == 0}}
                                        <em class="xbjz curr" val="{{xbjz}}">{{xbjz}}{{value.sldw2}}</em>
                                    {{else}}
                                        <em class="xbjz" val="{{xbjz}}">{{xbjz}}{{value.sldw2}}</em>
                                    {{/if}}
                                {{/if}}                                    
                            {{/each}}                                     
                        </div>
                    {{else}}
                         <div class="selectbox" style="padding-right: 10px; text-align: right;"> <span class="i18n" name="com_xbjzm">箱包净重：</span> 
                         {{if (value.packstr != null && value.packstr != "")}}
                            <input type="hidden" id="packstr_{{value.pkid}}" value="{{value.packstr}}"/>
                            {{value.packstr}}{{value.sldw2}}
                         {{else}}
                            <p  class="i18n" name="com_bdz">不定重</p>
                         {{/if}}
                         </div>
                    {{/if}}                    
                    {{if (value.pm == "FDY" && value.lsxs != null && value.lsxs != 0)}}
                    <div class="selectbox" style="text-align: right; padding-right: 10px;"><span>单丝重量:</span>
                        {{value.lsxs}}{{value.sldw2}}                        
                    </div>
                    {{/if}}
                    
					{{if (customerId !="" &&value.pm != "锦纶切片" && value.pm != "短纤")}}
					<div class="selectbox" style="padding: 10px 10px 10px 40px;"><span class="i18n" name="com_bzm">备注:</span>
                        <input type="text" class="i18n_ph"  oninput="changeRemark('{{value.pkid}}');" value="{{value.remark}}" id="remark_{{value.pkid}}" {{if value.pm=="FDY" }} name="sh_remarkstip1" placeholder="可输入颗数" {{else}}  name="sh_remarkstip2" placeholder="请输入备注" {{/if}} />
                    </div>
					<div class="selectbox" style="padding: 10px 10px 10px 40px;"><span class="i18n" name="com_bzm">阳光折扣:</span>
                        <input type="text"  oninput="changeSun('{{value.pkid}}');" value="{{value.sunshineDiscount}}" id="sunshineDiscount_{{value.pkid}}"  oninput="if(value.length>10)value=value.slice(0,10)"     placeholder="请输入阳光折扣" />
                    </div>
					<div class="selectbox" style="padding: 10px 10px 10px 40px;"><span class="i18n" name="com_bzm">折扣原因:</span>
                        <input type="text"  oninput="changeSun('{{value.pkid}}');" value="{{value.sunshineRemark}}" id="sunshineRemark_{{value.pkid}}"  placeholder="请输入折扣原因" />
                    </div>
					<div class="selectbox notes"><span class="i18n" name="com_bzm">政策优惠:</span>
                        <input type="text"   oninput="changeSun('{{value.pkid}}');" value="{{value.policyPreferences}}" id="policyPreferences_{{value.pkid}}"  oninput="if(value.length>10)value=value.slice(0,10)"   placeholder="请输入政策优惠"  />
                    </div>
					 {{else}} 
                      <div class="selectbox notes"><span class="i18n" name="com_bzm">备注:</span>
                        <input type="text" class="i18n_ph"  oninput="changeRemark('{{value.pkid}}');" value="{{value.remark}}" id="remark_{{value.pkid}}" {{if value.pm=="FDY" }} name="sh_remarkstip1" placeholder="可输入颗数" {{else}}  name="sh_remarkstip2" placeholder="请输入备注" {{/if}} />
                    </div>

					 {{/if}}
                </li>
                {{/each}}
            </ul>
            
            <ul class="wx_setlist" style="margin-bottom: 10px;display:none;" id="dxLump">
                <li class="jhway"><span class="i18n" name="or_gcmc">工厂名称</span>
                    <em class="way i18n gcs" name="or_fjgc" onclick="lightThis($(this),0)" val="9510" >福建</em>
                    <em class="way i18n gcs" name="or_gxgc" onclick="lightThis($(this),0)" val="3100" >高新</em>
                    <em class="way i18n gcs" name="or_gxgc" onclick="lightThis($(this),0)" val="9610" >逸达</em>
					<em class="way i18n gcs" name="or_hmgc" onclick="lightThis($(this),0)" val="6510" >恒鸣</em>
                </li>
                
                <li class="jhway" id="sheng_id" style="display:none;" ><span class="i18n" name="or_sheng">省</span>
                     <input type="text" id="province_text" placeholder="省" readonly='readonly' class="hynewlytext" onchange="lightThis($(this),1)" />
                     <input type="hidden" id="provinceVal" value="" />
                </li>
                
                 <li class="jhway" id="shi_id" style="display:none;" ><span class="i18n" name="or_shi">市</span>
                     <input type="text" id="city_text" placeholder="市" readonly='readonly' class="hynewlytext" onchange="lightThis($(this),2)" />
                     <input type="hidden" id="cityVal" value="" />
                </li>
                
                 <li class="jhway" id="town_id" style="display:none;" ><span class="i18n" name="or_town">区</span>
                     <input type="text" id="town_text" placeholder="区" readonly='readonly' class="hynewlytext" onchange="lightThis($(this),3)" />
                     <input type="hidden" id="townVal" value="" />
                </li>
                
                <li class="jhway" id="street_id" style="display:none;" ><span class="i18n" name="or_street">镇</span>
                     <input type="text" id="street_text" placeholder="镇" readonly='readonly' class="hynewlytext" onchange="lightThis($(this),4)" />
                     <input type="hidden" id="streetVal" value="" />
                </li>
                
                
                <li class="jhway" id="fare_price_id" style="display:none;" ><span class="i18n" name="or_yunfei">运费（元/吨）</span>
                     <input type="text" id="fare_price_text" readonly="readonly" class="hynewlytext" />
                </li>
            </ul>
             {{if language =="zh"}}
            <ul class="wx_setlist" >
                <li id="contractTypeId_li" ><span class="i18n" name="com_ht">合同</span>
                    <input type="text" placeholder="请选择合同" name="sh_httip" id="contractTypeIdText" onclick="subS();" class="hynewlytext i18n_ph" />
                    <input type="hidden" id="contractTypeId"/>
                    <i class="iconfont icon-rarrow"></i>
                </li>
                <li style="text-align: right;padding-right: 10px;"><span class="i18n" name="com_sh">税号</span>{{menber.shno1}}</li>
                <!--<li class="jhway" id="htflag06">-->
                <li class="wx_setlist" id="htflag06">
                    <span class="i18n" name="sh_jhfsname">交货方式</span>                    
                    <em style="display:none;" class="way current " val="3" name="">配送</em>
                    <input type="text" value="配送"  class="hynewlytext i18n_va" name="sh_distributionname" readonly />
                    <!--<i class="iconfont icon-rarrow"></i>-->
                </li>
                <li><span class="i18n" name="sh_kpdwname">开票单位</span>
                    <input type="hidden" id="kpdm" value="{{menber.hydm}}" />
                    <input type="text" id="kpname" placeholder="请选择" readonly value="{{menber.mbname}}" />
                    <!--<i class="iconfont icon-rarrow"></i></li>-->
                <li onclick="removeInputBlur()"><span class="i18n" name="sh_yhrqname">要货日期</span>
                    <input type="text" placeholder="请选择" id="date10Str" readonly /><i class="iconfont icon-rarrow"></i></li>
                {{if couponFlag}}
                    <li onclick="showCouponList();" id="shopCarCouponList"><span class="i18n" name="sh_xyyhqname">选用优惠券</span>          
                    <input type="text" id="couponText"  class="i18n_ph" name="sh_qxzyhqname" placeholder="请选择优惠券" readonly value="" /><i class="iconfont icon-rarrow"></i></li>
                {{/if}}
				{{if fccouponFlag}}
                    <li onclick="showFcCouponList();"><span class="i18n" name="sh_xyyhqname">选用免息券</span>          
                    <input type="text" id="fccouponText"  class="i18n_ph" name="sh_qxzyhqname" placeholder="请选择免息券" readonly value="" /><i class="iconfont icon-rarrow"></i></li>
                {{/if}}
            </ul>
			{{else}}
            <ul class="wx_setlist" >
			    <li><span>Payment Terms</span>
				 {{if paymentTermsList.length == 1}} 
				 <input type="text" value="{{paymentTermsList[0].paymentTermsName}} " id="paymentTerms"  class="hynewlytext " readonly />
                 {{else}}
                 <input type="text" placeholder="请选择" id="paymentTerms" value="{{paymentTermsList[0].paymentTermsName}}" class="i18n_ph" name="com_qingxuanze" readonly /><i class="iconfont icon-rarrow"></i>
                 {{/if}}
				 </li>
                 <input type="hidden" id="paymentCode" value="{{paymentTermsList[0].paymentTermsCode}}"/> 
                <li class="jhway" id="myFlag">
                        <span>Trade Terms</span>                    
                        <em class="way current " value="CIF" >CIF</em>
                </li>
                <li><span class="i18n" name="sh_port">港口</span>
				 {{if portList.length == 1}} 
				 <input type="text" value="{{portList[0].str02}}-{{portList[0].str01}}" id="port" class="hynewlytext " readonly />
                 {{else}}
                 <input type="text" placeholder="请选择" id="port" value="{{portList[0].str02}}-{{portList[0].str01}}" class="i18n_ph" name="com_qingxuanze" readonly /><i class="iconfont icon-rarrow"></i>
                 {{/if}}
				 </li>
                 <input type="hidden" id="portCode" value="{{portList[0].pkid}}"/> 
                 <input type="hidden" id="freightAmt" value="{{portList[0].carriage}}"/> 
                 <li onclick="removeInputBlur()"><span class="i18n" name="sh_yhrqname">要货日期</span>
                 <input type="text" placeholder="请选择" id="date10Str" readonly /><i class="iconfont icon-rarrow"></i></li>
            </ul>

			{{/if}}
            {{if creditFlag || XfcreditFlag}}
                <ul class="wx_setlist">
                    <li class="jhway" id="rzFlag">
                        <span class="i18n" name="sh_sfrzname">是否融资（远期买卖合同）</span>                    
                        <em class="way i18n" val="1" name="com_yes">是</em>
                        <em class="way current i18n" val="0"  name="com_no">否</em>
                    </li>
                    <li class="jhway rz" id="rzly">
                        <span class="i18n" name="sh_rzjgname">类型</span>
						{{if XfcreditFlag}} 
						<em class="way current i18n" val="2" name="sh_khname">纯信用</em>
						{{/if}}
						{{if creditFlag}} 
                        <em class="way current i18n" val="1" name="sh_khname">逸控代</em>
						{{/if}}
                    </li>
					{{if creditFlag}} 
                    <li class="rz {{if creditList.length == 1}}rtxt{{/if}}">
                        <span class="i18n" name="sh_rzlxname">融资机构</span>
                        <input type="hidden" id="shopno" value="{{creditList[0].shopno}}" /> 
                        {{if creditList.length == 1}} 
                            {{creditList[0].shopname}} 
                        {{else}}
                            <input type="text" id="shopname" value="{{creditList[0].shopname}}" placeholder="请选择融资机构" /> 
                            <i class="iconfont icon-xiala"></i>
                        {{/if}}
                    </li>
                    <li class="rtxt rz">
                        <span  class="i18n" name="sh_kyedname">可用额度</span>
                        <input type="hidden" id="freeamt" value="{{creditList[0].freeamt}}" /> 
                        <em id="freeamtTxt">{{creditList[0].freeamt}}</em>
                    </li>
                    <li class="rtxt rz">
                        <span class="i18n" name="sh_edyxqname">额度有效期</span> 
                        <em id="dqrq">{{#getDate(creditList[0].endDate,"yyyy-MM-dd")}}</em>
                    </li>
					{{/if}}
					{{if XfcreditFlag}}
					 <li class="rz rtxt">
                     <span class="i18n" name="sh_rzlxname">融资机构</span>
                      华夏银行
                     </li>
					 <li class="rtxt rz">
                        <span  class="i18n" name="sh_kyedname">可用授信额度</span>
                        <input type="hidden" id="freeamt" value="{{XfCredit.freeamt}}" /> 
                        <em id="freeamtTxt">{{#getXfPrice(XfCredit.freeamt)}}</em>
                    </li>
					<li class="rtxt rz">
                        <span class="i18n" name="sh_edyxqname">额度有效期</span> 
                        <em id="dqrq">{{#getDate(XfCredit.startDate,"yyyy-MM-dd")}}至{{#getDate(XfCredit.endDate,"yyyy-MM-dd")}}</em>
                    </li>
					{{/if}}
                </ul>
				{{if creditFlag}} 
                <ul class="wx_setlist rz">
                    <li class="rtxt">
                      <span>
                        <em  class="i18n" name="sh_rztip1name">本次融资需要提前支付</em><em style="color:#f00;" id="brate">&nbsp{{creditList[0].brate}}%&nbsp</em><em class="i18n" name="sh_rztip2name">的保证金</em>
                      </span>                      
                    </li>
                    <li class="rtxt">
                      <span    class="i18n" name="sh_rzksrqname">融资开始日期</span>
                      <em id="jkrq">{{jkrq}}</em>
                    </li>
                    <li class="rtxt">
                        <span   class="i18n" name="sh_zhhkrqname">最后还款日期</span>
                        <em id="hkrq">{{hkrq}}</em>
                    </li>
                    <li class="rtxt">
                      <span  class="i18n" name="sh_rzqxname">融资期限</span>
                      <em id="jkqx">{{jkqx}}&nbsp</em><em class="i18n" name="sh_tianname">天</em>
                    </li>
                </ul>
                <ul class="wx_setlist rz">
                    <li class="rtxt">
                        <span class="i18n" name="sh_tcxxname">服务费费率</span>
                    </li>
                </ul>                  
                <table id="tcmxList" class="yhgz_table rz" border="0" cellpadding="0" cellspacing="1">
                    <tr>
                        <td class="i18n" name="sh_jkzqname">借款周期(天)</td>
                        <td class="i18n" name="sh_llname">利率(万分之)</td>
                    </tr>
                    {{each creditList[0].creditTc.mxList as tcmx}}
                    <tr>
                        <td>{{tcmx.fromDays}} - {{tcmx.toDays}}</td>
                        <td>{{tcmx.rate}}</td>
                    </tr>
                    {{/each}}                    
                </table> 
				{{/if}}
				{{if XfcreditFlag}} 
                <ul class="wx_setlist rz">
                    <li class="rtxt">
                      <span    class="i18n" name="sh_rzksrqname">融资开始日期</span>
                      <em id="jkrq">{{jkrq}}</em>
                    </li>
                    <li class="rtxt">
                        <span   class="i18n" name="sh_zhhkrqname">最后还款日期</span>
                        <em id="hkrq">{{hkrq}}</em>
                    </li>
                    <li class="rtxt">
                      <span  class="i18n" name="sh_rzqxname">融资期限</span>
                      <em id="jkqx">{{jkqx}}&nbsp</em><em class="i18n" name="sh_tianname">天</em>
                    </li>
				</ul>
				<ul class="wx_setlist rz">
                    <li class="rtxt">
                        <span class="i18n" name="sh_tcxxname">费用（随借随还）</span>
                    </li>
                </ul>       
				<table id="" class="yhgz_table rz" border="0" cellpadding="0" cellspacing="1">
                    <tr>
                        <td >贷款本金（元）</td>
                        <td >贷款期限（天）</td>
						<td >综合费率（%）</td>
						<td >每日息费仅需（元）</td>
                    </tr>
                    <tr>
                        <td><em id="dkAmt">0</em></td>
                        <td>{{jkqx}}</td>
						<td>9%</td>
						<td><em id="xffwf">0</em></td>
                    </tr>
                </table> 
               {{/if}}
            {{/if}}
            <div style="background:#fff;margin-top: 10px">
            </div>
            {{else}}
            <div style="text-align: center; margin-top: 120px;">
                <img src="../../images/zwt.png" style="width: 109px;" />
            </div>
            {{/if}}
        </script>
        <script id="tcmxList_page" type="text/html">
          <tr>
              <td>借款周期(天)</td>
              <td>利率(万分之)</td>
          </tr>
          {{each creditTc.mxList as tcmx}}
            <tr>
                <td>{{tcmx.fromDays}} - {{tcmx.toDays}}</td>
                <td>{{tcmx.rate}}</td>
            </tr>
          {{/each}}
        </script>
        <script id="otherBanner_page" type="text/html">
            <div class="swiper-wrapper" >
                {{each otherBanner as value i}}
                    <div class="swiper-slide">
                    <img src="{{filePath}}{{value.imgUrl}}" id="obanner" onclick="toLinkUrl('{{value.title}}', '{{value.linkUrl}}')"/>
                    </div>
                {{/each}}
            </div>
        </script> 
</body>

</html>
