<!DOCTYPE html>
<html>

<head>
    <title>恒逸微商城-最好用的B2B化纤交易平台</title>
    <% include ../../components/_head.art %>
    <style>
        .t10 {
            margin-top: 7px;
        }

        .right {
            float: right;
            width: 49%;
        }
    </style>
</head>

<body>
    <article class="wx_layout">
        <section class="wx_main">
            <div class="wx_banner">
                <img src="../../images/12.12/banner.jpg" />
            </div>
            <div class="wx_banner t10" onclick="pintuan();">
                <img src="../../images/12.12/group_banner.jpg" />
            </div>
            <div class="wx_banner t10" onclick="jingpai();" style="overflow: hidden;">
                <img src="../../images/12.12/activity_banner.jpg" />
            </div>
            <div class="wx_banner t10">
                <img src="../../images/12.12/bottom_banner.jpg" />
            </div>
        </section>
    </article>
    <% include ../../_foot.html %>
    <script src="../12.12/index.js"></script>
</body>

</html>