<!DOCTYPE html>
<html>

<head>
    <title name="mboptEdit_title">操作员编辑</title>
    <% include ../../components/_head.art %>
    <link rel="stylesheet" href="../../css/weui-select.min.css">
</head>

<body>
    <article class="wx_layout">
        <section class="wx_main">
            <div class="wx_hyordermesbox wx_hyordermesbox1">
                <input type="hidden" id="hydm" value="" />
                <ul class="wx_hynewlylist">
                    <li>
                        <i class="iconfont icon-name"></i>
                        <input type="text" id="username" placeholder="姓名" class="hynewlytext i18n_ph" name="com_name" />
                    </li>
                    <li>
                        <i class="iconfont icon-power"></i>
                        <input type="label" id="power" placeholder="权限分配" class="hynewlytext i18n_ph"
                            name="mb_permissionaAssignment" readonly="readonly" />
                        <input type="hidden" id="isadmin" value="" />
                        <i class="iconfont icon-xiala"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-power"></i>
                        <input type="text" id="power1" placeholder="请选择状态" class="hynewlytext i18n_ph"
                            name="mb_statustip" readonly="readonly" />
                        <input type="hidden" id="status" value="" />
                        <i class="iconfont icon-xiala"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-telephone"></i>
                        <input type="tel" id="mobile" placeholder="手机号码" class="hynewlytext i18n_ph" name="com_phone"
                            readonly="readonly" />
                    </li>
                    <!--
                    <li>
                        <i class="iconfont icon-quanxian"></i>
                        <input type="password" id="pwd" placeholder="登录密码" class="hynewlytext" />
                    </li>
                    -->
                </ul>
                <div class="wx_hynewlybtn" id="submits" onclick="doEdit();">
                    <p class="i18n" name="com_save">保存</p>
                </div>
            </div>
        </section>
    </article>
    <% include ../../_foot.html %>
    <script src="../newmenber/mboptEdit.js"></script>
    <script src="../../js/md5.min.js"></script>
</body>

</html>