<!DOCTYPE html>
<html>

<head>
    <title name="mboptList_title">操作员列表</title>
    <% include ../../components/_head.art %>
    <style>
        .wx_main {
            margin-top: 44px;
            bottom: 45px;
        }

        .wx_searchbox,
        .wx_searchboxbg {
            padding: 0px 0px;
        }

        .wx_searchbox .search_s {
            color: #3e7baf;
        }
    </style>
</head>

<body>
    <div class="wx_searchboxbg"></div>
    <header class="wx_searchbox">
        <div class="weui_search_bar">
            <form id="form" class="weui_search_outer">
                <div class="weui_search_inner">
                    <i class="weui_icon_search"></i>
                    <input type="search" class="weui_search_input" id="querykey" placeholder="联系人/联系电话" value="" />
                    <input type="hidden" id="listlength" />
                    <a href="javascript:" class="weui_icon_clear"></a>
                </div>
                <label for="querykey" class="weui_search_text">
                    <i class="weui_icon_search"></i>
                    <span class="i18n" name="mb_contract">联系人/联系电话</span>
                </label>
            </form>
            <a href="javascript:" class="weui_search_cancel i18n" name="com_cancel">取消</a>
        </div>
    </header>
    <article class="wx_layout">
        <section class="wx_main" id="infinitePage">
            <div class="wx_hyordermesbox">
                <ul class="wx_hycontactlist" id="list"></ul>

                <div class="weui-infinite-scroll">
                    <div class="infinite-preloader"></div>
                    <span class="i18n" name="com_loading">正在加载</span>
                </div>
            </div>
        </section>
    </article>
    <footer class="wx_btnnext" onclick="toAdd();"><span class="i18n" name="mb_addcontrct">新增联系人</span></footer>
    <% include ../../components/_foot.art %>
    <script src="../newmenber/mboptList.js"></script>
    <script id="list_page" type="text/html">
            {{each data as value i}}
            <li>
                <p onclick="toEdit('{{value.userid}}','{{value.username}}','{{value.isadmin}}','{{value.status}}','{{value.mobile}}');" class="contactimg"><img src="../../images/headpic.png" /></p>
                <p onclick="toEdit('{{value.userid}}','{{value.username}}','{{value.isadmin}}','{{value.status}}','{{value.mobile}}');" class="contactlist_name">{{value.username}}</p>
                <p onclick="toEdit('{{value.userid}}','{{value.username}}','{{value.isadmin}}','{{value.status}}','{{value.mobile}}');" class="contactlist_detail">{{value.mobile}}</p>
                <i class="iconfont icon-tel" onclick="doCall('{{value.mobile}}')"></i>
            </li>
            {{/each}}
        </script>
</body>

</html>