<!DOCTYPE html>
<html>

<head>
    <title>操作员新增</title>
    <% include ../../components/_head.art %>
    <link rel="stylesheet" href="../../css/weui-select.min.css">
</head>

<body>
    <article class="wx_layout">
        <section class="wx_main">
            <div class="wx_hyordermesbox wx_hyordermesbox1">
                <input type="hidden" id="hydm" value="" />
                <ul class="wx_hynewlylist">
                    <li>
                        <i class="iconfont icon-name"></i>
                        <input type="text" id="username" placeholder="姓名" class="hynewlytext i18n_ph" name="m_xm" />
                    </li>
                    <li>
                        <i class="iconfont icon-power"></i>
                        <input type="text" id="power" placeholder="权限分配" class="hynewlytext i18n_ph" name="m_qxfp" />
                        <input type="hidden" id="isadmin" value="" />
                        <i class="iconfont icon-xiala"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-telephone"></i>
                        <input type="tel" id="mobile" placeholder="手机号码" class="hynewlytext i18n_ph" name="m_sjhm" />
                    </li>
                    <li>
                        <i class="iconfont icon-quanxian"></i>
                        <input type="password" id="pwd" placeholder="登录密码" class="hynewlytext i18n_ph" name="m_dlmm" />
                    </li>
                </ul>
                <div class="wx_hynewlybtn" id="submits" onclick="doSave();">
                    <p><span class="i18n" name="m_bc">保存</span></p>
                </div>
            </div>
        </section>
    </article>
    <% include ../../_foot.html %>
    <script src="../menber/mboptAdd.js"></script>
    <script src="../../js/md5.min.js"></script>
</body>

</html>